<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="com.zeligsoft.domain.ngc.ccm.ui.PortDecoratorProvider">
         <Priority
               name="Highest">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="com.zeligsoft.domain.ngc.ccm.ui.object1">
            <staticMethod
                  name="resolveSemanticElement().eClass().getName()"
                  value="Port">
            </staticMethod>
         </object>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider
            class="com.zeligsoft.domain.ngc.ccm.ui.CCMModelingAssistantProvider">
         <Priority
               name="Highest">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="ccm__component_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="Component">
            </method>
            <method
                  name="resolveSemanticElement().eClass().getEPackage().getNsURI()"
                  value="http://www.eclipse.org/uml2/2.1.0/UML">
            </method>
         </object>
         <context
               elements="ccm__component_">
         </context>
      </modelingAssistantProvider>
      <modelingAssistantProvider
            class="com.zeligsoft.domain.ngc.ccm.ui.CCMModelingAssistantProvider">
         <Priority
               name="Highest">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="ccm__port_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="Port">
            </method>
            <method
                  name="resolveSemanticElement().eClass().getEPackage().getNsURI()"
                  value="http://www.eclipse.org/uml2/2.1.0/UML">
            </method>
         </object>
         <context
               elements="ccm__port_">
         </context>
      </modelingAssistantProvider>
      <modelingAssistantProvider
            class="com.zeligsoft.domain.ngc.ccm.ui.CCMModelingAssistantProvider">
         <Priority
               name="Highest">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="ccm__interface_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="Interface">
            </method>
            <method
                  name="resolveSemanticElement().eClass().getEPackage().getNsURI()"
                  value="http://www.eclipse.org/uml2/2.1.0/UML">
            </method>
         </object>
         <context
               elements="ccm__interface_">
         </context>
      </modelingAssistantProvider>
      <modelingAssistantProvider
            class="com.zeligsoft.domain.ngc.ccm.ui.CCMModelingAssistantProvider">
         <Priority
               name="Highest">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="ccm__datatype_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="DataType">
            </method>
            <method
                  name="resolveSemanticElement().eClass().getEPackage().getNsURI()"
                  value="http://www.eclipse.org/uml2/2.1.0/UML">
            </method>
         </object>
         <context
               elements="ccm__datatype_">
         </context>
      </modelingAssistantProvider>
      <modelingAssistantProvider
            class="com.zeligsoft.domain.ngc.ccm.ui.CCMModelingAssistantProvider">
         <Priority
               name="Highest">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="ccm__enum_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="Enumeration">
            </method>
            <method
                  name="resolveSemanticElement().eClass().getEPackage().getNsURI()"
                  value="http://www.eclipse.org/uml2/2.1.0/UML">
            </method>
         </object>
         <context
               elements="ccm__enum_">
         </context>
      </modelingAssistantProvider>
   </extension>

</plugin>
