<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>

<plugin>
<extension point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
  <modeldeclaration file="resources/OpenedPage.custom"/>
</extension>
   <extension-point id="actionHandler" name="actionHandler" schema="schema/org.eclipse.papyrus.views.modelexplorer.actionHandler.exsd"/>
   <extension
         point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
      <modeldeclaration
            file="resources/ReadOnlyElement.custom">
      </modeldeclaration>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view category="org.eclipse.papyrus.views.category" class="org.eclipse.papyrus.views.modelexplorer.ModelExplorerPageBookView" icon="icons/ModelExplorer.gif" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer" name="Model Explorer" restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewer popupMenuId="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup" viewerId="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideCollapseAllAction"
                  value="true">
            </property>
         </options>
      </viewer>
      <viewerContentBinding viewerId="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
         <includes>
            <contentExtension pattern="org.eclipse.papyrus.views.modelexplorer.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <!--We add a drag assistant in order support drag and drop between Model Explorer and Table Editor or other View/editors -->
      <dragAssistant class="org.eclipse.papyrus.views.modelexplorer.dnd.EObjectDragAdapterAssistant" viewerId="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
      </dragAssistant>
      <viewerActionBinding
            viewerId="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.papyrus.views.modelexplorer.actionprovider.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent activeByDefault="false" contentProvider="org.eclipse.papyrus.infra.ui.emf.providers.MoDiscoContentProvider" id="org.eclipse.papyrus.views.modelexplorer.navigatorContent" labelProvider="org.eclipse.jface.viewers.LabelProvider" name="Model Contents" priority="lowest">
         <triggerPoints>
            <or>
               <instanceof value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <adapt type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <instanceof value="java.lang.Object">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof value="org.eclipse.gmf.runtime.notation.Diagram">
               </instanceof>
               <adapt type="org.eclipse.emf.ecore.EObject"/>
            </or>
         </possibleChildren>
         <actionProvider class="org.eclipse.papyrus.views.modelexplorer.actionprovider.GenericTransformActionProvider" id="org.eclipse.papyrus.views.modelexplorer.actionprovider.GenericTransformActionProvider">
            <enablement>
               <or>
                  <adapt type="org.eclipse.emf.ecore.EObject">
                  </adapt>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
          
         <actionProvider class="org.eclipse.papyrus.views.modelexplorer.actionprovider.EditingDomainActionProvider" id="org.eclipse.papyrus.views.modelexplorer.actionprovider.EditingDomainActionProvider">
                  <enablement>
               <and>
                  <not>
                     <instanceof value="org.eclipse.gmf.runtime.notation.Diagram">
                     </instanceof>
                  </not>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </and>
            </enablement>
         </actionProvider>
         <dropAssistant class="org.eclipse.papyrus.views.modelexplorer.dnd.CommonDropAdapterAssistant" id="org.eclipse.papyrus.views.modelexplorer.dnd.CommonDropAdapterAssistant">
            <possibleDropTargets>
               <or>
                  <instanceof value="org.eclipse.gmf.runtime.notation.impl.DiagramImpl">
                  </instanceof>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                  </adapt>
               </or>
            </possibleDropTargets>
         </dropAssistant>
    
      </navigatorContent>
      <actionProvider
            class="org.eclipse.papyrus.views.modelexplorer.actionprovider.UndoRedoActionProvider"
            id="org.eclipse.papyrus.views.modelexplorer.actionprovider.UndoRedoActionProvider">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.emf.ecore.EObject">
               </adapt>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="true"
            class="org.eclipse.papyrus.infra.widgets.providers.PatternViewerFilter"
            id="org.eclipse.papyrus.views.modelexplorer.filter"
            name="search filter"
            visibleInUI="false">
      </commonFilter>
   </extension>
    <!--  
    <extension
         point="org.eclipse.papyrus.views.modelexplorer.actionHandler">

      <customAction
            actionHandler="org.eclipse.papyrus.views.modelexplorer.factory.DefaultEMFActionsFactory"
            actionId="org.eclipse.papyrus.views.modelexplorer.factory.defaultEMFActions"
            afterAction="org.eclipse.papyrus.views.modelexplorer.factory.renameAction"
            needSeparator="true">
      </customAction>
   </extension>
-->
<extension point="org.eclipse.ui.menus">

	<!-- ModelExplorer toolbar -->
	<menuContribution allPopups="false" locationURI="toolbar:org.eclipse.papyrus.views.modelexplorer.modelexplorer">

		<!-- Load modisco browser customization command -->		
		<command commandId="org.eclipse.papyrus.views.modelexplorer.LoadBrowserCustomization" icon="icons/etool16/uiCustom.gif" label="Load browser customization" style="push">
		</command>

		<!-- Search element command -->	
		
		<!-- Sort elements command -->	
		<command commandId="org.eclipse.papyrus.views.modelexplorer.sortelement" icon="icons/etool16/sort.gif" label="sort" style="toggle">
		</command>
  <command
        commandId="org.eclipse.papyrus.views.modelexplorer.expandall"
        icon="icons/etool16/expandall.png"
        label="Expand all at selected element"
        style="push">
  </command>
  <command
        commandId="org.eclipse.papyrus.views.modelexplorer.collapseall"
        icon="icons/etool16/collapseall.png"
        label="Collapse all at selected element"
        style="push">
  </command>
	</menuContribution>
 <menuContribution allPopups="false" locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
    <separator
          name="newelements"
          visible="true">
    </separator>
    <menu id="org.eclipse.papyrus.views.modelexplorer.popupmenu.createchild" label="New Child">
    </menu>
    <menu
          icon="platform:/plugin/org.eclipse.papyrus.infra.viewpoints.policy/icons/NewDiagram.gif"
          id="org.eclipse.papyrus.views.modelexplorer.popupmenu.creatediagram"
          label="New Diagram">
    </menu>
    <command commandId="org.eclipse.ui.edit.delete" disabledIcon="IMG_TOOL_DELETE_DISABLED" icon="IMG_TOOL_DELETE" label="Delete" style="push" tooltip="Delete">
       <visibleWhen checkEnabled="true">
          <and>
             <with variable="selection">
                <iterate>
                   <adapt type="org.eclipse.emf.ecore.EObject">
                   </adapt>
                </iterate>
             </with>
          </and>
       </visibleWhen>
    </command>
    <separator name="command" visible="true">
    </separator>
    <command commandId="org.eclipse.ui.edit.undo" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.undo" label="&amp;Undo" style="push">
    </command>
    <command commandId="org.eclipse.ui.edit.redo" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.redo" label="&amp;Redo" style="push">
    </command>
    <separator name="diagramedit" visible="true">
    </separator>
    <command commandId="org.eclipse.papyrus.views.modelexplorer.popup.open.command" icon="icons/etool16/forward.gif" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.open" label="&amp;Open" style="push" tooltip="Open">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
    <command commandId="org.eclipse.papyrus.views.modelexplorer.popup.open.new.command" icon="icons/etool16/arrow_double.gif" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.open.new" label="Open In &amp;New Table" style="push" tooltip="Open in new tab">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
    <dynamic
          class="org.eclipse.papyrus.views.modelexplorer.actions.OpenWithMenu"
          id="org.eclipse.papyrus.views.modelexplorer.dynamicOpenWith">
    </dynamic>
    <command commandId="org.eclipse.papyrus.views.modelexplorer.popup.close.command" icon="icons/etool16/close.png" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.close" label="&amp;Close" style="push" tooltip="Close">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
    <command commandId="org.eclipse.papyrus.views.modelexplorer.close.all.command" icon="icons/etool16/closeAll.png" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.close.all" label="Close &amp;All" style="push" tooltip="Close All">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
    <separator name="edition" visible="true">
    </separator>
    <command commandId="org.eclipse.ui.edit.cut" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.cut" label="Cu&amp;t" style="push">
       <visibleWhen checkEnabled="false">
          <with variable="selection">
                <!-- We add this test in order to refresh the Cut action in the menu edit -->
             <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject" value="true">
             </test>
          </with>
       </visibleWhen>
    </command>
    <command commandId="org.eclipse.ui.edit.copy" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.copy" label="&amp;Copy" style="push">
       <visibleWhen checkEnabled="false">
          <with variable="selection">
                <!-- We add this test in order to refresh the Copy action in the menu edit -->
             <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject" value="true">
             </test>
          </with>
       </visibleWhen>
    </command>
    <command commandId="org.eclipse.ui.edit.paste" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.paste" label="&amp;Paste" style="push">
       <visibleWhen checkEnabled="false">
          <with variable="selection">
                <!-- We add this test in order to refresh the Paste action in the menu edit -->
             <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject" value="true">
             </test>
          </with>
       </visibleWhen>
    </command>
    <separator
          name="tools"
          visible="true">
    </separator>
    <separator
          name="others"
          visible="true">
    </separator>
    <separator
          name="additions"
          visible="false">
    </separator>
 </menuContribution>
	<!-- ModelExplorer Contextual menu -->       
  <menuContribution allPopups="false" locationURI="popup:org.eclipse.papyrus.uml.modelrepair.refactor">
  <separator name="rename" visible="true">
    </separator>
    <command commandId="org.eclipse.ui.edit.rename" icon="icons/etool16/rename.gif" id="org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup.rename" label="&amp;Rename" style="push" tooltip="Rename the element">
       <visibleWhen checkEnabled="true">
       </visibleWhen>
    </command>
  </menuContribution>     
</extension>

<!-- Command declarations (for model explorer toolbar and contextual menu -->
<extension point="org.eclipse.ui.commands">

	<!-- Command declaration : Load modisco browser customization command -->			
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.views.modelexplorer.handler.LoadBrowserCustomization" description="Load a customization for the papyrus browser" id="org.eclipse.papyrus.views.modelexplorer.LoadBrowserCustomization" name="Customize Model Explorer">
	</command>
	
	<!-- Command declaration : Search element command -->			
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.views.modelexplorer.handler.SearchElementHandler" description="Search an element in the model explorer" id="org.eclipse.papyrus.views.modelexplorer.searchelement" name="Quick Search">
	</command>
	
	<!-- Command declaration : Sort elements command -->			
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.views.modelexplorer.handler.SortElementHandler" description="Sort elements" id="org.eclipse.papyrus.views.modelexplorer.sortelement" name="Sort elements">
         <state
               class="org.eclipse.papyrus.views.modelexplorer.handler.SortElementState:org.eclipse.papyrus.views.modelexplorer.modelexplorer"
               id="org.eclipse.ui.commands.toggleState">
         </state>
	</command>
       
	<!-- Command declaration : Delete element command -->
	<command categoryId="org.eclipse.papyrus.editor.category" defaultHandler="org.eclipse.papyrus.views.modelexplorer.handler.DeleteCommandHandler" description="Delete" id="org.eclipse.papyrus.uml.service.creation.DeleteCommand" name="Delete">
	</command>
 <command
       categoryId="org.eclipse.papyrus.editor.category"
       defaultHandler="org.eclipse.papyrus.views.modelexplorer.handler.ExpandAllHandler"
       description="Expand All at selected Element"
       id="org.eclipse.papyrus.views.modelexplorer.expandall"
       name="Expand All at Selected Element (Ctrl+ Shift+ Numpad_Multiply)">
 </command>
 <command
       categoryId="org.eclipse.papyrus.editor.category"
       defaultHandler="org.eclipse.papyrus.views.modelexplorer.handler.CollapseAllHandler"
       description="Collapse All at selected Element"
       id="org.eclipse.papyrus.views.modelexplorer.collapseall"
       name="Collapse All at Selected Element (Ctrl+ Shift+ Numpad_Divide)">
 </command>       
</extension>
    
    
   <extension point="org.eclipse.core.runtime.preferences">
		<?gmfgen generated="false"?>
		<initializer class="org.eclipse.papyrus.views.modelexplorer.preferences.NavigatorPreferenceInitializer"/>
  <initializer
        class="org.eclipse.papyrus.views.modelexplorer.preferences.FilterPreferenceInitializer">
  </initializer>
  <initializer
        class="org.eclipse.papyrus.views.modelexplorer.preferences.ExpandPreferenceInitializer">
  </initializer>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.eclipse.papyrus.infra.core.sasheditor.preferences.generalcategory" class="org.eclipse.papyrus.views.modelexplorer.preferences.ModelExplorerPreferencePage" id="org.eclipse.papyrus.views.modelexplorer.preferences.NavigatorPreferencePage" name="Model Explorer">
      </page>
   </extension>

<!-- This declaration is added in order command (DeleteCommandHandler) status to be
     verified (isVisible and isEnabled) before any attempt to execute the command, 
     and to mask the command in case it is not supported or executable.
  -->
<extension point="org.eclipse.ui.navigator.linkHelper">
   <linkHelper class="org.eclipse.papyrus.views.modelexplorer.LinkHelper" id="org.eclipse.papyrus.views.modelexplorer.linkHelper">
       <selectionEnablement>
         <instanceof value="java.lang.Object">
         </instanceof>
      </selectionEnablement>
      <editorInputEnablement>
         <instanceof value="org.eclipse.ui.IFileEditorInput">
         </instanceof>
      </editorInputEnablement>
   </linkHelper>
</extension>

<!-- This handler is activated when deleteInModelExplorer variable is valid.
  -->
<extension point="org.eclipse.ui.commands">
   <command categoryId="org.eclipse.papyrus.editor.category" description="The command to open in a tab" id="org.eclipse.papyrus.views.modelexplorer.popup.open.command" name="Open Command">
   </command>
   <command categoryId="org.eclipse.papyrus.editor.category" description="The command to open in a new tab" id="org.eclipse.papyrus.views.modelexplorer.popup.open.new.command" name="Open In New Tab Command">
   </command>
   <command categoryId="org.eclipse.papyrus.editor.category" description="The command to close" id="org.eclipse.papyrus.views.modelexplorer.popup.close.command" name="Close Command">
   </command>
   <command categoryId="org.eclipse.papyrus.editor.category" description="The command to close all " id="org.eclipse.papyrus.views.modelexplorer.close.all.command" name="Close All Command">
   </command>
   <command categoryId="org.eclipse.papyrus.editor.category" description="The Command to duplicate the selected element" id="org.eclipse.papyrus.views.modelexplorer.duplicate.command" name="Duplicate ">
   </command>
</extension>
<extension point="org.eclipse.ui.handlers">
   <handler commandId="org.eclipse.papyrus.views.modelexplorer.popup.close.command">
      <activeWhen>
         <with variable="selection">
            <and>
               <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isPage" value="true">
               </test>
            </and>
         </with>
      </activeWhen>
      <class class="org.eclipse.papyrus.views.modelexplorer.handler.CloseHandler">
         <parameter name="close_parameter" value="selection">
         </parameter>
      </class>
   </handler>
   <handler commandId="org.eclipse.papyrus.views.modelexplorer.close.all.command">
      <class class="org.eclipse.papyrus.views.modelexplorer.handler.CloseHandler">
         <parameter name="close_parameter" value="all">
         </parameter>
      </class>
      <activeWhen>
         <with variable="selection">
            <and>
               <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isPage" value="true">
               </test>
            </and>
         </with>
      </activeWhen>
   </handler>
   <handler commandId="org.eclipse.papyrus.views.modelexplorer.popup.open.command">
      <activeWhen>
         <with variable="selection">
            <and>
               <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isPage" value="true">
               </test>
            </and>
         </with>
      </activeWhen>
      <class class="org.eclipse.papyrus.views.modelexplorer.handler.OpenHandler">
         <parameter name="open_parameter" value="close">
         </parameter>
      </class>
   </handler>
   <handler commandId="org.eclipse.papyrus.views.modelexplorer.popup.open.new.command">
      <activeWhen>
         <with variable="selection">
            <and>
               <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isPage" value="true">
               </test>
            </and>
         </with>
      </activeWhen>
      <class class="org.eclipse.papyrus.views.modelexplorer.handler.OpenHandler">
         <parameter name="open_parameter" value="already_open">
         </parameter>
      </class>
   </handler>
   <handler class="org.eclipse.papyrus.views.modelexplorer.handler.CutHandler" commandId="org.eclipse.ui.edit.cut">
      <activeWhen>
         <and>
            <with variable="activePart">
               <instanceof value="org.eclipse.papyrus.views.modelexplorer.ModelExplorerPageBookView">
               </instanceof>
            </with>
            <with variable="selection">
                  <!-- We add this test in order to refresh the Cut action in the menu edit -->
               <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject" value="true">
               </test>
            </with>
         </and>
      </activeWhen>
   </handler>
   <handler class="org.eclipse.papyrus.views.modelexplorer.handler.UndoHandler" commandId="org.eclipse.ui.edit.undo">
      <activeWhen>
         <and>
            <with variable="activePart">
               <instanceof value="org.eclipse.papyrus.views.modelexplorer.ModelExplorerPageBookView">
               </instanceof>
            </with>
            <with variable="activePart">
                  <!-- We add this test in order to refresh the Undo action in the menu file -->
               <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.view.isModelExplorer" value="true">
               </test>
            </with>
         </and>
      </activeWhen>
   </handler>
   <handler class="org.eclipse.papyrus.views.modelexplorer.handler.RedoHandler" commandId="org.eclipse.ui.edit.redo">
      <activeWhen>
         <and>
            <with variable="activePart">
               <instanceof value="org.eclipse.papyrus.views.modelexplorer.ModelExplorerPageBookView">
               </instanceof>
            </with>
            <with variable="activePart">
                  <!-- We add this test in order to refresh the Redo action in the menu edit -->
               <test forcePluginActivation="true" property="org.eclipse.papyrus.views.modelexplorer.tester.view.isModelExplorer" value="true">
               </test>
            </with>
         </and>
      </activeWhen>
   </handler>
   <handler
         class="org.eclipse.papyrus.views.modelexplorer.handler.DeleteCommandHandler"
         commandId="org.eclipse.ui.edit.delete">
      <activeWhen>
         <with
               variable="selection">
            <and>
               <with
                     variable="activePart">
                  <instanceof
                        value="org.eclipse.papyrus.views.modelexplorer.ModelExplorerPageBookView">
                  </instanceof>
               </with>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject"
                     value="true">
               </test>
            </and>
         </with>
      </activeWhen>
   </handler>
   <handler
         class="org.eclipse.papyrus.views.modelexplorer.handler.CopyHandler"
         commandId="org.eclipse.ui.edit.copy">
      <activeWhen>
         <and>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.papyrus.views.modelexplorer.ModelExplorerPageBookView">
               </instanceof>
            </with>
            <with
                  variable="selection">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject"
                     value="true">
               </test>
            </with>
         </and>
      </activeWhen>
   </handler>
    <handler
          class="org.eclipse.papyrus.views.modelexplorer.handler.PasteHandler"
          commandId="org.eclipse.ui.edit.paste">
       <activeWhen>
          <and>
             <with
                   variable="activePart">
                <instanceof
                      value="org.eclipse.papyrus.views.modelexplorer.ModelExplorerPageBookView">
                </instanceof>
             </with>
             <with
                   variable="selection">
                <test
                      forcePluginActivation="true"
                      property="org.eclipse.papyrus.views.modelexplorer.tester.isEObject"
                      value="true">
                </test>
             </with>
          </and>
       </activeWhen>
    </handler>
    <handler
          class="org.eclipse.papyrus.views.modelexplorer.handler.ExpandAllHandler"
          commandId="org.eclipse.ui.navigate.expandAll">
    </handler>   
</extension>
<extension point="org.eclipse.core.expressions.propertyTesters">
      <!-- the property tester is used to enabled/disabled handler -->
   <propertyTester class="org.eclipse.papyrus.views.modelexplorer.provider.PropertyTester" id="org.eclipse.papyrus.views.modelexplorer.tester" namespace="org.eclipse.papyrus.views.modelexplorer.tester" properties="isEObject,isPage,eClass" type="org.eclipse.jface.viewers.IStructuredSelection">
   </propertyTester>
   <propertyTester class="org.eclipse.papyrus.views.modelexplorer.provider.PropertyTester" id="org.eclipse.papyrus.views.modelexplorer.tester.view" namespace="org.eclipse.papyrus.views.modelexplorer.tester.view" properties="isModelExplorer" type="org.eclipse.ui.IWorkbenchPart">
   </propertyTester>
</extension>
<!-- 
TODO: PAPYRUS EMF-FACET update uiCustom Here
   <extension point="org.eclipse.papyrus.emf.facet.infra.query.registration">
      <modelqueryset file="resources/PapyrusEcoreBrowserQuery.querySet"/>
   </extension>
   <extension point="org.eclipse.papyrus.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization file="resources/PapyrusEcoreBrowser.uiCustom"/>
   </extension>
   <extension point="org.eclipse.papyrus.emf.facet.infra.facet.registration">
      <facetset file="resources/PapyrusPages.facetSet"/>
   </extension>
   <extension point="org.eclipse.papyrus.emf.facet.infra.query.registration">
      <modelqueryset file="resources/PapyrusPages.querySet"/>
   </extension>
   <extension point="org.eclipse.papyrus.emf.facet.infra.browser.custom.core.registration">
      <browserCustomization
            file="resources/PapyrusPages.uiCustom"
            loadByDefault="true"/>
   </extension>
   -->
   <extension point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <context description="The ModelExplorer labelProvider context" id="org.eclipse.papyrus.views.modelexplorer.labelProvider.context">
      </context>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.navigation.navigationContributor">
      <target
            description="Display an element in the ModelExplorer"
            id="org.eclipse.papyrus.views.modelexplorer.navigation.target"
            label="Show in ModelExplorer"
            navigationTargetProvider="org.eclipse.papyrus.views.modelexplorer.navigation.ModelExplorerNavigationTargetProvider"
            order="500">
      </target>
   </extension>
</plugin>
