<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="com.zeligsoft.cx.codegen.ui.transformation">
      <concept
            type="CCM::CCM_Artifacts::IDL3File">
         <workflow
               label="%workflow.label.0"
               path="workflow/ccm_idl.oaw">
         </workflow>
      </concept>
   </extension>
</plugin>
