<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="undesirableExceptions" name="com.zeligsoft.domain.dds4ccm.ui.errorhandlers" schema="schema/undesirableExceptions.exsd"/>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandler
            class="com.zeligsoft.domain.dds4ccm.ui.errorhandlers.statushandlers.FilteringStatusHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.errorhandlers.filteringStatusHandler">
      </statusHandler>
      <statusHandlerProductBinding
            handlerId="com.zeligsoft.domain.dds4ccm.ui.errorhandlers.filteringStatusHandler"
            productId="com.zeligsoft.papyrus-cx.axcioma.rcp.product">
      </statusHandlerProductBinding>
   </extension>
   <extension
         point="com.zeligsoft.domain.dds4ccm.ui.errorhandlers.undesirableExceptions">
      <undesirableException
            exceptionClassName="java.lang.NullPointerException"
            maximumDepth="3"
            originClassNamePattern="org.eclipse.papyrus.views.modelexplorer.ModelExplorerView"
            originMethodNamePattern="deactivate">
      </undesirableException>
      <undesirableException
            exceptionClassName="java.lang.NullPointerException"
            maximumDepth="2"
            originClassNamePattern="org.eclipse.papyrus.infra.ui.lifecycleevents.SaveAndDirtyService"
            originMethodNamePattern="removeInputChangedListener">
      </undesirableException>
      <undesirableException
            exceptionClassName="java.lang.NullPointerException"
            originClassNamePattern="org.eclipse.papyrus.uml.decoratormodel.helper.DecoratorModelUtils"
            originMethodNamePattern="isDecoratorModel">
      </undesirableException>
      <undesirableException
            exceptionClassName="java.lang.NullPointerException"
            maximumDepth="2"
            originClassNamePattern="org.eclipse.papyrus.infra.ui.lifecycleevents.SaveAndDirtyService"
            originMethodNamePattern="markSaveLocation">
      </undesirableException>
   </extension>

</plugin>
