# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
MANIFEST.MF text
*.aggr text
*.c text
*.cdd text
*.cdp text
*.cfg text
*.cg_info text
*.chk text
*.classpath text
*.cmp text
*.cpp text
*.dat text
*.ecore text
*.ecore_diagram text
*.ehl text
*.emx text
*.exsd text
*.ext text
*.factorypath text
*.fbprefs text
*.g text
*.genmodel text
*.h text
*.hgignore text
*.html text
*.idl text
*.idl_orig text
*.ini text
*.jardesc text
*.java text
*.launch text
*.mappings text
*.md text
*.mk text
*.mpb text
*.mwe text
*.mwe2 text
*.oaw text
*.options text
*.pcfg text
*.plugins text
*.prefs text
*.project text
*.properties text
*.rpw text
*.rpy text
*.sbs text
*.tokens text
*.toolingmodel text
*.txt text
*.uml text
*.valModel text
*.xlsx text
*.xme text
*.xmi text
*.xml text
*.xml_gen text
*.xpt text
*.xsd text
*.xtend text
*.xtext text
*.yml text
*.zdlgen text
*.ztooling text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Denote all files that are truly binary and should not be modified.
*._trace binary
*.dll binary
*.doc binary
*.exe binary
*.gif binary
*.jar binary
*.jpg binary
*.pdf binary
*.png binary
*.ppe binary
*.so binary
*.wd binary
*.xtextbin binary
*._trace binary

