<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 Copyright 2018 ADLINK Technology Limited.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

-->

<plugin>
   <extension-point
         id="com.zeligsoft.cx.ui.portTypeWizard"
         name="Zeligsoft Port Type Wizard Configuration Extension Point"
         schema="schema/com.zeligsoft.cx.ui.portTypeWizard.exsd"/>
   <extension-point id="com.zeligsoft.cx.ui.workflowOverride" name="Zeligsoft Workflow Override Extension Point" schema="schema/com.zeligsoft.cx.ui.workflowOverride.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="cxPreferenceRoot"
            class="com.zeligsoft.cx.ui.preferences.ModelingPreferencePage"
            id="cxModelingPreference"
            name="%prefs.page.modeling.name">
      </page>
   </extension>
   
    <extension
          point="org.eclipse.ui.importWizards">
       <category
             id="com.zeligsoft.cx.ui.importWizard"
             name="%ZeligsoftCategory.name">
       </category>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=tools">
         <menu
               icon="icons/obj16/cx-perspective.gif"
               id="com.zeligsoft.cx.ui.refactormenu"
               label="CX Refactor">
         </menu>
      </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=tools">
        <command
              commandId="com.zeligsoft.cx.ui.editporttype"
              label="%action.editPortType.label"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="ZMLMM::ZML_Component::PortType">
                 </test>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.cx.ui.locateondiagram"
              label="%action.label.LocateOnDiagram"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLProfile"
                       value="cxDDS4CCM">
                 </test>
              </with>
           </visibleWhen>
        </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.zeligsoft.cx.ui.actions.EditPortTypeActionDelegate"
            id="com.zeligsoft.cx.ui.editporttype"
            name="Repair Model Worker Functions">
      </command>
      <command
            defaultHandler="com.zeligsoft.cx.ui.actions.LocateElementOnDiagram"
            id="com.zeligsoft.cx.ui.locateondiagram"
            name="%action.label.LocateOnDiagram">
      </command>
   </extension>
</plugin>
