<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 Copyright 2018 ADLINK Technology Limited.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

-->

<plugin>
   <extension-point
         id="com.zeligsoft.cx.ui.portTypeWizard"
         name="Zeligsoft Port Type Wizard Configuration Extension Point"
         schema="schema/com.zeligsoft.cx.ui.portTypeWizard.exsd"/>
   <extension-point id="com.zeligsoft.cx.ui.workflowOverride" name="Zeligsoft Workflow Override Extension Point" schema="schema/com.zeligsoft.cx.ui.workflowOverride.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="cxPreferenceRoot"
            class="com.zeligsoft.cx.ui.preferences.ModelingPreferencePage"
            id="cxModelingPreference"
            name="%prefs.page.modeling.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider
            class="com.zeligsoft.cx.ui.providers.DerivedPortOperationViewProvider">
         <Priority
               name="Medium">
         </Priority>
         <context
               semanticHints="PortOperationsListCompartment"
               viewClass="org.eclipse.gmf.runtime.notation.Node">
         </context>
      </viewProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="com.zeligsoft.cx.ui.providers.DerivedPortOperationsEditPartProvider">
         <Priority
               name="Medium">
         </Priority>
         <object
         	   class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)"
               id="PortOperationsListCompartment">
                <method name="getType()" value="PortOperationsListCompartment"/>
         </object>
         <context views="PortOperationsListCompartment"/>
      </editpartProvider>
   </extension>   
   
    <extension
          point="org.eclipse.ui.importWizards">
       <category
             id="com.zeligsoft.cx.ui.importWizard"
             name="%ZeligsoftCategory.name">
       </category>
    </extension>
    <extension
          id="com.zeligsoft.cx.ui.structureDiagramOpenEditPolicy"
          name="ZeligsoftStructureOpenEditPolicy"
          point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
       <editpolicyProvider
             class="com.zeligsoft.cx.ui.providers.StructureEditPolicy">
          <Priority
                name="High">
          </Priority>
          <object
         		class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="PrimaryPart">
         </object>
          <context
                editparts="PrimaryPart">
          </context>
       </editpolicyProvider>
    </extension>
    <extension
          point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
       <metamodel
             nsURI="com.zeligsoft.cx.ui.metamodel1">
          <adviceBinding
                class="com.zeligsoft.cx.ui.edithelpers.DomainConfigurationEditHelperAdvice"
                id="com.zeligsoft.cx.ui.domainConfigurationAdviceBinding"
                inheritance="all"
                typeId="com.ibm.xtools.uml.element">
          </adviceBinding>
          <adviceBinding
                class="com.zeligsoft.cx.ui.edithelpers.PackageEditHelperAdvice"
                id="com.zeligsoft.cx.ui.packageAdviceBinding"
                inheritance="all"
                typeId="com.ibm.xtools.uml.package">
          </adviceBinding>
       </metamodel>
    </extension>
    <extension
          point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
       <binding
             context="com.ibm.xtools.uml.type.context">
          <advice
                ref="com.zeligsoft.cx.ui.domainConfigurationAdviceBinding">
          </advice>
          <advice
                ref="com.zeligsoft.cx.ui.packageAdviceBinding">
          </advice>
       </binding>
    </extension>
    <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.zeligsoft.cx.ui.editPortType"
            objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
         <action
               class="com.zeligsoft.cx.ui.actions.EditPortTypeActionDelegate"
               enablesFor="1"
               id="com.zeligsoft.cx.ui.editPortTypeAction"
               label="%action.editPortType.label"
               menubarPath="additions">
         </action>
         <visibility>
           <objectState
                 name="isZDLConcept"
                 value="ZMLMM::ZML_Component::PortType">
           </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            id="com.zeligsoft.cx.ui.deletePort"
            objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
         <visibility>
            <and>
               <objectState
                     name="isZDLConcept"
                     value="ZMLMM::ZML_Component::Port">
               </objectState>
               <objectState
                     name="needDeletePortMenu"
                     value="true">
               </objectState>
            </and>
         </visibility>
         <action
               class="com.zeligsoft.cx.ui.actions.DeletePortActionDelegate"
               enablesFor="+"
               id="com.zeligsoft.cx.ui.deletePortAction"
               label="%action.deletePort.label"
               menubarPath="editGroup">
         </action>
      </objectContribution>
	</extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             id="com.zeligsoft.cx.ui.ElementLabelDisplayMenuId"
             objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
          <menu
                id="cxstructure.labelDisplay"
                label="%menu.label.SetElementLabel"
                path="group.new">
             <separator
                   name="cxstructure.displayOptions">
             </separator>
          </menu>
          <action
                class="com.zeligsoft.cx.ui.actions.ShowElementNameOnlyActionDelegate"
                enablesFor="+"
                id="com.zeligsoft.domain.dds4ccm.ui.showElementNameOnly"
                label="%action.label.ShowElementName"
                menubarPath="cxstructure.labelDisplay/cxstructure.displayOptions">
          </action>
          <action
                class="com.zeligsoft.cx.ui.actions.ShowElementNameAndTypeNameActionDelegate"
                enablesFor="+"
                id="com.zeligsoft.domain.dds4ccm.ui.showElementNameAndTypeName"
                label="%action.label.ShowElementNameAndType"
                menubarPath="cxstructure.labelDisplay/cxstructure.displayOptions">
          </action>
          <visibility>
             <objectState
                   name="isZDLStructureDiagram"
                   value="true">
             </objectState>
          </visibility>
       </objectContribution>
       <viewerContribution
             id="com.zeligsoft.cx.ui.LocateInDiagram"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <action
                class="com.zeligsoft.cx.ui.actions.LocateElementOnDiagram"
                enablesFor="1"
                id="com.zeligsoft.cx.ui.locateInDiagramAction"
                label="%action.label.LocateOnDiagram"
                menubarPath="additions">
          </action>
          <visibility>
             <objectState
                   name="umlType"
                   value="Element">
             </objectState>
          </visibility>
       </viewerContribution>
       <objectContribution
             adaptable="false"
             id="com.zeligsoft.converToDevicePixel.popupmenu"
             nameFilter="*.emx"
             objectClass="org.eclipse.core.resources.IFile">
          <action
                class="com.zeligsoft.cx.ui.actions.ConvertModelDiagrams"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.convertToLogical"
                label="%action.convertModelDiagrams"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
       </objectContribution>
    </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">               
      <viewerContentBinding
        viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
              pattern="com.zeligsoft.cx.ui.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>           
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
        <commonFilter
              activeByDefault="true"
              class="com.zeligsoft.cx.ui.filters.WorkerFunctionImplFilter"
              description="%WorkerFunctionImpl.description"
              id="com.zeligsoft.cx.ui.filters.workerFunctionImpl"
              name="%WorkerFunctionImpl.name">       
        </commonFilter>
   </extension>
</plugin>
