<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.emf.compare.edit.adapterFactory">
      <factory
            class="org.eclipse.papyrus.compare.uml2.edit.internal.decorator.PapyrusItemProviderAdapterFactoryDecorator"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.compare.provider.IItemStyledLabelProvider
               org.eclipse.emf.compare.provider.IItemDescriptionProvider"
            context="org.eclipse.papyrus.compare.uml2.edit.internal.decorator.PapyrusItemProviderContextTester"
            description="This provider displays Papyrus elements like they are a new kind of UML element. It uses the icons and labels provided through the Papyrus label provider service."
            label="Papyrus element item provider"
            optional="true"
            ranking="80"
            uri="http://www.eclipse.org/uml2/5.0.0/UML">
      </factory>
      <factory
            class="org.eclipse.papyrus.compare.uml2.edit.internal.decorator.PapyrusCompareItemProviderAdapterFactoryDecorator"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.compare.provider.ISemanticObjectLabelProvider
               org.eclipse.emf.compare.provider.IItemStyledLabelProvider
               org.eclipse.emf.compare.provider.IItemDescriptionProvider"
            context="org.eclipse.papyrus.compare.uml2.edit.internal.decorator.PapyrusItemProviderContextTester"
            description="Presents Papyrus-specific semantics of certain changes in a comparison."
            label="Papyrus diff item provider"
            optional="false"
            ranking="80"
            uri="http://www.eclipse.org/emf/compare">
      </factory>
   </extension>

</plugin>
