<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="Papyrus CX for AXCIOMA Target Platform - Release" sequenceNumber="1654704615">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe.core.feature.feature.group" version="1.5.3.v20200520-0756"/>
      <unit id="org.eclipse.emf.mwe.ui.feature.feature.group" version="1.5.3.v20200520-0756"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.11.3.v20200520-0756"/>
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.11.3.v20200520-0756"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.11.3.v20200520-0756"/>
      <unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.19.300.v20200525-1407"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.13.0.202004160913"/>
      <unit id="org.eclipse.launchbar.feature.group" version="2.4.100.202001141724"/>
      <unit id="org.eclipse.ocl.feature.group" version="3.14.3.v20200608-1555"/>
      <unit id="org.eclipse.ocl.ui.feature.group" version="2.12.0.v20200608-1555"/>
      <unit id="org.eclipse.platform.feature.group" version="4.16.0.v20200604-0951"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.16.0.v20200604-0951"/>
      <unit id="org.eclipse.uml2.feature.group" version="5.5.1.v20200302-1312"/>
      <unit id="org.eclipse.uml2.codegen.ecore.ui.feature.group" version="2.5.0.v20200302-1312"/>
      <unit id="org.eclipse.uml2.common.feature.group" version="2.5.0.v20200302-1312"/>
      <unit id="org.eclipse.uml2.common.edit.feature.group" version="2.5.0.v20200302-1312"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.1.v20200302-1312"/>
      <unit id="org.eclipse.uml2.uml.feature.group" version="5.5.0.v20200302-1312"/>
      <unit id="org.eclipse.uml2.uml.edit.feature.group" version="5.5.0.v20200302-1312"/>
      <unit id="org.eclipse.xpand.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xpand.ui.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.22.0.v20200602-1533"/>
      <unit id="org.eclipse.xtend.typesystem.emf.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.typesystem.uml2.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.typesystem.xsd.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtend.ui.feature.group" version="2.2.0.v201605260315"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="2.22.0.v20200602-1533"/>
      <unit id="org.eclipse.xtext.ui.feature.group" version="2.22.0.v20200602-1533"/>
      <unit id="org.eclipse.xtext.xbase.feature.group" version="2.22.0.v20200602-1533"/>
      <unit id="org.eclipse.xtext.xbase.lib.feature.group" version="2.22.0.v20200602-0715"/>
      <unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
      <unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
      <unit id="com.google.inject" version="3.0.0.v201605172100"/>
      <unit id="com.sun.xml.bind" version="2.2.0.v201505121915"/>
      <unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
      <unit id="org.eclipse.tm.terminal.control" version="4.6.1.202005200056"/>
      <unit id="org.eclipse.tools.templates.core" version="1.1.100.202001140305"/>
      <unit id="org.eclipse.tools.templates.freemarker" version="1.1.100.202001140305"/>
      <unit id="org.eclipse.tools.templates.ui" version="1.1.100.202001140305"/>
      <unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.18.0.v202005192253"/>
      <unit id="org.freemarker" version="2.3.22.v20160210-1233"/>
      <repository id="eclipse-2020-06" location="https://download.eclipse.org/releases/2020-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.egit.feature.group" version="5.8.0.202006091008-r"/>
      <unit id="org.eclipse.jgit.feature.group" version="5.8.0.202006091008-r"/>
      <repository id="egit" location="https://archive.eclipse.org/egit/updates-5.8/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.feature.group" version="3.3.11.202005260905"/>
      <unit id="org.eclipse.emf.compare.diagram.gmf.feature.group" version="3.3.11.202005260905"/>
      <unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.11.202005260905"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.11.202005260905"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="3.3.11.202005260905"/>
      <unit id="org.eclipse.emf.compare.uml2.feature.group" version="3.3.11.202005260905"/>
      <repository id="emfCompare" location="https://download.eclipse.org/modeling/emf/compare/updates/releases/3.3/R202005260905/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <repository id="orbit" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="4.8.0.202006100749"/>
      <repository id="papyrus" location="https://download.eclipse.org/modeling/mdt/papyrus/updates/releases/2020-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.compare.feature.feature.group" version="0.7.0.202004302326"/>
      <repository id="papyrus-compare" location="https://download.eclipse.org/modeling/mdt/papyrus/components/compare/updates/nightly/0.7.0-N20200430-193447/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.feature.group" version="9.11.1.202006011430"/>
      <unit id="org.eclipse.cdt.gdb.feature.group" version="9.11.1.202004012021"/>
      <unit id="org.eclipse.cdt.gnu.build.feature.group" version="9.11.1.202004012021"/>
      <unit id="org.eclipse.cdt.gnu.debug.feature.group" version="9.11.1.202004012021"/>
      <unit id="org.eclipse.cdt.gnu.dsf.feature.group" version="9.11.1.202004012021"/>
      <unit id="org.eclipse.cdt.native.feature.group" version="9.11.1.202005051837"/>
      <unit id="org.eclipse.cdt.platform.feature.group" version="9.11.1.202006011430"/>
      <unit id="org.eclipse.cdt.sdk.feature.group" version="9.11.1.202006011430"/>
      <repository id="cdt" location="https://archive.eclipse.org/tools/cdt/releases/9.11/"/>
    </location>
  </locations>
</target>
