<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BaseCS -->
      <package
            uri="http://www.eclipse.org/ocl/2015/BaseCS"
            class="org.eclipse.ocl.xtext.basecs.BaseCSPackage"
            genModel="model/BaseCS.genmodel"/>
   </extension>

   <extension point="org.eclipse.ocl.pivot.label_generator">
      <generator for="org.eclipse.ocl.xtext.basecs.NamedElementCS"
      	class="org.eclipse.ocl.xtext.base.utilities.NamedElementCSLabelGenerator"/>
   </extension>

</plugin>
