<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="Papyrus CX Target Platform - Release" sequenceNumber="1604962218">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.cdt.platform.feature.group" version="9.8.1.201907021957"/>
      <repository id="cdt" location="https://archive.eclipse.org/tools/cdt/releases/9.8/cdt-9.8.1"/>
    </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="http://download.eclipse.org/releases/2020-03/"/>
		  <unit id="org.eclipse.platform.feature.group" version="4.15.0.v20200305-0155"/>
		  <unit id="org.eclipse.egit.feature.group" version="5.7.0.202003110725-r"/>
		  <unit id="org.eclipse.jgit.feature.group" version="5.7.0.202003110725-r"/>
		  <unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.5.2.v20200224-0816"/>
		  <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.12.2.201912020813"/>
		  <unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
		  <unit id="org.eclipse.xtend.sdk.feature.group" version="2.21.0.v20200302-1509"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/modeling/emf/compare/updates/releases/3.3/R202003070301/"/>
		  <unit id="org.eclipse.emf.compare.diagram.gmf.source.feature.group" version="3.3.10.202003070301"/>
		  <unit id="org.eclipse.emf.compare.egit.source.feature.group" version="3.3.10.202003070301"/>
		  <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.3.10.202003070301"/>
		  <unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="3.3.10.202003070301"/>
		  <unit id="org.eclipse.emf.compare.source.feature.group" version="3.3.10.202003070301"/>
		  <unit id="org.eclipse.emf.compare.uml2.source.feature.group" version="3.3.10.202003070301"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200224183213/repository/"/>
		  <unit id="com.google.inject" version="3.0.0.v201605172100"/>
	  </location>
  </locations>
</target>