<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="Papyrus CX Target Platform - Release" sequenceNumber="1604962218">
  <locations>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://archive.eclipse.org/tools/cdt/releases/9.11/"/>
		  <unit id="org.eclipse.cdt.sdk.feature.group" version="9.11.1.202006011430"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="http://download.eclipse.org/releases/2020-06/"/>
		  <unit id="org.eclipse.platform.feature.group" version="4.16.0.v20200604-0951"/>
		  <unit id="org.eclipse.egit.feature.group" version="5.8.0.202006091008-r"/>
		  <unit id="org.eclipse.jgit.feature.group" version="5.8.0.202006091008-r"/>
		  <unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.5.3.v20200520-0756"/>
		  <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.13.0.202004160913"/>
		  <unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
		  <unit id="org.eclipse.xtend.sdk.feature.group" version="2.22.0.v20200602-1533"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/modeling/emf/compare/updates/releases/3.3/R202005260905/"/>
		  <unit id="org.eclipse.emf.compare.diagram.gmf.source.feature.group" version="3.3.11.202005260905"/>
		  <unit id="org.eclipse.emf.compare.egit.source.feature.group" version="3.3.11.202005260905"/>
		  <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.3.11.202005260905"/>
		  <unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="3.3.11.202005260905"/>
		  <unit id="org.eclipse.emf.compare.source.feature.group" version="3.3.11.202005260905"/>
		  <unit id="org.eclipse.emf.compare.uml2.source.feature.group" version="3.3.11.202005260905"/>
	  </location>
	  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		  <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository/"/>
		  <unit id="com.google.inject" version="3.0.0.v201605172100"/>
	  </location>
  </locations>
</target>