<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://DDS4CCM_CORBA_LIBRARIES/"
            target="platform:/plugin/com.zeligsoft.domain.dds4ccm.corbaconnector/models/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLLibrary">
      <library
            name="CCM CORBA Connector"
            path="pathmap://DDS4CCM_CORBA_LIBRARIES/CCM_CORBA.uml">
      </library>
   </extension>
</plugin>
