<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.prismtech.domain.sca.ppls.PVMGen"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.prismtech.domain.sca.ppls.headless.Application">
         </run>
      </application>
   </extension>

</plugin>
