<?xml version="1.0" encoding="UTF-8"?><?pde version="3.8"?><target name="dds4ccm" sequenceNumber="1">
<locations>
<location path="/opt/IBM/SDP/" type="Profile"/>
<location path="/vagrant/dds4ccm_files/dds4ccm_dependencies" type="Profile"/>
</locations>
</target>