<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="RSAPlatform" sequenceNumber="5">
<locations>
<location path="/home/build/bucky/rsa95-target/SDP" type="Profile"/>
</locations>
</target>