<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="com.zeligsoft.domain.dds4ccm.rhapsody.net4j.server.ModelServicesServerProtocol$Factory"
            productGroup="org.eclipse.net4j.serverProtocols"
            type="CXEclipseServer">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.zeligsoft.domain.dds4ccm.rhapsody.net4j.server.StartupNet4j">
      </startup>
   </extension>

</plugin>
