[Desktop Entry]
Encoding=UTF-8
Name=Papyrus CX for AXCIOMA
Comment=Papyrus CX for AXCIOMA
Exec=/opt/papyrus-cx-axcioma/papyrus-cx
Icon=/opt/papyrus-cx-axcioma/icon.xpm
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=false
StartupNotify=true

