<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.ibm.xtools.uml.msl.UMLLibraries">
      <UMLLibrary
            name="eorb-vxworks69-gnu-arm"
            path="pathmap://BUILD_CONFIG_EORB_VXWORKS69_GNU_ARM/eorb-vxworks69-gnu-arm.library.uml">
      </UMLLibrary>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://BUILD_CONFIG_EORB_VXWORKS69_GNU_ARM/"
            target="platform:/plugin/com.prismtech.spectracx.target.eorb-vxworks69-gnu-arm/models/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="docs_toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="com.zeligsoft.base.licensing.license_check">
      <license_check
            class="com.prismtech.spectracx.target.eorb_vxworks69_gnu_arm.LicenseListener">
      </license_check>
   </extension>
</plugin>
