<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/papyrus/infra/gmfdiag/css3/CSS" 
       class = "org.eclipse.papyrus.infra.gmfdiag.css3.cSS.CSSPackage"
       genModel = "model/generated/CSS.genmodel" /> 
	
  </extension>



</plugin>
