<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Markup -->
      <package
            uri="http://www.eclipse.org/ocl/2015/MarkupCS"
            class="org.eclipse.ocl.xtext.markupcs.MarkupPackage"
            genModel="model/Markup.genmodel"/>
   </extension>

</plugin>
