<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/papyrus/uml/textedit/common/xtext/UmlCommon" 
       class = "org.eclipse.papyrus.uml.textedit.common.xtext.umlCommon.UmlCommonPackage"
       genModel = "org/eclipse/papyrus/uml/textedit/common/xtext/UmlCommon.genmodel" /> 
	
  </extension>





</plugin>
