<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 Copyright 2018 ADLINK Technology Limited.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<plugin>
    <extension id="ide" point="org.eclipse.core.runtime.products"> 
      <product name="%productName" application="org.eclipse.ui.ide.workbench" description="%productBlurb"> 
          <property name="windowImages" value="zlogo16.gif,zlogo32.gif,zlogo48.gif,zlogo.gif"/> 
          <property name="aboutImage" value="helpAboutCX.bmp"/> 
          <property name="aboutText" value="%productBlurb"/> 
          <property name="appName" value="%productName"/> 
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
          <property
                name="startupForegroundColor"
                value="7593ab"/>
          <property
                name="startupMessageRect"
                value="10,293,380,20"/>
          <property
                name="startupProgressRect"
                value="1,314,498,15"/> 
          <property
                name="introTitle"
                value="%productIntroTitle"/>
          <property
                name="introBrandingImage"
                value="product:zeligsoft.png"/>
          <property
                name="introBrandingImageText"
                value="%productIntroBrandingText"/>
          <property
                name="introDescription-overview"
                value="%productIntroOverview"/>
          <property
                name="introDescription-tutorials"
                value="%productIntroTutorials"/>
          <property
                name="introDescription-samples"
                value="%productIntroSamples"/>
          <property
                name="buildIdLocation"
                value="386,136"/>
      </product> 
    </extension>

    <extension
        point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.zeligsoft.cx.product.zeligsoft.ide">
      </introProductBinding>
    </extension> 
</plugin>
