<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 Copyright 2018 ADLINK Technology Limited.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<plugin>
   <extension-point id="com.zeligsoft.base.validation.preload" name="ZDL Constraint Pre-load" schema="schema/com.zeligsoft.base.validation.preload.exsd"/>
   <extension
         id="com.zeligsoft.base.validation.ZDLConstraintProvider"
         name="ZDL Constraint Provider"
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.zeligsoft.base.validation.zdl"
            name="%category.zdl.name">
         %category.zdl.desc
      </category>
      <constraintProvider
            cache="false"
            class="com.zeligsoft.base.validation.provider.ZDLConstraintProvider">
         <package namespaceUri="http://www.eclipse.org/uml2/5.0.0/UML" />
      </constraintProvider>
      <constraintProvider
            cache="false"
            class="com.zeligsoft.base.validation.provider.ZDLMultiplicityConstraintProvider">
         <package namespaceUri="http://www.eclipse.org/uml2/5.0.0/UML" />
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            id="com.zeligsoft.base.validation.zdl">
         <selector
               class="com.zeligsoft.base.validation.util.ZDLModelInstanceSelector">
         </selector>
      </clientContext>
      <binding
            context="com.zeligsoft.base.validation.zdl">
         <category
               ref="com.zeligsoft.base.validation.zdl">
         </category>
      </binding>
   </extension>

</plugin>
