<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.zeligsoft.cx.ui.properties.customPropertySection" name="Custom Property Section for Concept Property" schema="schema/com.zeligsoft.cx.ui.properties.customPropertySection.exsd"/>

   <extension
	      point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections
	         contributorId="com.ibm.xtools.modeler.ui.properties">
	      <propertySection
	            afterSection="modeler.property.section.AggregationPropertySection"
	            class="com.zeligsoft.cx.ui.properties.sections.CXPropertyTabControllerSection"
	            filter="com.zeligsoft.cx.ui.properties.internal.filters.GeneralSectionControllerFilter"
	            id="com.zeligsoft.cx.ui.generalSectionController"
	            tab="modeler.property.tab.GeneralPropertySection">
	      </propertySection>
	      <propertySection
	            afterSection="com.ibm.xtools.modeler.ui.properties.internal.sections.AttributesPropertySection"
	            class="com.zeligsoft.cx.ui.properties.sections.CXPropertyTabControllerSection"
	            filter="com.zeligsoft.cx.ui.properties.internal.filters.AttributeSectionControllerFilter"
	            id="com.zeligsoft.cx.ui.attributeSectionController"
	            tab="modeler.property.tab.AttributesPropertySection">
	      </propertySection>
	      <propertySection
	            afterSection="modeler.property.section.OperationsPropertySection"
	            class="com.zeligsoft.cx.ui.properties.sections.CXPropertyTabControllerSection"
	            filter="com.zeligsoft.cx.ui.properties.internal.filters.OperationSectionControllerFilter"
	            id="com.zeligsoft.cx.ui.operationsSectionController"
	            tab="modeler.property.tab.OperationsPropertySection">
	      </propertySection>
	      <propertySection
	            afterSection="modeler.property.section.AggregationPropertySection"
	            class="com.zeligsoft.cx.ui.properties.sections.CXPropertyTabControllerSection"
	            filter="com.zeligsoft.cx.ui.properties.internal.filters.ParameterSectionControllerFilter"
	            id="com.zeligsoft.cx.ui.parameterSectionController"
	            tab="modeler.property.tab.ParametersPropertySection">
	      </propertySection>
	   </propertySections>
	</extension>

</plugin>
