<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.zeligsoft.cx.codegen.ui.transformation">
      <concept
            type="CCM::CCM_Deployment::DeploymentPlan">
         <workflow
               label="%generate.label"
               path="/workflow/ngcgenerator.mwe"
               validationFactory="com.zeligsoft.domain.dds4ccm.utils.DDS4CCMValidationFactory"
               cancelOnValidationError="true">
         </workflow>
      </concept>
      <concept
            type="DDS4CCM::DDS4CCM::DDS4CCMModel">
         <workflow
               label="%generate.label"
               path="/workflow/bulkDescriptorsGenerator.oaw"
               validationFactory="com.zeligsoft.domain.dds4ccm.utils.DDS4CCMValidationFactory"
               cancelOnValidationError="true">
         </workflow>
      </concept>
      <concept
            type="DDS4CCM::DDS4CCM::DomainDeployment">
         <workflow
               cancelOnValidationError="true"
               label="%generate.cdd.label"
               path="/workflow/ngcCDDgenerator.mwe"
               validationFactory="com.zeligsoft.domain.dds4ccm.utils.DDS4CCMValidationFactory">
         </workflow>
      </concept>
      <concept
            type="DDS4CCM::DDS4CCM::DomainDefinition">
         <workflow
               cancelOnValidationError="true"
               label="%generate.allcdds.label"
               path="/workflow/bulkCDDsGenerator.oaw"
               validationFactory="com.zeligsoft.domain.dds4ccm.utils.DDS4CCMValidationFactory">
         </workflow>
      </concept>
      <concept
            type="DDS4CCM::DDS4CCM::DDS4CCMModel">
         <workflow
               cancelOnValidationError="true"
               label="%generate.allcdds.label"
               path="/workflow/bulkCDDsGenerator.oaw"
               validationFactory="com.zeligsoft.domain.dds4ccm.utils.DDS4CCMValidationFactory">
         </workflow>
      </concept>
   </extension>
   <extension
         point="com.zeligsoft.cx.codegen.ui.transformationFileExtensions">
      <WorkflowFileExtension
            fileExtensions=".cdp, .cdd"
            workflowPath="/workflow/ngcgenerator.mwe">
      </WorkflowFileExtension>
      <WorkflowFileExtension
            fileExtensions=".cdp, .cdd"
            workflowPath="/workflow/bulkDescriptorsGenerator.oaw">
      </WorkflowFileExtension>
      <WorkflowFileExtension
            fileExtensions=".cdp, .cdd"
            workflowPath="/workflow/ngcgeneratorNoPostGeneration.mwe">
      </WorkflowFileExtension>
      <WorkflowFileExtension
            fileExtensions=".cdd"
            workflowPath="/workflow/ngcCDDgenerator.mwe">
      </WorkflowFileExtension>
      <WorkflowFileExtension
            fileExtensions=".cdd"
            workflowPath="/workflow/bulkCDDsGenerator.oaw">
      </WorkflowFileExtension>
      <WorkflowFileExtension
            fileExtensions=".cdd"
            workflowPath="/workflow/ngcCDDgeneratorNoPostGeneration.mwe">
      </WorkflowFileExtension>
   </extension>
</plugin>

