<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 Copyright 2018 ADLINK Technology Limited.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%domain.wizard.category.name"
            id="com.zeligsoft.domain.omg.dds.ui">
      </category>
      <wizard
            name="%domain.model.wizard.name"
            icon="icons/sample.gif"
            category="com.zeligsoft.domain.omg.dds.ui"
            class="com.zeligsoft.domain.omg.dds.ui.wizards.NewDDSModelWizard"
            id="com.zeligsoft.domain.omg.dds.ui.wizards.NewDDSModelWizard">
      </wizard>
      <wizard
            name="%domain.project.wizard.name"
            icon="icons/sample.gif"
            category="com.zeligsoft.domain.omg.dds.ui"
            class="com.zeligsoft.domain.omg.dds.ui.wizards.NewDDSProjectWizard"
            id="com.zeligsoft.domain.omg.dds.ui.wizards.NewDDSProjectWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.zeligsoft.domain.omg.dds.ui.perspectives.DDSPerspective"
            icon="icons/wizban/DDS-logo.gif"
            id="com.zeligsoft.domain.omg.dds.ui.perspectives.DDSPerspective"
            name="%dds.perspective.name">
         <description>
            %dds.perspective.description
         </description>
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.omg.dds.ui.perspectives.DDSPerspective">
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>         
         <actionSet id="com.ibm.xtools.modeler.ui.actions.ModelingActionSet">
         </actionSet>
         <actionSet id="org.eclipse.gmf.runtime.diagram.ui.DiagramActionSet">
         </actionSet>
         <view ratio="0.26" relative="org.eclipse.ui.editorss" visible="true" relationship="left" id="org.eclipse.ui.navigator.ProjectExplorer" minimized="false">
         </view>
         <view ratio=".66" relative="org.eclipse.ui.navigator.ProjectExplorer" visible="true" relationship="bottom" id="org.eclipse.ui.views.ContentOutline" minimized="false">
         </view>         
         <view ratio=".66" relative="org.eclipse.ui.editorss" visible="true" relationship="bottom" id="org.eclipse.ui.views.PropertySheet" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.views.TaskList" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.console.ConsoleView" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.views.BookmarkView" minimized="false">
         </view>
         <viewShortcut id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet">
         </viewShortcut> 
         <viewShortcut id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>                       
         <viewShortcut id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.BookmarkView">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut id="org.eclipse.gef.ui.palette_view">
         </viewShortcut>                
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <perspectiveShortcut id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="com.zeligsoft.domain.omg.dds.ui.perspectives.DDSPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.cdt.ui.CPerspective">
         <perspectiveShortcut id="com.zeligsoft.domain.omg.dds.ui.perspectives.DDSPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>      
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.omg.dds.ui.perspectives.DDSPerspective">
         <actionSet id="org.eclipse.debug.ui.analysisActionSet"/>
      </perspectiveExtension>
   </extension> 
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.omg.dds.ui.perspectives.DDSPerspective">
         <actionSet id="modelerSearchActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.omg.dds.ui.perspectives.DDSPerspective">
         <actionSet id="com.ibm.xtools.publish.ui.internal.actions.PublishActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.omg.dds.ui.perspectives.DDSPerspective">
         <newWizardShortcut id="com.zeligsoft.domain.omg.dds.ui.wizards.NewDDSProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut id="com.zeligsoft.domain.omg.dds.ui.wizards.NewDDSModelWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="com.zeligsoft.domain.omg.ui.actions.addPackage.popupmenuid"
         name="Package PopupActions"
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.zeligsoft.domain.omg.dds.ui.addPackageViewerContribution"
            targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <visibility>
            <and>
	            <or>
	               <objectState
	                     name="umlType"
	                     value="Package">
	               </objectState>
	               <objectState
	                     name="umlType"
	                     value="Model">
	               </objectState>
	            </or>
	            <objectState
	            		name="isZDLProfile"
	            		value="DDS" />
	         </and>
         </visibility>
         <action
               class="com.zeligsoft.domain.omg.dds.ui.actions.AddDDSActionDelegate"
               enablesFor="1"
               id="addDDS_Domain_actionId"
               label="Domain"
               menubarPath="zeligsoft.menu/zeligsoft.add">
         </action>
         <action
               class="com.zeligsoft.domain.omg.dds.ui.actions.AddDDSActionDelegate"
               enablesFor="1"
               id="addDDS_DDSComponent_actionId"
               label="DDS Component"
               menubarPath="zeligsoft.menu/zeligsoft.add">
         </action>
         <action
               class="com.zeligsoft.domain.omg.dds.ui.actions.AddDDSActionDelegate"
               enablesFor="1"
               id="addDDS_Subscriber_actionId"
               label="Subscriber"
               menubarPath="zeligsoft.menu/zeligsoft.add">
         </action>
         <action
               class="com.zeligsoft.domain.omg.dds.ui.actions.AddDDSActionDelegate"
               enablesFor="1"
               id="addDDS_Publisher_actionId"
               label="Publisher"
               menubarPath="zeligsoft.menu/zeligsoft.add">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="com.zeligsoft.domain.omg.ui.actions.addDDSComponent.popupmenuid"
         name="DDSComponent PopupActions"
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.zeligsoft.domain.omg.dds.ui.addDDSComponentViewerContribution"
            targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <visibility>
            <objectState
                  name="isZDLConcept"
                  value="DDS::DCPS::DDSComponent">
            </objectState>
         </visibility>
         <action
               class="com.zeligsoft.domain.omg.dds.ui.actions.AddDDSActionDelegate"
               enablesFor="1"
               id="addDDS_ComponentPart_actionId"
               label="Part"
               menubarPath="zeligsoft.menu/zeligsoft.add">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="com.zeligsoft.domain.omg.ui.actions.addDomain.popupmenuid"
         name="Domain PopupActions"
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.zeligsoft.domain.omg.dds.ui.addDomainViewerContribution"
            targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <visibility>
            <objectState
                  name="isZDLConcept"
                  value="DDS::DCPS::Domain">
            </objectState>
         </visibility>
         <action
               class="com.zeligsoft.domain.omg.dds.ui.actions.AddDDSActionDelegate"
               enablesFor="1"
               id="addDDS_DomainParticipant_actionId"
               label="Participant"
               menubarPath="zeligsoft.menu/zeligsoft.add">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="com.zeligsoft.domain.omg.ui.actions.addPublisher.popupmenuid"
         name="Publisher PopupActions"
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.zeligsoft.domain.omg.dds.ui.addPublisherViewerContribution"
            targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <visibility>
            <objectState
                  name="isZDLConcept"
                  value="DDS::DCPS::Publisher">
            </objectState>
         </visibility>
         <action
               class="com.zeligsoft.domain.omg.dds.ui.actions.AddDDSActionDelegate"
               enablesFor="1"
               id="addDDS_DataReader_actionId"
               label="Data Reader"
               menubarPath="zeligsoft.menu/zeligsoft.add">
         </action>
         <action
               class="com.zeligsoft.domain.omg.dds.ui.actions.AddDDSActionDelegate"
               enablesFor="1"
               id="addDDS_DataWriter_actionId"
               label="Data Writer"
               menubarPath="zeligsoft.menu/zeligsoft.add">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="com.zeligsoft.domain.omg.ui.actions.addSubscriber.popupmenuid"
         name="Subscriber PopupActions"
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.zeligsoft.domain.omg.dds.ui.addSubscriberViewerContribution"
            targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <visibility>
            <objectState
                  name="isZDLConcept"
                  value="DDS::DCPS::Subscriber">
            </objectState>
         </visibility>
         <action
               class="com.zeligsoft.domain.omg.dds.ui.actions.AddDDSActionDelegate"
               enablesFor="1"
               id="addDDS_DataReader_actionId"
               label="Data Reader"
               menubarPath="zeligsoft.menu/zeligsoft.add">
         </action>
         <action
               class="com.zeligsoft.domain.omg.dds.ui.actions.AddDDSActionDelegate"
               enablesFor="1"
               id="addDDS_DataWriter_actionId"
               label="Data Writer"
               menubarPath="zeligsoft.menu/zeligsoft.add">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="DDS ElementTypes"
         name="DDS ElementTypes"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <metamodel
            nsURI="http://www.eclipse.org/uml2/2.1.0/UML">
         <adviceBinding
               class="com.zeligsoft.domain.omg.dds.ui.edithelpers.DDSComponentEditHelperAdvice"
               id="com.zeligsoft.domain.omg.dds.ui.DDSComponent"
               inheritance="all"
               typeId="com.ibm.xtools.uml.component">
         </adviceBinding>
         <adviceBinding
               class="com.zeligsoft.domain.omg.dds.ui.edithelpers.DomainEditHelperAdvice"
               id="com.zeligsoft.domain.omg.dds.ui.Domain"
               inheritance="all"
               typeId="com.ibm.xtools.uml.component">
         </adviceBinding>
         <adviceBinding
               class="com.zeligsoft.domain.omg.dds.ui.edithelpers.TopicConnectorEditHelperAdvice"
               id="com.zeligsoft.domain.omg.dds.ui.TopicConnector"
               inheritance="all"
               typeId="com.ibm.xtools.uml.component">
         </adviceBinding>
      </metamodel>
   </extension>
   <extension
         id="DDS ElementTypeBindings"
         name="DDS ElementTypeBindings"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding
            context="com.ibm.xtools.uml.type.context">
         <advice
               ref="com.zeligsoft.domain.omg.dds.ui.DDSComponent">
         </advice>
         <advice
               ref="com.zeligsoft.domain.omg.dds.ui.Domain">
         </advice>
         <advice
               ref="com.zeligsoft.domain.omg.dds.ui.TopicConnector">
         </advice>
      </binding>
      <binding
            context="com.ibm.xtools.mmi.core.context">
         <advice
               ref="com.zeligsoft.domain.omg.dds.ui.DDSComponent">
         </advice>
         <advice
               ref="com.zeligsoft.domain.omg.dds.ui.Domain">
         </advice>
      </binding>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.ibm.xtools.modeler.ui.properties">
         <propertyTab
               afterTab="modeler.property.tab.GeneralPropertySection"
               category="Core"
               id="com.zeligsoft.propertyTab.DDSPropertyTab"
               label="DDS">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.ibm.xtools.modeler.ui.properties">
         <propertySection
               class="com.zeligsoft.cx.ui.properties.sections.DomainPropertySection"
               filter="com.zeligsoft.domain.omg.dds.ui.filters.DDSDomainFilter"
               id="com.zeligsoft.domain.omg.dds.ui.propertySection"
               tab="com.zeligsoft.propertyTab.DDSPropertyTab">
         </propertySection>
      </propertySections>
   </extension>  
</plugin>
