<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.zeligsoft.ce.deploymenttable.DeploymentTableEditor"
            extensions="cetable3"
            icon="icons/sample.gif"
            id="com.zeligsoft.ce.deploymenttable2.editor1"
            name="Deployment Editor">
      </editor>
   </extension>

</plugin>
