<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 Copyright 2018 ADLINK Technology Limited.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

-->

<plugin>
<!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.zeligsoft.base.licensing.ui.actionSet"
            label="%licensingActions.set"
            visible="true">
         <action
               class="com.zeligsoft.base.licensing.ui.internal.actions.ManageLicensesActionDelegate"
               id="com.zeligsoft.base.licensing.ui.actions.ManageLicenses"
               label="%manageLicenses.label"
               menubarPath="help/additions"
               tooltip="%manageLicenses.tip">
         </action>
      </actionSet>
      <actionSet
            id="com.zeligsoft.base.licensing.ui.actionSet3"
            label="%reportGenerationActions.set"
            visible="true">
         <menu
               id="com.zeligsoft.base.licensing.ui.report_menu"
               label="%generateReportMenu.label"
               path="help/additions">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               class="com.zeligsoft.base.licensing.ui.internal.actions.GenerateInstalledPluginsReportActionDelegate"
               id="com.zeligsoft.base.licensing.ui.actions.GenerateReport"
               label="%generateReport.label"
               menubarPath="help/com.zeligsoft.base.licensing.ui.report_menu/slot1"
               tooltip="%generateReport.tip">
         </action>
         <action
               class="com.zeligsoft.base.licensing.ui.internal.actions.GenerateAndEmailInstalledPluginsReportActionDelegate"
               id="com.zeligsoft.base.licensing.ui.actions.EmailGeneratedReport"
               label="%emailGenerateReport.label"
               menubarPath="help/com.zeligsoft.base.licensing.ui.report_menu/slot1"
               tooltip="%emailGenerateReport.tip">
         </action>
      </actionSet>
   </extension>
-->
</plugin>
