<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="com.ibm.xtools.uml.msl.UMLLibraries">
      <UMLLibrary
         name="eorb-dspbios-cl6x"
         path="pathmap://BUILD_CONFIG_EORB_DSPBIOS_CL6X/eorb-dspbios-cl6x.library.uml">
      </UMLLibrary>
      <UMLLibrary
         name="eorb17-dspbios-cl6x-linux-dtp4700"
         path="pathmap://BUILD_CONFIG_EORB16_DSPBIOS_CL6X_LINUX_C/eorb16-dspbios-cl6x-linux-c.library.uml">
      </UMLLibrary>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://BUILD_CONFIG_EORB_DSPBIOS_CL6X/"
            target="platform:/plugin/com.prismtech.spectracx.target.eorb-dspbios-cl6x/models/">
      </mapping>
      <mapping
            source="pathmap://BUILD_CONFIG_EORB16_DSPBIOS_CL6X_LINUX_C/"
            target="platform:/plugin/com.prismtech.spectracx.target.eorb-dspbios-cl6x/models/">
      </mapping>
   </extension>
   <extension
         point="com.zeligsoft.base.licensing.license_check">
      <license_check
            class="com.prismtech.spectracx.target.eorb_dspbios_cl6x.LicenseListener">
      </license_check>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="docs_toc.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
