<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.6"?>

<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="Papyrus POSysML&#x0A;&#x0A;Version: {1}&#x0A;Build id: {0}&#x0A;&#x0A;(c) Copyright Zeligsoft (2009) Ltd 2017.  All rights reserved.&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://www.apache.org/"
            name="Papyrus CX for AXCIOMA">
         <property
               name="appName"
               value="Papyrus CX for AXCIOMA">
         </property>
         <property
              name="introBrandingImage"
              value="product:icons/po.svg"/>
         <property
               name="introTitle"
               value="Welcome to Papyrus CX for AXCIOMA">
         </property>
         <property
               name="introBrandingImageText"
               value="Papyrus CX for AXCIOMA">
         </property>
         <property
                name="cssTheme"
                value="org.eclipse.e4.ui.css.theme.e4_default">
          </property>
          <property
                name="applicationCSSResources"
                value="platform:/plugin/org.eclipse.platform/images/">
          </property>
          <property
                name="startupForegroundColor"
                value="487AFF">
          </property>
          <property
                name="startupMessageRect"
                value="8,324,448,16">
          </property>
          <property
                name="startupProgressRect"
                value="8,338,448,8">
          </property>
          <property
                name="aboutImage"
                value="icons/po.iconset/icon_128x128.png">
          </property>
          <property
                name="aboutText"
                value="%aboutText">
          </property>
          <property
               name="windowImages"
               value="icons/po.iconset/icon_16x16.png,icons/po.iconset/icon_32x32.png,icons/po.iconset/icon_48x48.png,icons/po.iconset/icon_64x64.png,icons/po.iconset/icon_128x128.png,icons/po.iconset/icon_256x256.png">
          </property>
          <property
                name="preferenceCustomization"
                value="plugin_customization.ini">
          </property>
      </product>
   </extension>
</plugin>
