/*Created with Adobe RoboHelp.*/
/*Created with Adobe RoboHelp.*/
@media print {
	div.hidden: "{" "visibility:" hidden;
};
@media screen {
	body: "{font-size:" 70%;
	font-family: Verdana, Arial, Sans-Serif;
};
/*}}end-old-version*/
@media print {
	div.hidden: "{" "visibility:" hidden;
};
@media screen {
	body: "{font-size:" 70%;
	font-family: Verdana, Arial, Sans-Serif;
};

body {
	font-size: 70%;
	font-family: Verdana, Arial, Sans-Serif;
}
p {
	margin-top: .6em;
	margin-bottom: .6em;
}
LI.p {
}

a:link {
	color: #0000CC;
}
a:active {
	color: #996699;
}
a:visited {
	color: #996699;
}
table {
	width: auto;
	text-align: left;
	font-size: 100%;
}
th {
	text-align: left;
}
td {
	margin-right: 0em;
}
h1 {
	font-size: 145%;
	margin-bottom: .5em;
}
LI.h1 {
	font-size: 145%;
}

h2 {
	font-size: 125%;
	margin-top: 1.5em;
	margin-bottom: .5em;
}
LI.h2 {
	font-size: 125%;
}

h3 {
	font-size: 105%;
	margin-top: 1.4em;
	margin-bottom: .5em;
}
LI.h3 {
	font-size: 105%;
}

h4 {
	font-size: 90%;
	margin-top: 1.3em;
	margin-bottom: .5em;
}
LI.h4 {
	font-size: 90%;
}

h5 {
	font-size: 80%;
	margin-top: 1.2em;
	margin-bottom: .5em;
}
LI.h5 {
	font-size: 80%;
}

h6 {
	font-size: 70%;
	margin-top: 1.1em;
	margin-bottom: .5em;
}
LI.h6 {
	font-size: 70%;
}

ol li ol li {
	list-style-type: lower-alpha;
}
ol li ol li ol li {
	list-style-type: lower-roman;
}
p {
	margin-top: .6em;
	margin-bottom: .6em;
}
LI.p {
}

a:link {
	color: #0000CC;
}
a:active {
	color: #996699;
}
a:visited {
	color: #996699;
}
table {
	width: auto;
	text-align: left;
	font-size: 100%;
}
th {
	text-align: left;
	font-size: 125%;
}
td {
	margin-right: 0em;
}
h1 {
	font-size: 145%;
	color: #7B84C6;
	margin-bottom: .5em;
}
LI.h1 {
	font-size: 145%;
	color: #7B84C6;
}

h2 {
	font-size: 125%;
	color: #7B84C6;
	margin-top: 1.5em;
	margin-bottom: .5em;
}
LI.h2 {
	font-size: 125%;
	color: #7B84C6;
}

h3 {
	font-size: 105%;
	color: #7B84C6;
	margin-top: 1.4em;
	margin-bottom: .5em;
}
LI.h3 {
	font-size: 105%;
	color: #7B84C6;
}

h4 {
	font-size: 90%;
	color: #7B84C6;
	margin-top: 1.3em;
	margin-bottom: .5em;
}
LI.h4 {
	font-size: 90%;
	color: #7B84C6;
}

h5 {
	font-size: 80%;
	color: #7B84C6;
	margin-top: 1.2em;
	margin-bottom: .5em;
}
LI.h5 {
	font-size: 80%;
	color: #7B84C6;
}

h6 {
	font-size: 70%;
	color: #7B84C6;
	margin-top: 1.1em;
	margin-bottom: .5em;
}
LI.h6 {
	font-size: 70%;
	color: #7B84C6;
}

ol li ol li {
	list-style-type: lower-alpha;
}
ol li ol li ol li {
	list-style-type: lower-roman;
}
ol li ol li ul li {
	list-style-type: disc;
}
ol li ul li ol li ul li {
	list-style-type: disc;
}
ol li ul li ul li ul li {
	list-style-type: disc;
}
SPAN.Code {
	font-family: Courier;
}
P.Preformatted {
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-size: smaller;
	font-family: Courier;
}
LI.P-Preformatted {
	line-height: normal;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-size: smaller;
	font-family: Courier;
}

body {
	font-size: 100%;
	font-family: Verdana, Arial, Sans-Serif;
}
p {
	margin-top: .6em;
	margin-bottom: .6em;
}
LI.p {
}

a:link {
	color: #0000CC;
}
a:active {
	color: #996699;
}
a:visited {
	color: #996699;
}
table {
	width: auto;
	text-align: left;
	font-size: 100%;
}
th {
	text-align: left;
	font-size: 125%;
}
td {
	margin-right: 0em;
}
h1 {
	font-size: 145%;
	color: #7B84C6;
	margin-bottom: .5em;
}
LI.h1 {
	font-size: 145%;
	color: #7B84C6;
}

h2 {
	font-size: 125%;
	color: #7B84C6;
	margin-top: 1.5em;
	margin-bottom: .5em;
}
LI.h2 {
	font-size: 125%;
	color: #7B84C6;
}

h3 {
	font-size: 105%;
	color: #7B84C6;
	margin-top: 1.4em;
	margin-bottom: .5em;
}
LI.h3 {
	font-size: 105%;
	color: #7B84C6;
}

h4 {
	font-size: 90%;
	color: #7B84C6;
	margin-top: 1.3em;
	margin-bottom: .5em;
}
LI.h4 {
	font-size: 90%;
	color: #7B84C6;
}

h5 {
	font-size: 80%;
	color: #7B84C6;
	margin-top: 1.2em;
	margin-bottom: .5em;
}
LI.h5 {
	font-size: 80%;
	color: #7B84C6;
}

h6 {
	font-size: 70%;
	color: #7B84C6;
	margin-top: 1.1em;
	margin-bottom: .5em;
}
LI.h6 {
	font-size: 70%;
	color: #7B84C6;
}

ol li ol li {
	list-style-type: lower-alpha;
}
ol li ol li ol li {
	list-style-type: lower-roman;
}
ol li ol li ul li {
	list-style-type: disc;
}
ol li ul li ol li ul li {
	list-style-type: disc;
}
ol li ul li ul li ul li {
	list-style-type: disc;
}
body {
	font-size: 70%;
	font-family: Verdana, Arial, Sans-Serif;
}
p {
	margin-top: .6em;
	margin-bottom: .6em;
}
LI.p {
}

a:link {
	color: #0000CC;
}
a:active {
	color: #996699;
}
a:visited {
	color: #996699;
}
table {
	width: auto;
	text-align: left;
	font-size: 100%;
}
th {
	text-align: left;
}
td {
	margin-right: 0em;
}
h1 {
	font-size: 145%;
	margin-bottom: .5em;
}
LI.h1 {
	font-size: 145%;
}

h2 {
	font-size: 125%;
	margin-top: 1.5em;
	margin-bottom: .5em;
}
LI.h2 {
	font-size: 125%;
}

h3 {
	font-size: 105%;
	margin-top: 1.4em;
	margin-bottom: .5em;
}
LI.h3 {
	font-size: 105%;
}

h4 {
	font-size: 90%;
	margin-top: 1.3em;
	margin-bottom: .5em;
}
LI.h4 {
	font-size: 90%;
}

h5 {
	font-size: 80%;
	margin-top: 1.2em;
	margin-bottom: .5em;
}
LI.h5 {
	font-size: 80%;
}

h6 {
	font-size: 70%;
	margin-top: 1.1em;
	margin-bottom: .5em;
}
LI.h6 {
	font-size: 70%;
}

ol li ol li {
	list-style-type: lower-alpha;
}
ol li ol li ol li {
	list-style-type: lower-roman;
}
p {
	margin-top: .6em;
	margin-bottom: .6em;
}
LI.p {
}

a:link {
	color: #0000CC;
}
a:active {
	color: #996699;
}
a:visited {
	color: #996699;
}
table {
	width: auto;
	text-align: left;
	font-size: 100%;
}
th {
	text-align: left;
	font-size: 125%;
}
td {
	margin-right: 0em;
}
h1 {
	font-size: 145%;
	color: #7B84C6;
	margin-bottom: .5em;
}
LI.h1 {
	font-size: 145%;
	color: #7B84C6;
}

h2 {
	font-size: 125%;
	color: #7B84C6;
	margin-top: 1.5em;
	margin-bottom: .5em;
}
LI.h2 {
	font-size: 125%;
	color: #7B84C6;
}

h3 {
	font-size: 105%;
	color: #7B84C6;
	margin-top: 1.4em;
	margin-bottom: .5em;
}
LI.h3 {
	font-size: 105%;
	color: #7B84C6;
}

h4 {
	font-size: 90%;
	color: #7B84C6;
	margin-top: 1.3em;
	margin-bottom: .5em;
}
LI.h4 {
	font-size: 90%;
	color: #7B84C6;
}

h5 {
	font-size: 80%;
	color: #7B84C6;
	margin-top: 1.2em;
	margin-bottom: .5em;
}
LI.h5 {
	font-size: 80%;
	color: #7B84C6;
}

h6 {
	font-size: 70%;
	color: #7B84C6;
	margin-top: 1.1em;
	margin-bottom: .5em;
}
LI.h6 {
	font-size: 70%;
	color: #7B84C6;
}

ol li ol li {
	list-style-type: lower-alpha;
}
ol li ol li ol li {
	list-style-type: lower-roman;
}
ol li ol li ul li {
	list-style-type: disc;
}
ol li ul li ol li ul li {
	list-style-type: disc;
}
ol li ul li ul li ul li {
	list-style-type: disc;
}
SPAN.Code {
	font-family: Courier;
}
P.Preformatted {
	line-height: normal;
	margin-bottom: 14pt;
	margin-top: 14pt;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-size: smaller;
	font-family: Courier;
}
LI.P-Preformatted {
	line-height: normal;
	x-text-tab-stops: repeat 1in;
	white-space: nowrap;
	font-size: smaller;
	font-family: Courier;
}

