<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://DDS_LIBRARIES/"
            target="platform:/plugin/com.zeligsoft.domain.omg.dds/models/">
      </mapping>
      <mapping
            source="pathmap://DDS_PROFILES/"
            target="platform:/plugin/com.zeligsoft.domain.omg.dds/profiles/">
      </mapping>
      <mapping
            source="pathmap://DDS_DOMAIN/"
            target="platform:/plugin/com.zeligsoft.domain.omg.dds/models/">
      </mapping>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ddsDomain.profile -->
      <package
            uri="http://www.zeligsoft.com/zdl/2009/DDS/1"
            class="dds.DDSPackage"
            genModel="profiles/ddsDomain.profile.genmodel"/>
   </extension>

</plugin>
