<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.zeligsoft.base.zdl.staticapi.factories">
      <factory
            domain="cxDDS4CCM"
            factoryClass="com.zeligsoft.domain.dds4ccm.api.DDS4CCM.util.DDS4CCMFactoryImpl">
      </factory>
   </extension>

</plugin>
