<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
            point="com.zeligsoft.cx.ui.portTypeWizard">
         <PortType
               allowInterfaceCreation="false"
               createInversePortType="false"
               domain="cxDDS4CCM"
               portTypeConcept="IDL3Plus::IDL3Plus::ExtendedPortType"
               enableMultiSelection="true"
               enableNameSelection="true"
               showUsesList="true">
         </PortType>
    </extension>
    
    <!-- CBDDS properties tab and sections -->
    <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="TreeOutlinePage">
         <propertyTab
               afterTab="uml"
               category="org.eclipse.papyrus"
               id="cx"
               label="CX"/>
      </propertyTabs>
    </extension>    
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="TreeOutlinePage">
          <propertySection
                class="com.zeligsoft.cx.ui.properties.sections.DomainPropertySection"
                filter="com.zeligsoft.domain.dds4ccm.ui.internal.filters.CBDDSPropertiesFilter"
                id="cx.Sections"
                tab="cx">
          </propertySection>
       </propertySections>
    </extension>
    
    <!-- Custom properties sections -->
    <extension
          point="com.zeligsoft.cx.ui.properties.customPropertySection">
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="ZMLMM::ZML_Core::NamedElement"
             domain="cxDDS4CCM"
             property="name">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="ZMLMM::ZML_Deployments::ComponentDeploymentPart"
             domain="cxDDS4CCM"
             property="selectedImplementation">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="CORBADomain::IDL::CORBAField"
             domain="cxDDS4CCM"
             property="bound">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="DDS4CCM::DDS4CCM::DDS4CCMModel"
             property="fixedHeader">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="DDS4CCM::DDS4CCM::DDS4CCMModel"
             property="fixedFooter">
       </PropertySection>
       
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="CCM::CCM_Component::InterfacePort"
             domain="cxDDS4CCM"
             property="connectorType">
       </PropertySection>
    </extension>
    <extension
          point="org.eclipse.papyrus.infra.gmfdiag.dnd.dropStrategy">
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.CCMComponentDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.ConnectorDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.NodeDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.BridgeDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.InterconnectDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.HomeDropStrategy">
       </strategy>
    </extension>
    <extension
          point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
       <modeldeclaration
             file="facets/SupressStereotypeDisplay.custom">
       </modeldeclaration>
    </extension>
    
       <extension
         point="org.eclipse.ui.navigator.viewer">               
      <viewerContentBinding
        viewerId="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
         <includes>
            <contentExtension
              pattern="com.zeligsoft.domain.dds4ccm.ui.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>           
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
        <commonFilter
              activeByDefault="true"
              class="com.zeligsoft.domain.dds4ccm.ui.filters.CXModelFilter"
              description="%filter.description"
              id="com.zeligsoft.domain.dds4ccm.ui.filters.cxModelFilter"
              name="%filter.name">       
        </commonFilter>
   </extension>
   
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="com.zeligsoft.domain.dds4ccm.ui.listeners.CCMPartMoveOperationListener">
         <editingDomain
               id="org.eclipse.papyrus.SharedEditingDomainID">
         </editingDomain>
      </listener>
      <listener
            class="com.zeligsoft.domain.dds4ccm.ui.listeners.DDS4CCMListener">
      </listener>
   </extension>
       
    <!--
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%domain.wizard.category.name"
            id="com.zeligsoft.domain.dds4ccm.ui">
      </category>
      <wizard
            name="%domain.model.wizard.name"
            icon="icons/sample.gif"
            category="com.zeligsoft.domain.dds4ccm.ui"
            class="com.zeligsoft.domain.dds4ccm.ui.wizards.NewDDS4CCMModelWizard"
            id="com.zeligsoft.domain.dds4ccm.ui.wizards.NewDDS4CCMModelWizard">
      </wizard>
      <wizard
            name="%domain.project.wizard.name"
            icon="icons/sample.gif"
            category="com.zeligsoft.domain.dds4ccm.ui"
            class="com.zeligsoft.domain.dds4ccm.ui.wizards.NewDDS4CCMProjectWizard"
            id="com.zeligsoft.domain.dds4ccm.ui.wizards.NewDDS4CCMProjectWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.zeligsoft.domain.dds4ccm.ui.perspectives.DDS4CCMPerspective"
            icon="icons/view16/cx-perspective.gif"
            id="com.zeligsoft.domain.dds4ccm.ui.perspectives.DDS4CCMPerspective"
            name="%dds4ccm.perspective.name">
         <description>
            %dds4ccm.perspective.description
         </description>
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="com.zeligsoft.domain.dds4ccm.ui.wizards.NewDDS4CCMProjectWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard 
            type="new"
            wizardId="com.zeligsoft.domain.dds4ccm.ui.wizards.NewDDS4CCMModelWizard">
         <enablement>
			<and>
			   <or>
		          <instanceof value="org.eclipse.core.resources.IProject"/>
			   	  <instanceof value="org.eclipse.core.resources.IProjectNature"/>
			   </or>
			   <test property="com.ibm.xtools.modeler.ui.currentPerspective" value="com.zeligsoft.domain.dds4ccm.ui.perspectives.DDS4CCMPerspective"/>
		    </and>            
         </enablement>
      </commonWizard>
   </extension>     
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.dds4ccm.ui.perspectives.DDS4CCMPerspective">
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>         
         <actionSet id="com.ibm.xtools.modeler.ui.actions.ModelingActionSet">
         </actionSet>
         <actionSet id="org.eclipse.gmf.runtime.diagram.ui.DiagramActionSet">
         </actionSet>
         <view ratio="0.26" relative="org.eclipse.ui.editorss" visible="true" relationship="left" id="org.eclipse.ui.navigator.ProjectExplorer" minimized="false">
         </view>
         <view ratio=".66" relative="org.eclipse.ui.navigator.ProjectExplorer" visible="true" relationship="bottom" id="org.eclipse.ui.views.ContentOutline" minimized="false">
         </view>
         <view ratio=".66" relative="org.eclipse.ui.editorss" visible="true" relationship="bottom" id="org.eclipse.ui.views.PropertySheet" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.ContentOutline" visible="true" relationship="stack" id="com.ibm.xtools.rmp.ui.diagram.layers.LayersView" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.views.TaskList" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.console.ConsoleView" minimized="false">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
         <view
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.views.BookmarkView" minimized="false">
         </view>
         <viewShortcut id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet">
         </viewShortcut> 
         <viewShortcut id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>                       
         <viewShortcut id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.BookmarkView">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut id="org.eclipse.gef.ui.palette_view">
         </viewShortcut>     
         <viewShortcut id="com.ibm.xtools.rmp.ui.diagram.layers.LayersView">
         </viewShortcut>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <perspectiveShortcut id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
      </perspectiveExtension> 
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.dds4ccm.ui.perspectives.DDS4CCMPerspective">
         <actionSet id="org.eclipse.debug.ui.analysisActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.dds4ccm.ui.perspectives.DDS4CCMPerspective">
         <newWizardShortcut id="com.zeligsoft.domain.dds4ccm.ui.wizards.NewDDS4CCMProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut id="com.zeligsoft.domain.dds4ccm.ui.wizards.NewDDS4CCMModelWizard">
         </newWizardShortcut>
      </perspectiveExtension>
    </extension>
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.ibm.xtools.modeler.ui.properties">
         <propertyTab
               category="Core"
               id="com.zeligsoft.propertyTab.DDS4CCMPropertyTab"
               label="DDS4CCM">
         </propertyTab>
      </propertyTabs>
   </extension>
       <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="com.ibm.xtools.modeler.ui.properties">
          <propertySection
                class="com.zeligsoft.cx.ui.properties.sections.DomainPropertySection"
                filter="com.zeligsoft.domain.dds4ccm.ui.filters.DDS4CCMDomainFilter"
                id="com.zeligsoft.propertyTab.DDS4CCMPropertySection"
                tab="com.zeligsoft.propertyTab.DDS4CCMPropertyTab">
          </propertySection>
       </propertySections>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="com.ibm.xtools.modeler.ui.properties">
          <propertySection
                afterSection="modeler.property.section.AggregationPropertySection"
                class="com.zeligsoft.cx.ui.properties.sections.CXPropertyTabControllerSection"
                filter="com.zeligsoft.domain.dds4ccm.ui.internal.filters.GeneralSectionControllerFilter"
                id="com.zeligsoft.domain.dds4ccm.ui.generalSectionController"
                tab="modeler.property.tab.GeneralPropertySection">
          </propertySection>
       </propertySections>
	</extension>
    <extension
          point="org.eclipse.ui.importWizards">
       <category
             id="ccmImportID"
             name="%category.name.0">
       </category>
    </extension>
    <extension   
       point="org.eclipse.ui.importWizards"> 
    	<wizard
            category="ccmImportID"
            class="com.zeligsoft.domain.dds4ccm.ui.wizards.DDS4CCMIDLImportWizard"
            icon="platform:/plugin/com.zeligsoft.domain.omg.corba.ui/icons/obj16/IDL-import-process.gif"
            id="com.zeligsoft.domain.omg.ccm.IDLImportWizard"
            name="%wizard.name.0"> 
         <description> 
            %IDLImportWizard.description 
         </description> 
         <selection class="org.eclipse.core.resources.IFile"/> 
      </wizard>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider
            class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMModelingAssistantProvider">
         <Priority
               name="Highest">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="dds4ccm__datatype_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="DataType">
            </method>
         </object>
         <context
               elements="dds4ccm__datatype_">
         </context>
      </modelingAssistantProvider>
   </extension>
   <extension
         id="com.zeligsoft.domain.dds4ccm.ui.navigator.viewer.ID"
         point="org.eclipse.ui.navigator.viewer">               
      <viewerContentBinding
        viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
              pattern="com.zeligsoft.domain.dds4ccm.ui.navigator.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>           
   </extension>   
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMDefaultViewProvider">
         <Priority name="Highest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node"/>         
      </viewProvider>
   </extension>
   <extension
   		point="org.eclipse.ui.popupMenus">
   		<viewerContribution
            id="com.zeligsoft.cx.ui.AddComponentDiagramActionContribution"
            targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <action
               class="com.zeligsoft.cx.ui.actions.AddDiagramActionDelegate"
               enablesFor="1"
               icon="icons/obj16/component_diagram.gif"
               id="com.zeligsoft.domain.dds4ccm.ui.AddComponentDiagram"
               label="%diagram.action.label.component"
               menubarPath="com.ibm.xtools.modeler.ui.actions.AddDiagramMenu/additions"
               tooltip="%diagram.action.tooltip.component">
         </action>
         <visibility>
            <and>
               <objectState
                     name="isZDLProfile"
                     value="cxDDS4CCM">
               </objectState>
               <or>
                  <objectState
                        name="umlType"
                        value="Package">
                  </objectState>
                  <objectState
                        name="umlType"
                        value="Component">
                  </objectState>
               </or>
               <not>
                  <or>
		               <objectState
		                     name="isZDLConcept"
		                     value="DDS4CCM::Connectors::ConnectorAssembly">
		               </objectState>
		               <objectState
		                     name="isZDLConcept"
		                     value="DDS4CCM::Connectors::FragmentAssembly">
		               </objectState>
		               <objectState
		                     name="isZDLConcept"
		                     value="CCM::CCM_Implementation::AssemblyImplementation">
		               </objectState>
		               <objectState
		                     name="isZDLConcept"
		                     value="CCM::CCM_Target::Domain">
		               </objectState>
                  </or>
               </not>
            </and>
         </visibility>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.zeligsoft.cx.ui.AddStructureDiagramActionContribution"
            targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <action
               class="com.zeligsoft.cx.ui.actions.AddStructureDiagramActionDelegate"
               enablesFor="1"
               icon="icons/obj16/structure_diagram.gif"
               id="com.zeligsoft.domain.dds4ccm.ui.AddStructureDiagram"
               label="%action.addStructureDiagram"
               menubarPath="com.ibm.xtools.modeler.ui.actions.AddDiagramMenu/additions"
               tooltip="%action.addStructureDiagram.tooltip">
         </action>
         <visibility>
            <or>
               <objectState
                     name="isZDLStructureDiagram"
                     value="true">
               </objectState>
               <objectState
                     name="isZDLConcept"
                     value="DDS4CCM::Connectors::ConnectorAssembly">
               </objectState>
               <objectState
                     name="isZDLConcept"
                     value="DDS4CCM::Connectors::FragmentAssembly">
               </objectState>
               <objectState
                     name="isZDLConcept"
                     value="CCM::CCM_Implementation::AssemblyImplementation">
               </objectState>
               <objectState
                     name="isZDLConcept"
                     value="CCM::CCM_Target::Domain">
               </objectState>
            </or>
         </visibility>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.zeligsoft.domains.dds4ccm.ui.setPortType"
            objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
         <action
               class="com.zeligsoft.domain.dds4ccm.ui.actions.DDS4CCMSetPortTypeActionDelegate"
               enablesFor="+"
               id="com.zeligsoft.cx.ui.setPortType"
               label="%action.setPortType.label"
               menubarPath="additions">
         </action>
         <action
               class="com.zeligsoft.domain.dds4ccm.ui.actions.ShowPortTypeActionDelegate"
               enablesFor="1"
               id="com.zeligsoft.domain.dds4ccm.ui.showPortType"
               label="%action.showPortType.label"
               menubarPath="additions">
         </action>
         <visibility>
            <and>
               <objectState
                     name="isZDLConcept"
                     value="ZMLMM::ZML_Component::Port">
               </objectState>
               <objectState
                     name="isZDLProfile"
                     value="cxDDS4CCM">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>
   	<extension
         id="CCM ElementTypes"
         name="CCM ElementTypes"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">    
         <metamodel
             nsURI="http://www.eclipse.org/uml2/3.0.0/UML">

         	<adviceBinding
                class="com.zeligsoft.domain.dds4ccm.ui.edithelpers.ContainerProcessEditHelperAdvice"
                id="com.zeligsoft.domain.dds4ccm.ContainerProcess"
                inheritance="all"
                typeId="com.ibm.xtools.uml.element">
         	</adviceBinding>
          	<adviceBinding
          		class="com.zeligsoft.domain.dds4ccm.ui.edithelpers.ComponentEditHelperAdvice"
          		id="com.zeligsoft.domain.dds4ccm.Component"
          		inheritance="all"
          		typeId="com.ibm.xtools.uml.element">
          	</adviceBinding>
          	<adviceBinding
          		class="com.zeligsoft.domain.dds4ccm.ui.edithelpers.ClassEditHelperAdvice"
          		id="com.zeligsoft.domain.dds4ccm.Class"
          		inheritance="all"
          		typeId="com.ibm.xtools.uml.element">
          	</adviceBinding>
          	<adviceBinding
                class="com.zeligsoft.domain.dds4ccm.ui.edithelpers.TargetNodeEditHelperAdvice"
                id="com.zeligsoft.domain.dds4ccm.ui.TargetNode"
                inheritance="all"
                typeId="com.ibm.xtools.uml.package">
          	</adviceBinding>
           <adviceBinding
                 class="com.zeligsoft.domain.dds4ccm.ui.edithelpers.DataspaceEditHelperAdvice"
                 id="com.zeligsoft.domain.dds4ccm.ui.Dataspace"
                 inheritance="none"
                 typeId="com.ibm.xtools.uml.component">
           </adviceBinding>
      	</metamodel>    
    </extension>   
   
    <extension
         id="CCM ElementTypeBindings"
         name="CCM ElementTypeBindings"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding context="com.ibm.xtools.uml.type.context">
         <advice
               ref="com.zeligsoft.domain.dds4ccm.ContainerProcess">
         </advice>
         <advice ref="com.zeligsoft.domain.dds4ccm.Component"></advice>
         <advice ref="com.zeligsoft.domain.dds4ccm.Class" />
         <advice
               ref="com.zeligsoft.domain.dds4ccm.ui.TargetNode">
         </advice>
         <advice
               ref="com.zeligsoft.domain.dds4ccm.ui.Dataspace">
         </advice>  
      </binding>
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <viewerContribution
             id="com.zeligsoft.refactorStruct.popupmenu"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <visibility>
             <and>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
                <objectState
                      name="isZDLConcept"
                      value="CORBADomain::IDL::CORBAStruct">
                </objectState>
                <not>
                   <objectState
                         name="isZDLConcept"
                         value="DDS4CCM::DDSExtensions::DDSMessage">
                   </objectState>
                </not>
             </and>
          </visibility>
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.ConvertStructToFieldAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.actions.ConvertStructToFieldAction"
                label="%struct.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.refactorContainerProcessor.popupmenu"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.RefactorContainerProcessAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.actions.RefactorContainerProcessAction"
                label="%container.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
          <visibility>
             <and>
                <or>
                   <objectState
                         name="isZDLConcept"
                         value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                   </objectState>
                   <objectState
                         name="isZDLConcept"
                         value="CCM::CCM_Deployment::ContainerProcess">
                   </objectState>
                </or>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.refactorComponent.popupmenu"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.AddRegisterNamingPropertyAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.actions.AddRegisterNamingPropertyAction"
                label="%registernaming.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
          <visibility>
             <and>
                <or>
                   <objectState
                         name="isZDLConcept"
                         value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                   </objectState>
                   <objectState
                         name="isZDLConcept"
                         value="CCM::CCM_Component::CCMComponent">
                   </objectState>
                   <objectState
                   		name="isZDLConcept"
                   		value="CCM::CCM_Component::Home">
                   	</objectState>
                </or>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.refactorCleanComments.popupmenu"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.RefactorCleanCommentsAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.action2"
                label="%clean.comments.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="umlType"
                      value="Model">
                </objectState>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.domain.dds4ccm.ui.modelMigration"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.MigrateModelAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.action1"
                label="%model.migration.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="umlType"
                      value="Model">
                </objectState>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.domain.dds4ccm.ui.cleanReference"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.CleanReferencesAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.action1"
                label="%clean.references.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="umlType"
                      value="Package">
                </objectState>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.refactorDDSMessage.popupmenu"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <visibility>
             <and>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
                <objectState
                      name="isZDLConcept"
                      value="DDS4CCM::DDSExtensions::DDSMessage">
                </objectState>
             </and>
          </visibility>
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.ConvertFieldToStructAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.actions.ConvertFieldToStructAction"
                label="%field.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.refactorField.popupmenu"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <visibility>
             <and>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
                <objectState
                      name="isZDLConcept"
                      value="CORBADomain::IDL::CORBAStruct">
                </objectState>
             </and>
          </visibility>
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.ReapplyFieldStereotypesAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.ReapplyFieldStereotypesAction"
                label="%reapply.field.stereotype.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
       </viewerContribution>
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="false"
             id="com.zeligsoft.domain.idl3plus.ui.repairAllModuleInstantiations"
             objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
          <action
                class="com.zeligsoft.domain.idl3plus.ui.actions.RepairAllModuleInstantiationsAction"
                enablesFor="1"
                id="com.zeligsoft.domain.idl3plus.ui.actions.repairAllModuleInstantiations"
                label="%action.label.RepairAllModuleInstantiations"
                menubarPath="additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="umlType"
                      value="Model">
                </objectState>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.zeligsoft.domain.dds4ccm.ui.showSource"
             objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.ShowSourceActionDelegate"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.actions.showSource"
                label="%action.label.show_source"
                menubarPath="additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="isZDLConcept"
                      value="CCM::CCM_Implementation::CCMPart">
                </objectState>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </objectContribution>
    </extension>
	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="cxPreferenceRoot"
            class="com.zeligsoft.domain.dds4ccm.ui.preferences.DDS4CCMPreferencePage"
            id="com.zeligsoft.DDS4CCM"
            name="%DDS4CCMPreferencePage.name">
      </page>
    </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">               
      <viewerContentBinding
        viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
              pattern="com.zeligsoft.domain.dds4ccm.ui.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>           
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
        <commonFilter
              activeByDefault="true"
              class="com.zeligsoft.domain.dds4ccm.ui.filters.WorkerFunctionFilter"
              description="%WorkerFunction.description"
              id="com.zeligsoft.domain.dds4ccm.ui.filters.workerFunction"
              name="%WorkerFunction.name">       
        </commonFilter>
        <commonFilter
              activeByDefault="true"
              class="com.zeligsoft.domain.dds4ccm.ui.filters.DDS4CCMModelFileFilter"
              description="%UMLModelFile.description"
              id="com.zeligsoft.domain.dds4ccm.ui.filters.UMLModelFile"
              name="%UMLModelFile.name"
              visibleInUI="false">
        </commonFilter>
   </extension>
    <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
          <decoratorProvider
                class="com.zeligsoft.domain.dds4ccm.ui.internal.providers.decorators.ConnectorDecoratorProvider">
             <Priority
                   name="Highest">
             </Priority>
             <object
                   class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart"
                   id="com.zeligsoft.domain.dds4ccm.ui.DDS4CCMConnectorDecoratorProvider">
                <staticMethod
                      name="resolveSemanticElement().eClass().getName()"
                      value="Connector">
                </staticMethod>
             </object>
        </decoratorProvider>
    </extension>
    
    -->
    <!--
       <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.zeligsoft.domain.dds4ccm.codegen.togglecodetagnature"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.zeligsoft.domain.dds4ccm.ui.actions.ToggleCodeTagNatureAction"
               enablesFor="+"
               id="com.zeligsoft.domain.dds4ccm.codegen.togglecodetagnature"
               label="%action.togglecodetagnature.label"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
   </extension>
       <extension
             point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
          <decoratorProvider
                class="com.zeligsoft.domain.dds4ccm.ui.internal.providers.decorators.AssemblyPartDecoratorProvider">
             <Priority
                   name="Highest">
             </Priority>
             <object
                   class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart"
                   id="com.zeligsoft.domain.dds4ccm.ui.DDS4CCMAssemblyDecoratorProvider">
                <staticMethod
                      name="resolveSemanticElement().eClass().getName()"
                      value="Property">
                </staticMethod>
             </object>
          </decoratorProvider>
       </extension>
       <extension
             point="org.eclipse.ui.popupMenus">
          <viewerContribution
                id="com.zeligsoft.domain.dds4ccm.ui.repairDeployment"
                targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
             <action
                   class="com.zeligsoft.domain.dds4ccm.ui.actions.RepairDeploymentParts"
                   enablesFor="1"
                   id="com.zeligsoft.domain.dds4ccm.ui.action1"
                   label="%action.repairDeployment"
                   menubarPath="additions">
             </action>
             <visibility>
                <objectState
                      name="isZDLConcept"
                      value="CCM::CCM_Deployment::DeploymentPlan">
                </objectState>
             </visibility>
          </viewerContribution>
          <viewerContribution
                id="com.zeligsoft.domain.dds4ccm.ui.repairAllDeployment"
                targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
             <action
                   class="com.zeligsoft.domain.dds4ccm.ui.actions.RepairDeploymentParts"
                   enablesFor="1"
                   id="com.zeligsoft.domain.dds4ccm.ui.action1"
                   label="%action.repairAllDeployments"
                   menubarPath="additions">
             </action>
             <visibility>
                <objectState
                      name="isZDLConcept"
                      value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                </objectState>
             </visibility>
          </viewerContribution>
          <viewerContribution
                id="com.zeligsoft.domain.dds4ccm.ui.repairAllWorkerFunctions"
                targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
             <menu
                   id="menu.repairAllWorkerFunctions"
                   label="%all.worker.function.repair"
                   path="additions">
                <separator
                      name="repairAllWorkerFunctions.separator">
                </separator>
             </menu>
             <visibility>
                <and>
                   <objectState
                         name="umlType"
                         value="Model">
                   </objectState>
                   <objectState
                         name="isZDLProfile"
                         value="cxDDS4CCM">
                   </objectState>
                </and>
             </visibility>
             <action
                   class="com.zeligsoft.domain.dds4ccm.ui.actions.RepairAllWorkerFunctionsAction"
                   id="ModelLevel"
                   label="%all.worker.function.repair.model.level"
                   menubarPath="menu.repairAllWorkerFunctions/repairAllWorkerFunctions.separator">
             </action>
             <action
                   class="com.zeligsoft.domain.dds4ccm.ui.actions.RepairAllWorkerFunctionsAction"
                   id="ProjectLevel"
                   label="%all.worker.function.repair.project.level"
                   menubarPath="menu.repairAllWorkerFunctions/repairAllWorkerFunctions.separator">
             </action>
             <action
                   class="com.zeligsoft.domain.dds4ccm.ui.actions.RepairAllWorkerFunctionsAction"
                   id="WorkspaceLevel"
                   label="%all.worker.function.repair.workspace.level"
                   menubarPath="menu.repairAllWorkerFunctions/repairAllWorkerFunctions.separator">
             </action>
          </viewerContribution>
       </extension>
    -->
</plugin>
