<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
            point="com.zeligsoft.cx.ui.portTypeWizard">
         <PortType
               allowInterfaceCreation="false"
               createInversePortType="false"
               domain="cxDDS4CCM"
               portTypeConcept="IDL3Plus::IDL3Plus::ExtendedPortType"
               enableMultiSelection="true"
               enableNameSelection="true"
               showUsesList="true">
         </PortType>
    </extension>
    
    <!-- CBDDS properties tab and sections -->
    <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="TreeOutlinePage">
         <propertyTab
               afterTab="uml"
               category="org.eclipse.papyrus"
               id="cx"
               label="CX"/>
      </propertyTabs>
    </extension>    
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="TreeOutlinePage">
          <propertySection
                class="com.zeligsoft.cx.ui.properties.sections.DomainPropertySection"
                filter="com.zeligsoft.domain.dds4ccm.ui.internal.filters.CBDDSPropertiesFilter"
                id="cx.Sections"
                tab="cx">
          </propertySection>
       </propertySections>
    </extension>
    
    <!-- Custom properties sections -->
    <extension
          point="com.zeligsoft.cx.ui.properties.customPropertySection">
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="ZMLMM::ZML_Core::NamedElement"
             domain="cxDDS4CCM"
             property="name">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="ZMLMM::ZML_Deployments::ComponentDeploymentPart"
             domain="cxDDS4CCM"
             property="selectedImplementation">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="CORBADomain::IDL::CORBAField"
             domain="cxDDS4CCM"
             property="bound">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="DDS4CCM::DDS4CCM::DDS4CCMModel"
             property="fixedHeader">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="DDS4CCM::DDS4CCM::DDS4CCMModel"
             property="fixedFooter">
       </PropertySection>
       
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="CCM::CCM_Component::InterfacePort"
             domain="cxDDS4CCM"
             property="connectorType">
       </PropertySection>
    </extension>
    <extension
          point="org.eclipse.papyrus.infra.gmfdiag.dnd.dropStrategy">
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.CCMComponentDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.ConnectorDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.NodeDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.BridgeDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.InterconnectDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.HomeDropStrategy">
       </strategy>
    </extension>
    <extension
          point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
       <modeldeclaration
             file="facets/SupressStereotypeDisplay.custom">
       </modeldeclaration>
       <modeldeclaration
             file="facets/SimpleDependencyUML.custom">
       </modeldeclaration>
    </extension>
    
       <extension
         point="org.eclipse.ui.navigator.viewer">               
      <viewerContentBinding
        viewerId="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
         <includes>
            <contentExtension
              pattern="com.zeligsoft.domain.dds4ccm.ui.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>           
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
        <commonFilter
              activeByDefault="true"
              class="com.zeligsoft.domain.dds4ccm.ui.filters.CXModelFilter"
              description="%filter.description"
              id="com.zeligsoft.domain.dds4ccm.ui.filters.cxModelFilter"
              name="%filter.name">       
        </commonFilter>
   </extension>
   
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="com.zeligsoft.domain.dds4ccm.ui.listeners.CCMPartMoveOperationListener">
         <editingDomain
               id="org.eclipse.papyrus.SharedEditingDomainID">
         </editingDomain>
      </listener>
      <listener
            class="com.zeligsoft.domain.dds4ccm.ui.listeners.DDS4CCMListener">
         <editingDomain
               id="org.eclipse.papyrus.SharedEditingDomainID">
         </editingDomain>
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="com.zeligsoft.domain.dds4ccm.ui.createCXModelFromUMLCommand"
               label="Create CX Model from UML"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="uml">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.CreateCXModelFromUMLModelHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.createCXModelFromUMLCommand"
            name="Create CX Model from UML">
      </command>
   </extension>
    <extension
          point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
       <editpolicyProvider
             class="com.zeligsoft.domain.dds4ccm.ui.internal.providers.AssemblyStructureCompartmentDragDropEditPolicyProvider">
          <Priority
                name="Highest">
          </Priority>
       </editpolicyProvider>
    </extension>
    <extension
          point="org.eclipse.papyrus.infra.gmfdiag.css.theme">
       <themeContribution
             id="org.eclipse.papyrus.css.papyrus_theme">
          <stylesheet
                stylesheetPath="stylesheets/cxstyle.css">
          </stylesheet>
       </themeContribution>
    </extension>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="cxPreferenceRoot"
            class="com.zeligsoft.domain.dds4ccm.ui.preferences.DDS4CCMPreferencePage"
            id="com.zeligsoft.DDS4CCM"
            name="%DDS4CCMPreferencePage.name">
      </page>
    </extension>
    
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.zeligsoft.cx.ui.refactormenu">
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.repairallworkerfunctions.model"
              style="push"
              label="Repair All Worker Functions">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.repairdeploymentparts"
              style="push"
              label="Repair All Deployments">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.repairdeployment"
              label="Repair Deployment"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="CCM::CCM_Deployment::DeploymentPlan">
                 </test>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.cleanreferencesaction"
              style="push"
              label="Clean Model Library References">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.cleanrcommentsaction"
              style="push"
              label="Clean Imported Comments">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.refactorregisternamingaction"
              style="push"
              label="Refactor RegisterNaming Properties">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.refactorcontainerprocesssaction"
              style="push"
              label="Add Required Container Process Properties">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.structtomessage"
              label="%struct.action.label.1"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="CORBADomain::IDL::CORBAStruct">
                 </test>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.messagetostruct"
              label="%field.action.label.1"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="DDS4CCM::DDSExtensions::DDSMessage">
                 </test>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.reapplyfieldstreotype"
              label="%reapply.field.stereotype.label.1"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <or>
                    <test
                          property="com.zeligsoft.zdl.tester.isZDLConcept"
                          value="DDS4CCM::DDSExtensions::DDSMessage">
                    </test>
                    <test
                          property="com.zeligsoft.zdl.tester.isZDLConcept"
                          value="CORBADomain::IDL::CORBAStruct">
                    </test>
                 </or>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.migratetoaxcioma"
              label="Convert to AXCIOMA"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                 </test>
              </with>
           </visibleWhen>
        </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=tools">
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.setporttype"
              label="%action.setPortType.label"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="ZMLMM::ZML_Component::Port">
                 </test>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.showporttype"
              label="%action.showPortType.label"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="ZMLMM::ZML_Component::Port">
                 </test>
              </with>
           </visibleWhen>
        </command>

      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.uml.import.menu">
         <command
               commandId="com.zeligsoft.domain.dds4ccm.ui.idlimport"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <test
                           property="org.eclipse.papyrus.infra.emf.readonly.tester.canMakeWritable"
                           value="true">
                     </test>
                     <test
                           property="com.zeligsoft.zdl.tester.isZDLConcept"
                           value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                     </test>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RepairWorkerFunctionsHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.repairallworkerfunctions.model"
            name="Repair Model Worker Functions">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RepairDeploymentPartsActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.repairdeploymentparts"
            name="Repair All Deployment Parts">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.CleanReferencesActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.cleanreferencesaction"
            name="Clean Model Library References">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.CleanCommentsActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.cleanrcommentsaction"
            name="Clean Imported Comments">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.AddRegisterNamingPropertyActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.refactorregisternamingaction"
            name="Refactor ReisterNaming Properties">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RefactorContainerProcessActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.refactorcontainerprocesssaction"
            name="Add Required Container Process Properties">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RepairDeploymentPartsActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.repairdeployment"
            name="Repair Deployment">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.ConvertStructToFieldActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.structtomessage"
            name="%struct.action.label.1">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.ConvertFieldToStructActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.messagetostruct"
            name="%field.action.label.1">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.SetPortTypeActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.setporttype"
            name="%action.setPortType.label">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.ShowPortTypeActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.showporttype"
            name="%action.showPortType.label">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.ReapplyFieldStereotypesActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.reapplyfieldstreotype"
            name="%reapply.field.stereotype.label.1">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.MigrateModelTypeActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.migratetoaxcioma"
            name="Migrate To AXICOMA">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.IDLImportActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.idlimport"
            name="IDL Import">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=tools">
         <command
               commandId="com.zeligsoft.domain.dds4ccm.ui.validateCommand"
               icon="icons/view16/cx-perspective.gif"
               id="com.zeligsoft.domain.dds4ccm.ui.validate"
               label="CX Validation">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.CXValidationHandler"
            description="Validate CX Model"
            id="com.zeligsoft.domain.dds4ccm.ui.validateCommand"
            name="CX Validation">
      </command>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.pasteStrategy">
      <strategy
            strategy="com.zeligsoft.domain.dds4ccm.ui.paste.DDS4CCMPasteStrategy">
      </strategy>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="10"
            provider="com.zeligsoft.domain.dds4ccm.ui.providers.ResolvingUMLFilteredLabelProvider">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.service">
      <service
            classname="com.zeligsoft.domain.dds4ccm.ui.services.CoreMultiDiagramEditorService"
            id="org.eclipse.papyrus.infra.ui.editor.IMultiDiagramEditor"
            priority="Integer.MAX_VALUE"
            startKind="startup">
      </service>
   </extension>
   
    <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:com.zeligsoft.domain.dds4ccm.ui.refactormenu">
         <menu
               id="com.zeligsoft.domain.dds4ccm.ui.repairworkerfunctionsmenu"
               label="Repair All Worker Functions">
            <command
                  commandId="com.zeligsoft.domain.dds4ccm.ui.repairallworkerfunctions.workspace"
                  style="push"
                  label="Workspace">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="selection">
                      <test
                            property="com.zeligsoft.zdl.tester.isZDLConcept"
                            value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                      </test>
                   </with>
                </visibleWhen>
            </command>
            <command
                  commandId="com.zeligsoft.domain.dds4ccm.ui.repairallworkerfunctions.project"
                  style="push"
                  label="Project">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="selection">
                      <test
                            property="com.zeligsoft.zdl.tester.isZDLConcept"
                            value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                      </test>
                   </with>
                </visibleWhen>
            </command>
            <command
                  commandId="com.zeligsoft.domain.dds4ccm.ui.repairallworkerfunctions.model"
                  style="push"
                  label="Model">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="selection">
                      <test
                            property="com.zeligsoft.zdl.tester.isZDLConcept"
                            value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                      </test>
                   </with>
                </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RepairWorkerFunctionsHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.repairallworkerfunctions.workspace"
            name="Repair Workspace Worker Functions">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RepairWorkerFunctionsHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.repairallworkerfunctions.project"
            name="Repair Project Worker Functions">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RepairWorkerFunctionsHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.repairallworkerfunctions.model"
            name="Repair Model Worker Functions">
      </command>
   </extension> 
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.zeligsoft.domains.dds4ccm.ui.setPortType"
            objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
         <action
               class="com.zeligsoft.domain.dds4ccm.ui.actions.DDS4CCMSetPortTypeActionDelegate"
               enablesFor="+"
               id="com.zeligsoft.cx.ui.setPortType"
               label="%action.setPortType.label"
               menubarPath="additions">
         </action>
         <action
               class="com.zeligsoft.domain.dds4ccm.ui.actions.ShowPortTypeActionDelegate"
               enablesFor="1"
               id="com.zeligsoft.domain.dds4ccm.ui.showPortType"
               label="%action.showPortType.label"
               menubarPath="additions">
         </action>
         <visibility>
            <and>
               <objectState
                     name="isZDLConcept"
                     value="ZMLMM::ZML_Component::Port">
               </objectState>
               <objectState
                     name="isZDLProfile"
                     value="cxDDS4CCM">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>

    <extension
          point="org.eclipse.ui.popupMenus">
       <viewerContribution
             id="com.zeligsoft.refactorCleanComments.popupmenu"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.RefactorCleanCommentsAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.action2"
                label="%clean.comments.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="umlType"
                      value="Model">
                </objectState>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.domain.dds4ccm.ui.modelMigration"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.MigrateModelAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.action1"
                label="%model.migration.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="umlType"
                      value="Model">
                </objectState>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.domain.dds4ccm.ui.cleanReference"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.CleanReferencesAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.action1"
                label="%clean.references.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="umlType"
                      value="Package">
                </objectState>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.refactorDDSMessage.popupmenu"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <visibility>
             <and>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
                <objectState
                      name="isZDLConcept"
                      value="DDS4CCM::DDSExtensions::DDSMessage">
                </objectState>
             </and>
          </visibility>
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.ConvertFieldToStructAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.actions.ConvertFieldToStructAction"
                label="%field.action.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
       </viewerContribution>
       <viewerContribution
             id="com.zeligsoft.refactorField.popupmenu"
             targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <visibility>
             <and>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
                <objectState
                      name="isZDLConcept"
                      value="CORBADomain::IDL::CORBAStruct">
                </objectState>
             </and>
          </visibility>
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.ReapplyFieldStereotypesAction"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.ReapplyFieldStereotypesAction"
                label="%reapply.field.stereotype.label.1"
                menubarPath="org.eclipse.gmf.runtime.common.ui.actions.RefactorMenu/additions">
          </action>
       </viewerContribution>
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="false"
             id="com.zeligsoft.domain.idl3plus.ui.repairAllModuleInstantiations"
             objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
          <action
                class="com.zeligsoft.domain.idl3plus.ui.actions.RepairAllModuleInstantiationsAction"
                enablesFor="1"
                id="com.zeligsoft.domain.idl3plus.ui.actions.repairAllModuleInstantiations"
                label="%action.label.RepairAllModuleInstantiations"
                menubarPath="additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="umlType"
                      value="Model">
                </objectState>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.zeligsoft.domain.dds4ccm.ui.showSource"
             objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
          <action
                class="com.zeligsoft.domain.dds4ccm.ui.actions.ShowSourceActionDelegate"
                enablesFor="1"
                id="com.zeligsoft.domain.dds4ccm.ui.actions.showSource"
                label="%action.label.show_source"
                menubarPath="additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="isZDLConcept"
                      value="CCM::CCM_Implementation::CCMPart">
                </objectState>
                <objectState
                      name="isZDLProfile"
                      value="cxDDS4CCM">
                </objectState>
             </and>
          </visibility>
       </objectContribution>
    </extension>
    -->
    <!--
       <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.zeligsoft.domain.dds4ccm.codegen.togglecodetagnature"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.zeligsoft.domain.dds4ccm.ui.actions.ToggleCodeTagNatureAction"
               enablesFor="+"
               id="com.zeligsoft.domain.dds4ccm.codegen.togglecodetagnature"
               label="%action.togglecodetagnature.label"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
   </extension>
       <extension
             point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
          <decoratorProvider
                class="com.zeligsoft.domain.dds4ccm.ui.internal.providers.decorators.AssemblyPartDecoratorProvider">
             <Priority
                   name="Highest">
             </Priority>
             <object
                   class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart"
                   id="com.zeligsoft.domain.dds4ccm.ui.DDS4CCMAssemblyDecoratorProvider">
                <staticMethod
                      name="resolveSemanticElement().eClass().getName()"
                      value="Property">
                </staticMethod>
             </object>
          </decoratorProvider>
       </extension>
       <extension
             point="org.eclipse.ui.popupMenus">
          <viewerContribution
                id="com.zeligsoft.domain.dds4ccm.ui.repairDeployment"
                targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
             <action
                   class="com.zeligsoft.domain.dds4ccm.ui.actions.RepairDeploymentParts"
                   enablesFor="1"
                   id="com.zeligsoft.domain.dds4ccm.ui.action1"
                   label="%action.repairDeployment"
                   menubarPath="additions">
             </action>
             <visibility>
                <objectState
                      name="isZDLConcept"
                      value="CCM::CCM_Deployment::DeploymentPlan">
                </objectState>
             </visibility>
          </viewerContribution>
          <viewerContribution
                id="com.zeligsoft.domain.dds4ccm.ui.repairAllDeployment"
                targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
             <action
                   class="com.zeligsoft.domain.dds4ccm.ui.actions.RepairDeploymentParts"
                   enablesFor="1"
                   id="com.zeligsoft.domain.dds4ccm.ui.action1"
                   label="%action.repairAllDeployments"
                   menubarPath="additions">
             </action>
             <visibility>
                <objectState
                      name="isZDLConcept"
                      value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                </objectState>
             </visibility>
          </viewerContribution>
          <viewerContribution
                id="com.zeligsoft.domain.dds4ccm.ui.repairAllWorkerFunctions"
                targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
             <menu
                   id="menu.repairAllWorkerFunctions"
                   label="%all.worker.function.repair"
                   path="additions">
                <separator
                      name="repairAllWorkerFunctions.separator">
                </separator>
             </menu>
             <visibility>
                <and>
                   <objectState
                         name="umlType"
                         value="Model">
                   </objectState>
                   <objectState
                         name="isZDLProfile"
                         value="cxDDS4CCM">
                   </objectState>
                </and>
             </visibility>
             <action
                   class="com.zeligsoft.domain.dds4ccm.ui.actions.RepairAllWorkerFunctionsAction"
                   id="ModelLevel"
                   label="%all.worker.function.repair.model.level"
                   menubarPath="menu.repairAllWorkerFunctions/repairAllWorkerFunctions.separator">
             </action>
             <action
                   class="com.zeligsoft.domain.dds4ccm.ui.actions.RepairAllWorkerFunctionsAction"
                   id="ProjectLevel"
                   label="%all.worker.function.repair.project.level"
                   menubarPath="menu.repairAllWorkerFunctions/repairAllWorkerFunctions.separator">
             </action>
             <action
                   class="com.zeligsoft.domain.dds4ccm.ui.actions.RepairAllWorkerFunctionsAction"
                   id="WorkspaceLevel"
                   label="%all.worker.function.repair.workspace.level"
                   menubarPath="menu.repairAllWorkerFunctions/repairAllWorkerFunctions.separator">
             </action>
          </viewerContribution>
       </extension>
    -->
</plugin>
