<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
            point="com.zeligsoft.cx.ui.portTypeWizard">
         <PortType
               allowInterfaceCreation="false"
               createInversePortType="false"
               domain="cxDDS4CCM"
               portTypeConcept="IDL3Plus::IDL3Plus::ExtendedPortType"
               enableMultiSelection="true"
               enableNameSelection="true"
               showUsesList="true">
         </PortType>
    </extension>
    
    <!-- CBDDS properties tab and sections -->
    <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="TreeOutlinePage">
         <propertyTab
               afterTab="uml"
               category="org.eclipse.papyrus"
               id="cx"
               label="CX"/>
      </propertyTabs>
    </extension>    
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="TreeOutlinePage">
          <propertySection
                class="com.zeligsoft.domain.dds4ccm.ui.properties.DomainPropertySection"
                filter="com.zeligsoft.domain.dds4ccm.ui.internal.filters.CBDDSPropertiesFilter"
                id="cx.Sections"
                tab="cx">
          </propertySection>
       </propertySections>
    </extension>
    
    <!-- Custom properties sections -->
    <extension
          point="com.zeligsoft.cx.ui.properties.customPropertySection">
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="ZMLMM::ZML_Core::NamedElement"
             domain="cxDDS4CCM"
             property="name">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="ZMLMM::ZML_Deployments::ComponentDeploymentPart"
             domain="cxDDS4CCM"
             property="selectedImplementation">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="ZMLMM::ZML_Deployments::DeploymentPart"
             domain="cxDDS4CCM"
             property="name">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="CXDomain::IDL::CXField"
             domain="cxDDS4CCM"
             property="bound">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="DDS4CCM::DDS4CCM::DDS4CCMModel"
             property="fixedHeader">
       </PropertySection>
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="DDS4CCM::DDS4CCM::DDS4CCMModel"
             property="fixedFooter">
       </PropertySection>
       
       <PropertySection
             class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCustomPropertySectionProvider"
             concept="CCM::CCM_Component::InterfacePort"
             domain="cxDDS4CCM"
             property="connectorType">
       </PropertySection>
    </extension>
    <extension
          point="org.eclipse.papyrus.infra.gmfdiag.dnd.dropStrategy">
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.CCMComponentDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.ConnectorDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.NodeDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.BridgeDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.InterconnectDropStrategy">
       </strategy>
       <strategy
             strategy="com.zeligsoft.domain.dds4ccm.ui.drop.HomeDropStrategy">
       </strategy>
    </extension>
    <extension
          point="org.eclipse.papyrus.emf.facet.util.emf.core.modeldeclaration">
       <modeldeclaration
             file="facets/SupressStereotypeDisplay.custom">
       </modeldeclaration>
       <modeldeclaration
             file="facets/SimpleDependencyUML.custom">
       </modeldeclaration>
    </extension>
    
       <extension
         point="org.eclipse.ui.navigator.viewer">               
      <viewerContentBinding
        viewerId="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
         <includes>
            <contentExtension
              pattern="com.zeligsoft.domain.dds4ccm.ui.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>           
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
        <commonFilter
              activeByDefault="true"
              class="com.zeligsoft.domain.dds4ccm.ui.filters.CXModelFilter"
              description="%filter.description"
              id="com.zeligsoft.domain.dds4ccm.ui.filters.cxModelFilter"
              name="%filter.name">       
        </commonFilter>
   </extension>
   
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="com.zeligsoft.domain.dds4ccm.ui.listeners.CCMPartMoveOperationListener">
         <editingDomain
               id="org.eclipse.papyrus.SharedEditingDomainID">
         </editingDomain>
      </listener>
      <listener
            class="com.zeligsoft.domain.dds4ccm.ui.listeners.DDS4CCMListener">
         <editingDomain
               id="org.eclipse.papyrus.SharedEditingDomainID">
         </editingDomain>
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="com.zeligsoft.domain.dds4ccm.ui.createCXModelFromUMLCommand"
               label="Create CX Model from UML"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="uml">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.CreateCXModelFromUMLModelHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.createCXModelFromUMLCommand"
            name="Create CX Model from UML">
      </command>
   </extension>
    <extension
          point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
       <editpolicyProvider
             class="com.zeligsoft.domain.dds4ccm.ui.internal.providers.AssemblyStructureCompartmentDragDropEditPolicyProvider">
          <Priority
                name="Highest">
          </Priority>
       </editpolicyProvider>
    </extension>
    <extension
          point="org.eclipse.papyrus.infra.gmfdiag.css.theme">
       <themeContribution
             id="org.eclipse.papyrus.css.papyrus_theme">
          <stylesheet
                stylesheetPath="stylesheets/cxstyle.css">
          </stylesheet>
       </themeContribution>
    </extension>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="cxPreferenceRoot"
            class="com.zeligsoft.domain.dds4ccm.ui.preferences.DDS4CCMPreferencePage"
            id="com.zeligsoft.DDS4CCM"
            name="%DDS4CCMPreferencePage.name">
      </page>
    </extension>
    
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.uml.modelrepair.refactor">
            
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.migrateModel"
              style="push"
              label="Migrate Model">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.repairallworkerfunctions.model"
              style="push"
              label="Repair All Worker Functions">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.repairdeploymentparts"
              style="push"
              label="Repair All Deployments">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.repairdeployment"
              label="Repair Deployment"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="CCM::CCM_Deployment::DeploymentPlan">
                 </test>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.cleanreferencesaction"
              style="push"
              label="Clean Model Library References">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.cleanrcommentsaction"
              style="push"
              label="Clean Imported Comments">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.refactorregisternamingaction"
              style="push"
              label="Refactor RegisterNaming Properties">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.refactorcontainerprocesssaction"
              style="push"
              label="Add Required Container Process Properties">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.structtomessage"
              label="%struct.action.label.1"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="CXDomain::IDL::CXStruct">
                 </test>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.messagetostruct"
              label="%field.action.label.1"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="DDS4CCM::DDSExtensions::DDSMessage">
                 </test>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.reapplyfieldstreotype"
              label="%reapply.field.stereotype.label.1"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <or>
                    <test
                          property="com.zeligsoft.zdl.tester.isZDLConcept"
                          value="DDS4CCM::DDSExtensions::DDSMessage">
                    </test>
                    <test
                          property="com.zeligsoft.zdl.tester.isZDLConcept"
                          value="CXDomain::IDL::CXStruct">
                    </test>
                 </or>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.migratetoaxcioma"
              label="Convert to AXCIOMA"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                 </test>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.cleanrsadiagrams"
              label="Clean RSA Diagrams"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                 </test>
              </with>
           </visibleWhen>
        </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.setporttype"
              label="%action.setPortType.label"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="ZMLMM::ZML_Component::Port">
                 </test>
              </with>
           </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.dds4ccm.ui.showporttype"
              label="%action.showPortType.label"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="selection">
                 <test
                       property="com.zeligsoft.zdl.tester.isZDLConcept"
                       value="ZMLMM::ZML_Component::Port">
                 </test>
              </with>
           </visibleWhen>
        </command>

      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.uml.import.menu">
         <command
               commandId="com.zeligsoft.domain.dds4ccm.ui.idlimport"
               icon="icons/view16/cx-perspective.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <test
                           property="org.eclipse.papyrus.infra.emf.readonly.tester.canMakeWritable"
                           value="true">
                     </test>
                     <test
                           property="com.zeligsoft.zdl.tester.isZDLConcept"
                           value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                     </test>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.MigrateModelActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.migrateModel"
            name="Migrate Model">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RepairWorkerFunctionsHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.repairallworkerfunctions.model"
            name="Repair Model Worker Functions">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RepairDeploymentPartsActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.repairdeploymentparts"
            name="Repair All Deployment Parts">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.CleanReferencesActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.cleanreferencesaction"
            name="Clean Model Library References">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.CleanCommentsActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.cleanrcommentsaction"
            name="Clean Imported Comments">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.AddRegisterNamingPropertyActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.refactorregisternamingaction"
            name="Refactor ReisterNaming Properties">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RefactorContainerProcessActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.refactorcontainerprocesssaction"
            name="Add Required Container Process Properties">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.RepairDeploymentPartsActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.repairdeployment"
            name="Repair Deployment">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.ConvertStructToFieldActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.structtomessage"
            name="%struct.action.label.1">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.ConvertFieldToStructActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.messagetostruct"
            name="%field.action.label.1">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.SetPortTypeActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.setporttype"
            name="%action.setPortType.label">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.ShowPortTypeActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.showporttype"
            name="%action.showPortType.label">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.ReapplyFieldStereotypesActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.reapplyfieldstreotype"
            name="%reapply.field.stereotype.label.1">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.MigrateModelTypeActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.migratetoaxcioma"
            name="Migrate To AXICOMA">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.IDLImportActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.idlimport"
            name="Import IDL">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.CleanRSADiagramLayout"
            id="com.zeligsoft.domain.dds4ccm.ui.cleanrsadiagrams"
            name="Clean RSA Diagrams">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <command
               commandId="com.zeligsoft.domain.dds4ccm.ui.validateCommand"
               id="com.zeligsoft.domain.dds4ccm.ui.validate"
               label="Validate">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isCXModel"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.papyrus.editor.category"
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.CXValidationHandler"
            description="Validate CX Model"
            id="com.zeligsoft.domain.dds4ccm.ui.validateCommand"
            name="Validate">
      </command>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.gmfdiag.common.pasteStrategy">
      <strategy
            strategy="com.zeligsoft.domain.dds4ccm.ui.paste.DDS4CCMPasteStrategy">
      </strategy>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="10"
            provider="com.zeligsoft.domain.dds4ccm.ui.providers.ResolvingUMLFilteredLabelProvider">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.service">
      <service
            classname="com.zeligsoft.domain.dds4ccm.ui.services.CoreMultiDiagramEditorService"
            id="org.eclipse.papyrus.infra.ui.editor.IMultiDiagramEditor"
            priority="-1"
            startKind="startup">
      </service>
      <service
            classname="com.zeligsoft.domain.dds4ccm.ui.services.CustomProfileDefinitionService"
            id="org.eclipse.papyrus.uml.tools.service.IProfileDefinitionService"
            priority="2"
            startKind="startup">
      </service>
   </extension>
   <extension
      point="org.eclipse.papyrus.infra.gmfdiag.canonical.strategies">
	   <semanticChildrenStrategy
          class="com.zeligsoft.domain.dds4ccm.ui.strategies.ComponentPartCompartmentChildrenStrategy"
          editPart="org.eclipse.papyrus.uml.diagram.composite.edit.parts.PropertyPartCompartmentEditPartCN"
          priority="2">
	   </semanticChildrenStrategy>
	   <semanticChildrenStrategy
          class="com.zeligsoft.domain.dds4ccm.ui.strategies.CompositeDiagramSemanticChildrenStrategy"
          priority="1">
	      <enablement>
	         <and>
	            <with
	                  variable="element">
                <instanceof
                      value="org.eclipse.uml2.uml.StructuredClassifier">
                </instanceof>
	            </with>
	            <with
	                  variable="view">
	               <test
	                     property="org.eclipse.papyrus.infra.gmfdiag.common.diagramType"
	                     value="CompositeStructure">
	               </test>
	            </with>
	         </and>
	      </enablement>
	   </semanticChildrenStrategy>
	</extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.zeligsoft.domain.dds4ccm.ui.activity"
            name="Papyrus Capabilities">
      </activity>
      <activityPatternBinding
            activityId="com.zeligsoft.domain.dds4ccm.ui.activity"
            pattern="org\.eclipse\.papyrus\.infra\.services\.validation.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.zeligsoft.domain.dds4ccm.ui.activity"
            pattern="org\.eclipse\.papyrus\.uml\.oclconstraintevaluation.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.zeligsoft.domain.dds4ccm.ui.activity"
            pattern="org\.eclipse\.papyrus\.uml\.modelrepair.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="com.zeligsoft.domain.dds4ccm.ui.activity"
            pattern="org\.eclipse\.papyrus\.uml\.import.*">
      </activityPatternBinding>
   </extension>
   
<extension
      point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
   <paletteProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DefaultPaletteProvider">
      <Priority
            name="Highest">
      </Priority>
      <contribution>
         <predefinedEntry
               id="geoshapeDrawer"
               path="/">
            <expand
                  force="true">
            </expand>
         </predefinedEntry>
      </contribution>
      <editor
            class="org.eclipse.papyrus.uml.diagram.common.part.UmlGmfDiagramEditor(org.eclipse.papyrus.uml.diagram.common)">
      </editor>
   </paletteProvider>
</extension>
<extension
      point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
   <editpolicyProvider
         class="com.zeligsoft.domain.dds4ccm.ui.providers.DDS4CCMCanonicalEditPolicyProvider">
      <Priority
            name="High">
      </Priority>
   </editpolicyProvider>
</extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.uml.diagram.ui.popupmenu.format">
         <command
               commandId="com.zeligsoft.domain.dds4ccm.ui.importlayout"
               label="Import Diagram Layout"
               style="push">
            <visibleWhen>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.papyrus.infra.core.papyrusEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command
               commandId="com.zeligsoft.dds4ccm.ui."
               disabledIcon="IMG_TOOL_DELETE_DISABLED"
               icon="IMG_TOOL_DELETE"
               label="Delete Selected Line"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.infra.core.papyrusEditor">
                     </equals>
                  </with>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.gmf.runtime.diagram.ui.geoshapes.internal.editparts.LineEditPart">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.uml.diagram.ui.popupmenu.filters">
         <command
               commandId="com.zeligsoft.domain.dds4ccm.ui.actions.ResetCompartmentFilterCommand"
               label="Reset Compartment Filter"
               style="push">
            <visibleWhen>
               <and>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.infra.core.papyrusEditor">
                     </equals>
                  </with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.DeleteSelectedLineCommandHandler"
            id="com.zeligsoft.dds4ccm.ui.edit.deleteline"
            name="Delete Selected Line">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.ImportDiagramLayout"
            id="com.zeligsoft.domain.dds4ccm.ui.importlayout"
            name="Import Diagram Layout">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.ResetCompartmentFilterActionHandler"
            id="com.zeligsoft.domain.dds4ccm.ui.actions.ResetCompartmentFilterCommand"
            name="Reset Compartment Filter">
      </command>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="com.zeligsoft.domain.dds4ccm.ui.internal.providers.decorators.GeoShapePartDecoratorProvider">
         <Priority
               name="Lowest">
         </Priority>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.zeligsoft.dds4ccm.ui.edit.deleteline"
            contextId="org.eclipse.gmf.runtime.diagram.ui.diagramContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>     
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="false"
            class="com.zeligsoft.domain.dds4ccm.ui.filters.NavigatorModelOnlyFilter"
            id="com.zeligsoft.domain.dds4ccm.ui.cxdionlyfilter"
            name="CX Model View">
      </commonFilter>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.zeligsoft.domain.dds4ccm.ui.providers.NavigatorModelOnlyContentProvider"
            id="com.zeligsoft.domain.dds4ccm.ui.CXContent"
            labelProvider="org.eclipse.papyrus.infra.onefile.ui.providers.PapyrusLabelProvider"
            name="CX Content"
            priority="higher">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.papyrus.infra.onefile.providers.OneFileModelProvider">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.internal.resources.mapping.ResourceModelProvider">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
            </or>
         </enablement>
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IContainer">
               </instanceof>
               <instanceof
                     value="org.eclipse.papyrus.infra.onefile.model.IPapyrusFile">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding viewerId="org.eclipse.team.ui.navigatorViewer">
         <includes>
            <contentExtension
                  pattern="com.zeligsoft.domain.dds4ccm.ui.cxdionlyfilter"/>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension 
                  pattern="com.zeligsoft.domain.dds4ccm.ui.cxdionlyfilter">
            </contentExtension>
            <contentExtension 
                  pattern="com.zeligsoft.domain.dds4ccm.ui.CXContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding 
            viewerId="org.eclipse.team.ui.navigatorViewer">
         <includes>
            <contentExtension 
                  pattern="com.zeligsoft.domain.dds4ccm.ui.cxdionlyfilter">
            </contentExtension>
            <contentExtension 
                  pattern="com.zeligsoft.domain.dds4ccm.ui.CXContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.zeligsoft.domain.dds4ccm.ui.actions.NavigatorModelOnlyFilterAction"
            id="com.zeligsoft.domain.dds4ccm.ui.modelonlyfiltercommand"
            name="CX Models Only">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer">
         <separator
               name="my.separator"
               visible="true">
         </separator>
         <command
               commandId="com.zeligsoft.domain.dds4ccm.ui.modelonlyfiltercommand"
               icon="icons/papyrus.png"
               label="CX Di Filter"
               style="push"
               tooltip="Models Only">
         </command>
      </menuContribution>
	   </extension>
	      <extension
	         point="org.eclipse.papyrus.infra.gmfdiag.extensionpoints.editors.DirectEditor">
	      <DirectEditor
	            contributor="Zeligsoft"
	            language="CX Direct Editor"
	            objectToEdit="org.eclipse.uml2.uml.Property"
	            superType="true">
	         <popupeditor
	               editorConfiguration="com.zeligsoft.domain.dds4ccm.ui.providers.CXDirectEditorConfiguration">
	         </popupeditor>
	         <Priority
	               name="High">
	         </Priority>
	      </DirectEditor>
	      <DirectEditor
	            contributor="Zeligsoft"
	            language="CX Direct Editor"
	            objectToEdit="org.eclipse.uml2.uml.Parameter"
	            superType="true">
	         <popupeditor
	               editorConfiguration="com.zeligsoft.domain.dds4ccm.ui.providers.CXDirectEditorConfiguration">
	         </popupeditor>
	         <Priority
	               name="High">
	         </Priority>
	      </DirectEditor>
	      <DirectEditor
	            contributor="Zeligsoft"
	            language="CX Direct Editor"
	            objectToEdit="org.eclipse.uml2.uml.Port"
	            superType="true">
	         <popupeditor
	               editorConfiguration="com.zeligsoft.domain.dds4ccm.ui.providers.CXDirectEditorConfiguration">
	         </popupeditor>
	         <Priority
	               name="High">
	         </Priority>
	      </DirectEditor>
	   </extension>
</plugin>
