<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="spectraCXImportID"
            class="com.zeligsoft.domain.sca.agilent.importer.ui.wizards.AgilentXmlImportWizard"
            id="com.zeligsoft.domain.sca.agilent.importer.ui.xmlImportWizard"
            name="%wizard.agilent.import.name">
         <description>
            %wizard.agilent.import.description
         </description>
         <selection
               class="org.eclipse.core.resources.IFile">
         </selection>
      </wizard>
   </extension>
</plugin>
