<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 Copyright 2018 ADLINK Technology Limited.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<plugin>
   <extension
   		point="org.eclipse.gmf.runtime.common.ui.services.action.actionFilterProviders">
   		<ActionFilterProvider
   			class="com.zeligsoft.base.ui.providers.ZDLActionFilterProvider">
   			<Priority
   				name="Highest">
   			</Priority>
   			<Attribute name="isZDLConcept" />
            <Attribute name="isZDLProfile"/>
            <Attribute name="hasAnyZDLProfile"/>
            <Attribute
                  name="isZDLStructureDiagram">
            </Attribute>
            <Attribute
                  name="needDeletePortMenu">
            </Attribute>
            <Attribute
                  name="isZDLDomain">
            </Attribute>
            <Attribute
                  name="isMultipleSelection">
            </Attribute>            
   		</ActionFilterProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="com.zeligsoft.base.ui.providers.MultiplicityDecoratorProvider">
         <Priority
               name="High">
         </Priority>
         <object
         		class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart"
               id="PrimaryPart">
         </object>
         <context decoratorTargets="PrimaryPart" />
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.zeligsoft"
            name="%category.name">
      </category>
   </extension>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="com.zeligsoft.base.ui.providers.ZDLPaletteProvider">
         <Priority
               name="Low">
         </Priority>
         <content>
            <method
                  name="getDiagram().getType()"
                  value="Statechart, Structure, Component"/>
         </content>         
      </paletteProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="com.zeligsoft.base.ui.providers.ZDLDefaultViewProvider">
         <Priority name="Medium"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge"/>
      </viewProvider>
      <viewProvider class="com.zeligsoft.base.ui.providers.ZDLViewProvider">
         <Priority name="Medium"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge"/>
      </viewProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="com.zeligsoft.base.ui.providers.ZDLEditPartProvider">
         <Priority name="Medium"/>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <IconProvider
            class="com.zeligsoft.base.ui.providers.ZDLIconProvider">
         <Priority
               name="Highest">
         </Priority>
      </IconProvider>
   </extension>   
   <extension
   		 id="com.zeligsoft.base.ui.providers.zeligsoftViewCustomizerViewProviderId"
   		 name="Zeligsoft ViewCustomizer ViewProvider"
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="com.zeligsoft.base.ui.providers.CustomizerViewProvider">
         <Priority name="Medium"/>
         <object class ="org.eclipse.gmf.runtime.emf.type.core.IElementType(org.eclipse.gmf.runtime.emf.type.core)" 
                 id="NodesByType_EClass">
                 <staticMethod 
                 	name="com.ibm.xtools.uml.type/com.ibm.xtools.uml.type.util.UMLElementTypesUtil.getMetaModelElementID(%Context[org.eclipse.gmf.runtime.emf.type.core/org.eclipse.gmf.runtime.emf.type.core.IElementType])" 
                 	value="uml.Component,uml.Interface,uml.Class,uml.Manifestation">
                 </staticMethod>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge"/>         
      </viewProvider>
   </extension>
    <extension
         point="org.eclipse.ui.preferencePages">
       <page
             class="com.zeligsoft.base.ui.preferences.RootPreferencePage"
             id="cxPreferenceRoot"
             name="%preferencePageRoot">
      </page>
   </extension>
</plugin>
