<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="readOnlyHandler" name="readOnlyHandler" schema="schema/readOnlyHandler.exsd"/>
   <extension
         point="org.eclipse.papyrus.infra.emf.readonly.readOnlyHandler">
      <readOnlyHandler
            class="org.eclipse.papyrus.infra.emf.readonly.EMFReadOnlyHandler"
            id="org.eclipse.papyrus.infra.emf.readonly.EMFReadOnlyHandler"
            priority="5">
         <affinity
               axis="permission">
         </affinity>
      </readOnlyHandler>
      <readOnlyHandler
            class="org.eclipse.papyrus.infra.emf.readonly.SashModelReadOnlyHandler"
            priority="20">
         <affinity
               axis="discretion">
         </affinity>
      </readOnlyHandler>
   </extension>
<extension
      point="org.eclipse.papyrus.infra.core.transactionalEditingDomainProvider">
   <transactionalEditingDomainProvider
         class="org.eclipse.papyrus.infra.emf.readonly.PapyrusROTransactionalEditingDomainProvider"
         priority="10">
   </transactionalEditingDomainProvider>
</extension>
<extension
      point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="org.eclipse.papyrus.infra.emf.readonly.ReadOnlyTester"
         id="org.eclipse.papyrus.infra.emf.readonly.tester"
         namespace="org.eclipse.papyrus.infra.emf.readonly.tester"
         properties="isReadOnly,canMakeWritable"
         type="org.eclipse.emf.ecore.EObject">
   </propertyTester>
</extension>
<extension
      point="org.eclipse.papyrus.infra.emf.gmf.operationApprovers">
   <operationApprover
         class="org.eclipse.papyrus.infra.emf.readonly.ReadOnlyOneFileApprover"
         priority="10">
   </operationApprover>
</extension>
<extension
      point="org.eclipse.core.runtime.adapters">
   <factory
         adaptableType="org.eclipse.emf.edit.domain.EditingDomain"
         class="org.eclipse.papyrus.infra.emf.readonly.ReadOnlyAdapterFactory">
      <adapter
            type="org.eclipse.papyrus.infra.core.resource.IReadOnlyHandler">
      </adapter>
      <adapter
            type="org.eclipse.papyrus.infra.core.resource.IReadOnlyHandler2">
      </adapter>
   </factory>
</extension>
</plugin>
