<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="con.zeligsoft.cx.product"
         name="CX Product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.zeligsoft.cx.product"
            description="%product.description.0"
            name="%product.name.0">
      </product>
   </extension>

</plugin>
