<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
            point="org.eclipse.ui.editors">
        <editor
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="idl"
            id="com.zeligsoft.domain.omg.corba.dsl.IDL"
            name="IDL Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="com.zeligsoft.domain.omg.corba.dsl.IDL.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="com.zeligsoft.domain.omg.corba.dsl.IDL.validate">
         <activeWhen>
            <reference
                    definitionId="com.zeligsoft.domain.omg.corba.dsl.IDL.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.zeligsoft.domain.omg.corba.dsl.IDL.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="com.zeligsoft.domain.omg.corba.dsl.IDL" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="com.zeligsoft.domain.omg.corba.dsl.IDL"
            name="IDL">
            <keywordReference id="com.zeligsoft.domain.omg.corba.dsl.ui.keyword_IDL"/>
        </page>
        <page
            category="com.zeligsoft.domain.omg.corba.dsl.IDL"
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="com.zeligsoft.domain.omg.corba.dsl.IDL.coloring"
            name="Syntax Coloring">
            <keywordReference id="com.zeligsoft.domain.omg.corba.dsl.ui.keyword_IDL"/>
        </page>
        <page
            category="com.zeligsoft.domain.omg.corba.dsl.IDL"
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="com.zeligsoft.domain.omg.corba.dsl.IDL.templates"
            name="Templates">
            <keywordReference id="com.zeligsoft.domain.omg.corba.dsl.ui.keyword_IDL"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="com.zeligsoft.domain.omg.corba.dsl.IDL"
            name="IDL">
            <keywordReference id="com.zeligsoft.domain.omg.corba.dsl.ui.keyword_IDL"/>
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject"/>
            </enabledWhen>
            <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="com.zeligsoft.domain.omg.corba.dsl.ui.keyword_IDL"
            label="IDL"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="com.zeligsoft.domain.omg.corba.dsl.IDL.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="com.zeligsoft.domain.omg.corba.dsl.IDL.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="com.zeligsoft.domain.omg.corba.dsl.IDL.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
            <command commandId="org.eclipse.xtext.ui.editor.FindReferences">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="com.zeligsoft.domain.omg.corba.dsl.IDL.Editor.opened">
                    </reference>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.handlers">
        <handler
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="com.zeligsoft.domain.omg.corba.dsl.IDL.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

    <extension
        point="org.eclipse.emf.ecore.extension_parser">
        <parser
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
            type="idl">
        </parser>
    </extension>
    <extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="idl">
        </resourceServiceProvider>
    </extension>



    <!-- Quick Outline -->
    <extension
        point="org.eclipse.ui.handlers">
        <handler 
            class="com.zeligsoft.domain.omg.corba.dsl.ui.IDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
            commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
            <activeWhen>
                <reference
                    definitionId="com.zeligsoft.domain.omg.corba.dsl.IDL.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>
    <extension
        point="org.eclipse.ui.commands">
        <command
            description="Open the quick outline."
            id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
            name="Quick Outline">
        </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.open">
            <command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
                style="push"
                tooltip="Open Quick Outline">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="com.zeligsoft.domain.omg.corba.dsl.IDL.Editor.opened"/>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>
</plugin>
