<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.zeligsoft.domain.sca.agilent.SystemvueModel.presentation.SystemvueModelModelWizardID"
            name="%_UI_SystemvueModelModelWizard_label"
            class="com.zeligsoft.domain.sca.agilent.SystemvueModel.presentation.SystemvueModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SystemvueModelModelFile.gif">
         <description>%_UI_SystemvueModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.zeligsoft.domain.sca.agilent.SystemvueModel.presentation.SystemvueModelEditorID"
            name="%_UI_SystemvueModelEditor_label"
            icon="icons/full/obj16/SystemvueModelModelFile.gif"
            extensions="systemvuemodel"
            class="com.zeligsoft.domain.sca.agilent.SystemvueModel.presentation.SystemvueModelEditor"
            contributorClass="com.zeligsoft.domain.sca.agilent.SystemvueModel.presentation.SystemvueModelActionBarContributor">
      </editor>
   </extension>

</plugin>
