<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.zeligsoft.base.zdl.staticapi.factories">
      <factory
            domain="cxZDL"
            factoryClass="com.zeligsoft.base.zdl.staticapi.ZDL.util.ZDLFactoryImpl">
      </factory>
   </extension>

</plugin>
