<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="com.zeligsoft.domain.idl3plus.ui.providers.ConnectorEditpartProvider">
         <Priority
               name="Highest">
         </Priority>
      </editpartProvider>
      <editpartProvider
            class="com.zeligsoft.domain.idl3plus.ui.providers.InterfacePortEditPartProvider">
         <Priority
               name="Highest">
         </Priority>
      </editpartProvider>
   </extension>
   
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="com.zeligsoft.domain.idl3plus.ui.listeners.IDL3PlusDeploymentListener">
         <editingDomain
               id="org.eclipse.papyrus.SharedEditingDomainID">
         </editingDomain>
      </listener>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.uml.modelrepair.refactor">
        <command
              commandId="com.zeligsoft.domain.idl3plus.ui.repairallmoduleinstantiations"
              style="push"
              label="Repair All Module Instantiations">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="DDS4CCM::DDS4CCM::DDS4CCMModel">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <command
              commandId="com.zeligsoft.domain.idl3plus.ui.repairmoduleinstantiation"
              style="push"
              label="Repair Module Instantiation">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="IDL3Plus::Generics::ModuleInstantiation">
                  </test>
               </with>
            </visibleWhen>
        </command>
        <separator
              name="com.zeligsoft.domain.idl3plus.ui.separator"
              visible="true">
        </separator>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.zeligsoft.domain.idl3plus.ui.actions.RepairAllModuleInstantiationsActionHandler"
            id="com.zeligsoft.domain.idl3plus.ui.repairallmoduleinstantiations"
            name="Repair All Module Instantiations">
      </command>
      <command
            defaultHandler="com.zeligsoft.domain.idl3plus.ui.actions.RepairModuleInstantiationActionHandler"
            id="com.zeligsoft.domain.idl3plus.ui.repairmoduleinstantiation"
            name="Repair Module Instantiation">
      </command>
   </extension>
    <extension
         point="com.zeligsoft.cx.ui.properties.customPropertySection">
       <PropertySection
             append="true"
             class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusDeploymentPropertiesSection"
             concept="ZMLMM::ZML_Deployments::DeploymentPart"
             property="modelElement">
       </PropertySection>
       <PropertySection
             append="true"
             class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusDeploymentPropertiesSection"
             concept="IDL3Plus::Connectors::ConnectorDef"
             property="general">
       </PropertySection>       
      <PropertySection
            class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusCustomPropertySectionProvider"
            concept="CCM::CCM_Component::InterfacePort"
            property="isAsynchronous">
      </PropertySection>
      <PropertySection
            class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusCustomPropertySectionProvider"
            concept="CCM::CCM_Component::InterfacePort"
            property="hasCSL">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusDeploymentPropertiesSection"
            concept="IDL3Plus::Connectors::ConnectorDefaultValueBinding"
            property="definition">
      </PropertySection>
      <PropertySection
            class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusDataSpaceCustomPropertySectionProvider"
            concept="IDL3Plus::Connectors::DataSpace"
            property="connectorType">
      </PropertySection>
    </extension>
    <extension
          id="validationDecoratorProvider"
          point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="com.zeligsoft.domain.idl3plus.ui.providers.PortDecoratorProvider">
         <Priority
               name="Highest">
         </Priority>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
    </extension>
</plugin>
