<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="com.zeligsoft.domain.idl3plus.ui.providers.ConnectorEditpartProvider">
         <Priority
               name="Highest">
         </Priority>
      </editpartProvider>
   </extension>
<!--    
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="false"
             id="com.zeligsoft.domain.idl3plus.ui.repairModuleInstantiation"
             objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
          <action
                class="com.zeligsoft.domain.idl3plus.ui.actions.RepairModuleInstantiationAction"
                enablesFor="1"
                id="com.zeligsoft.domain.idl3plus.ui.actions.repairModuleInstantiation"
                label="%action.label.RepairModuleInstantiation"
                menubarPath="additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="isZDLConcept"
                      value="IDL3Plus::Generics::ModuleInstantiation">
                </objectState>
                <objectState
                      name="isZDLDomain"
                      value="IDL3Plus">
                </objectState>
             </and>
          </visibility>
       </objectContribution>
       <objectContribution
             adaptable="false"
             id="com.zeligsoft.domain.idl3plus.ui.repairAllModuleInstantiations"
             objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
          <action
                class="com.zeligsoft.domain.idl3plus.ui.actions.RepairAllModuleInstantiationsAction"
                enablesFor="1"
                id="com.zeligsoft.domain.idl3plus.ui.actions.repairAllModuleInstantiations"
                label="%action.label.RepairAllModuleInstantiations"
                menubarPath="additions">
          </action>
          <visibility>
             <and>
                <objectState
                      name="umlType"
                      value="Model">
                </objectState>
                <objectState
                      name="isZDLDomain"
                      value="IDL3Plus">
                </objectState>
             </and>
          </visibility>
       </objectContribution>
    </extension>

    <extension
         id="IDL3Plus ElementTypes"
         name="IDL3Plus ElementTypes"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">    
         <metamodel
             nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         	<adviceBinding
            	id="com.zeligsoft.domain.idl3plus.ui.Connector"
            	typeId="com.ibm.xtools.uml.component"            
            	class="com.zeligsoft.domain.idl3plus.ui.edithelpers.IDL3PlusConnectorEditHelperAdvice"
            	inheritance="all">
         	</adviceBinding>
      	</metamodel>    
    </extension>   
    <extension
         id="IDL3Plus ElementTypeBindings"
         name="IDL3Plus ElementTypeBindings"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding context="com.ibm.xtools.uml.type.context">
         <advice ref="com.zeligsoft.domain.idl3plus.ui.Connector"/>
      </binding>
      <binding context="com.ibm.xtools.mmi.core.context">
         <advice ref="com.zeligsoft.domain.idl3plus.ui.Connector"/>                     
      </binding>
    </extension>
    <extension
         id="com.zeligsoft.domain.idl3plus.ui.navigator.navigatorContent.ID"
         name="name"
         point="org.eclipse.ui.navigator.navigatorContent">
        <commonFilter
          activeByDefault="false"
          class="com.zeligsoft.domain.idl3plus.ui.internal.providers.filter.TemplateModuleContentsFilter"
          description="%moduleInstanceContentsFilter.description"
          id="com.zeligsoft.domain.idl3plus.ui.navigator.filters.templateModuleContents"
          name="%moduleInstanceContentsFilter.name">       
        </commonFilter>
    </extension>
    <extension
          id="com.zeligsoft.domain.idl3plus.structureDiagramOpenEditPolicy"
          name="IDL3PlusStructureOpenEditPolicy"
          point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
       <editpolicyProvider
             class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusStructureEditPolicyProvider">
          <Priority
                name="Highest">
          </Priority>
          <object
         		class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="PrimaryPart">
         </object>
          <context
                editparts="PrimaryPart">
          </context>
       </editpolicyProvider>
    </extension>  
    <extension
          point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
       <editpartProvider
             class="com.zeligsoft.domain.idl3plus.ui.providers.ConnectorEditPartProvider">
          <Priority
                name="High">
          </Priority>
          <object
                class="org.eclipse.gmf.runtime.notation.Node"
                id="ConnectorPart">
             <staticMethod
                   name="org.eclipse.gmf.runtime.diagram.core/org.eclipse.gmf.runtime.diagram.core.util.ViewUtil.getSemanticEClassName(%Context[org.eclipse.gmf.runtime.notation/org.eclipse.gmf.runtime.notation.View])"
                   value="uml.Property">
             </staticMethod>
          </object>
       </editpartProvider>
    </extension>
    <extension
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusDefaultViewProvider">
         <Priority name="Highest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node"/>         
      </viewProvider>
    </extension>
    -->
    <extension
         point="com.zeligsoft.cx.ui.properties.customPropertySection">
       <PropertySection
             append="true"
             class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusDeploymentPropertiesSection"
             concept="ZMLMM::ZML_Deployments::DeploymentPart"
             property="modelElement">
       </PropertySection>
       <PropertySection
             append="true"
             class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusDeploymentPropertiesSection"
             concept="IDL3Plus::Connectors::ConnectorDef"
             property="general">
       </PropertySection>       
      <PropertySection
            class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusCustomPropertySectionProvider"
            concept="CCM::CCM_Component::InterfacePort"
            property="isAsynchronous">
      </PropertySection>
      <PropertySection
            class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusCustomPropertySectionProvider"
            concept="CCM::CCM_Component::InterfacePort"
            property="hasCSL">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusDeploymentPropertiesSection"
            concept="IDL3Plus::Connectors::ConnectorDefaultValueBinding"
            property="definition">
      </PropertySection>
      <PropertySection
            class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusDataSpaceCustomPropertySectionProvider"
            concept="IDL3Plus::Connectors::DataSpace"
            property="connectorType">
      </PropertySection>
    </extension>
    <!--
    <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="com.zeligsoft.domain.idl3plus.ui.providers.PortDecoratorProvider">
         <Priority
               name="Highest">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart"
               id="com.zeligsoft.domain.idl3plus.ui.object1">
            <staticMethod
                  name="resolveSemanticElement().eClass().getName()"
                  value="Port">
            </staticMethod>
         </object>
      </decoratorProvider>
    </extension>
    <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
          <decoratorProvider
                class="com.zeligsoft.domain.idl3plus.ui.internal.providers.decorator.ConnectorDecoratorProvider">
             <Priority
                   name="High">
             </Priority>
             <object
                   class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart"
                   id="com.zeligsoft.domain.idl3plus.ui.idl3plusConnectorDecoratorProvider">
                <staticMethod
                      name="resolveSemanticElement().eClass().getName()"
                      value="Connector">
                </staticMethod>
             </object>
        </decoratorProvider>
    </extension>
    <extension
          point="org.eclipse.ui.importWizards">
       <category
             id="idl3PlusImportID"
             name="%category.name.0">
       </category>
    </extension>
    <extension   
       point="org.eclipse.ui.importWizards"> 
    	<wizard
            category="idl3PlusImportID"
            class="com.zeligsoft.domain.idl3plus.ui.wizards.IDL3PlusIDLImportWizard"
            icon="platform:/plugin/com.zeligsoft.domain.omg.corba.ui/icons/obj16/IDL-import-process.gif"
            id="com.zeligsoft.domain.idl3plus.IDL3PlusImportWizard"
            name="%wizard.name.0"> 
         <description> 
            %IDLImportWizard.description 
         </description> 
         <selection class="org.eclipse.core.resources.IFile"/> 
      </wizard>
   </extension>
 
   <extension
         point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <modelingAssistantProvider
            class="com.zeligsoft.domain.idl3plus.ui.providers.IDL3PlusModelingAssistantProvider">
         <Priority
               name="Medium">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="idl3plus__component_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="Component">
            </method>
         </object>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="idl3plus__port_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="Port">
            </method>
         </object>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="idl3plus__interface_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="Interface">
            </method>
         </object>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="idl3plus__datatype_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="DataType">
            </method>
         </object>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="idl3plus__part_">
            <method
                  name="resolveSemanticElement().eClass().getName()"
                  value="Property">
            </method>
         </object>         
         <context
               elements="idl3plus__component_, idl3plus__port_,idl3plus__interface_, idl3plus__datatype_, idl3plus__part_">
         </context>
      </modelingAssistantProvider>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.listeners">
      <listener
            class="com.zeligsoft.domain.idl3plus.ui.listeners.IDL3PlusDeploymentListener">
      </listener>
   </extension>
      -->     
</plugin>
