<plugin>
   <extension
         point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
      <java6processors>
         <java6processor
               class="com.zeligsoft.base.testsupport.internal.UnitTestProcessor">
         </java6processor>
      </java6processors>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.prismtech.com/2011/validationmodel/1"
            class="com.zeligsoft.base.testsupport.model.ValidationModel.ValidationModelPackage"
            genModel="models/validationModel.genmodel"/>
   </extension>
</plugin>