<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="com.zeligsoft.base.ui.menus.util.CXMenuPropertyTester"
          id="com.zeligsoft.base.ui.menus.CXMenuPropertyTester"
          namespace="com.zeligsoft.base.ui.menus"
          properties="isCXMenuVisible"
          type="org.eclipse.jface.viewers.IStructuredSelection">
    </propertyTester>
 </extension>
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <menu
               icon="icons/cx-perspective.gif"
               id="com.zeligsoft.base.ui.menu.addcx"
               label="AddCX">
            <dynamic
                  class="com.zeligsoft.base.ui.menus.providers.DomainSpecificMenuProvider"
                  id="com.zeligsoft.menu.generateDynamic">
            </dynamic>
            <visibleWhen>
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.base.ui.menus.isCXMenuVisible"
                        value="true">
                  </test>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
</plugin>
