<?xml version="1.0" ?> 
<plugin>
<extension point="org.eclipse.help.toc">
  <toc file="book.xml" primary="true" /> 
  </extension>
<extension point="org.eclipse.help.toc">
  <toc file="cx_base_toc.xml" /> 
</extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
       <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/overview_cx.xml"/>
       <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/tutorial_cx.xml"/>
   </extension>
</plugin>
