<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
            point="com.zeligsoft.cx.ui.portTypeWizard">
         <PortType
               allowInterfaceCreation="false"
               domain="CCM"
               enableMultiSelection="false"
               showUsesList="false">
         </PortType>
   </extension>
   <extension
         point="com.zeligsoft.cx.ui.properties.customPropertySection">
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Component::CCMComponent"
            property="generals">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Target::Node"
            property="resource">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Target::Bridge"
            property="resource">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Target::Interconnect"
            property="resource">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="ZMLMM::ZML_Deployments::DeploymentPart"
            domain="cxCCM"
            property="modelElement">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Deployment::ContainerProcess"
            property="name">
      </PropertySection>         
   </extension>
     <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="com.zeligsoft.domain.omg.ccm.ui.internal.providers.decorator.CCMPartDecoratorProvider">
         <Priority
               name="High">
         </Priority>
      </decoratorProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="cxModelingPreference"
            class="com.zeligsoft.domain.omg.ccm.ui.preferences.CCMModelingPreferencePage"
            id="cxCCMModelingPreference"
            name="%preference.modeling.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMPartEditpartProvider">
         <Priority
               name="Highest">
         </Priority>
      </editpartProvider>
   </extension>   
</plugin>
