<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%domain.wizard.category.name"
            id="com.zeligsoft.domain.omg.ccm.ui">
      </category>
      <wizard
            name="%domain.model.wizard.name"
            icon="icons/sample.gif"
            category="com.zeligsoft.domain.omg.ccm.ui"
            class="com.zeligsoft.domain.omg.ccm.ui.wizards.NewCCMModelWizard"
            id="com.zeligsoft.domain.omg.ccm.ui.wizards.NewCCMModelWizard">
      </wizard>
      <wizard
            name="%domain.project.wizard.name"
            icon="icons/sample.gif"
            category="com.zeligsoft.domain.omg.ccm.ui"
            class="com.zeligsoft.domain.omg.ccm.ui.wizards.NewCCMProjectWizard"
            id="com.zeligsoft.domain.omg.ccm.ui.wizards.NewCCMProjectWizard">
      </wizard>
   </extension>
   <extension
            point="com.zeligsoft.cx.ui.portTypeWizard">
         <PortType
               allowInterfaceCreation="false"
               domain="CCM"
               enableMultiSelection="false"
               showUsesList="false">
         </PortType>
      </extension>
          <extension
         id="CCM DefaultViewProviders"
         name="CCM DefaultViewProviders"
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDefaultViewProvider">
         <Priority name="High"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node"/>         
      </viewProvider>
   </extension>  
   <!--
   	<extension
         id="CCM ElementTypes"
         name="CCM ElementTypes"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">    
         <metamodel
             nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         	<adviceBinding
            	id="com.zeligsoft.domain.omg.ccm.ui.CCMComponent"
            	typeId="com.ibm.xtools.uml.component"            
            	class="com.zeligsoft.domain.omg.ccm.ui.edithelpers.CCMComponentEditHelperAdvice"
            	inheritance="all">
         	</adviceBinding>
      	</metamodel>    
    </extension>   
   
    <extension
         id="CCM ElementTypeBindings"
         name="CCM ElementTypeBindings"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding context="com.ibm.xtools.uml.type.context">
         <advice ref="com.zeligsoft.domain.omg.ccm.ui.CCMComponent"/>  
      </binding>
      <binding context="com.ibm.xtools.mmi.core.context">
         <advice ref="com.zeligsoft.domain.omg.ccm.ui.CCMComponent"/>                     
      </binding>
    </extension>     
    
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.ibm.xtools.modeler.ui.properties">
         <propertyTab
               afterTab="modeler.property.tab.GeneralPropertySection"
               category="Core"
               id="com.zeligsoft.propertyTab.CCMPropertyTab"
               label="CCM">
         </propertyTab>
      </propertyTabs>
   </extension>
       <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="com.ibm.xtools.modeler.ui.properties">
          <propertySection
                class="com.zeligsoft.cx.ui.properties.sections.DomainPropertySection"
                filter="com.zeligsoft.domain.omg.ccm.ui.filters.CCMDomainFilter"
                id="com.zeligsoft.propertyTab.CCMPropertySection"
                tab="com.zeligsoft.propertyTab.CCMPropertyTab">
          </propertySection>
       </propertySections>
    </extension>
       <extension
             point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
          <editpolicyProvider
                class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMPartEditPolicyProvider">
             <Priority
                   name="Highest">
             </Priority>
             <context
                   editparts="PrimaryPart">
             </context>
             <object
                   class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
                   id="PrimaryPart">
             </object>
          </editpolicyProvider>
          <editpolicyProvider
                class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMComponentEditPolicyProvider">
             <Priority
                   name="Highest">
             </Priority>
             <context
                   editparts="PrimaryPart">
             </context>
             <object
                   class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
                   id="PrimaryPart">
             </object>
          </editpolicyProvider>
       </extension>
    <extension
          point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
       <metamodel
             nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
          <adviceBinding
                class="com.zeligsoft.domain.omg.ccm.ui.edithelpers.DeploymentPartEditHelperAdvice"
                id="com.zeligsoft.domain.omg.ccm.deploymentpart"
                inheritance="none"
                typeId="com.ibm.xtools.uml.property">
          </adviceBinding>
          <adviceBinding
                class="com.zeligsoft.domain.omg.ccm.ui.edithelpers.CCMUUIDEditHelperAdvice"
                id="com.zeligsoft.domain.omg.ccm.CCMUUID"
                inheritance="all"
                typeId="com.ibm.xtools.uml.element">
          </adviceBinding>
          <adviceBinding
                class="com.zeligsoft.domain.omg.ccm.ui.edithelpers.CCMDomainEditHelperAdvice"
                id="com.zeligsoft.domain.ccm.ui.DomainAdviceBinding"
                inheritance="all"
                typeId="com.ibm.xtools.uml.package">
          </adviceBinding>
          <adviceBinding
                class="com.zeligsoft.domain.omg.ccm.ui.edithelpers.CCMImplementationEditHelperAdvice"
                id="com.zeligsoft.domain.omg.ccm.ui.CCMImplementationAdviceBinding"
                inheritance="all"
                typeId="com.ibm.xtools.uml.component">
          </adviceBinding>
       </metamodel>
    </extension>
    <extension
          point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
       <binding
             context="com.ibm.xtools.uml.type.context">
          <advice
                ref="com.zeligsoft.domain.omg.ccm.deploymentpart">
          </advice>
          <advice
                ref="com.zeligsoft.domain.omg.ccm.CCMUUID">
          </advice>
          <advice
                ref="com.zeligsoft.domain.ccm.ui.DomainAdviceBinding">
          </advice>
          <advice
                ref="com.zeligsoft.domain.omg.ccm.ui.CCMImplementationAdviceBinding">
          </advice>
       </binding>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="cxModelingPreference"
            class="com.zeligsoft.domain.omg.ccm.ui.preferences.CCMModelingPreferencePage"
            id="cxCCMModelingPreference"
            name="%preference.modeling.name">
      </page>
   </extension>
   -->
   <extension
         point="com.zeligsoft.cx.ui.properties.customPropertySection">
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Component::CCMComponent"
            property="generals">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Target::Node"
            property="resource">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Target::Bridge"
            property="resource">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Target::Interconnect"
            property="resource">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="ZMLMM::ZML_Deployments::DeploymentPart"
            domain="cxCCM"
            property="modelElement">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Deployment::ContainerProcess"
            property="name">
      </PropertySection>         
   </extension>
<!--   
     <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="com.zeligsoft.domain.omg.ccm.ui.internal.providers.decorator.CCMPartDecoratorProvider">
         <Priority
               name="High">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart"
               id="com.zeligsoft.domain.omg.ccm.ui.ccmPartDecoratorProviderObject">
            <staticMethod
                  name="resolveSemanticElement().eClass().getName()"
                  value="Property">
            </staticMethod>
         </object>
      </decoratorProvider>
   </extension>
-->
</plugin>
