<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%domain.wizard.category.name"
            id="com.zeligsoft.domain.omg.ccm.ui">
      </category>
      <wizard
            name="%domain.model.wizard.name"
            icon="icons/sample.gif"
            category="com.zeligsoft.domain.omg.ccm.ui"
            class="com.zeligsoft.domain.omg.ccm.ui.wizards.NewCCMModelWizard"
            id="com.zeligsoft.domain.omg.ccm.ui.wizards.NewCCMModelWizard">
      </wizard>
      <wizard
            name="%domain.project.wizard.name"
            icon="icons/sample.gif"
            category="com.zeligsoft.domain.omg.ccm.ui"
            class="com.zeligsoft.domain.omg.ccm.ui.wizards.NewCCMProjectWizard"
            id="com.zeligsoft.domain.omg.ccm.ui.wizards.NewCCMProjectWizard">
      </wizard>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.zeligsoft.domain.omg.ccm.ui.perspectives.CCMPerspective"
            icon="icons/view16/cx-perspective.gif"
            id="com.zeligsoft.domain.omg.ccm.ui.perspectives.CCMPerspective"
            name="%ccm.perspective.name">
         <description>
            %ccm.perspective.description
         </description>
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.omg.ccm.ui.perspectives.CCMPerspective">
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>         
         <actionSet id="com.ibm.xtools.modeler.ui.actions.ModelingActionSet">
         </actionSet>
         <actionSet id="org.eclipse.gmf.runtime.diagram.ui.DiagramActionSet">
         </actionSet>
         <view ratio="0.26" relative="org.eclipse.ui.editorss" visible="true" relationship="left" id="org.eclipse.ui.navigator.ProjectExplorer" minimized="false">
         </view>
         <view ratio=".66" relative="org.eclipse.ui.navigator.ProjectExplorer" visible="true" relationship="bottom" id="org.eclipse.ui.views.ContentOutline" minimized="false">
         </view>         
         <view ratio=".66" relative="org.eclipse.ui.editorss" visible="true" relationship="bottom" id="org.eclipse.ui.views.PropertySheet" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.views.TaskList" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.console.ConsoleView" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.views.BookmarkView" minimized="false">
         </view>
         <viewShortcut id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet">
         </viewShortcut> 
         <viewShortcut id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>                       
         <viewShortcut id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.BookmarkView">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut id="org.eclipse.gef.ui.palette_view">
         </viewShortcut>                
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <perspectiveShortcut id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="com.zeligsoft.domain.omg.ccm.ui.perspectives.CCMPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.cdt.ui.CPerspective">
         <perspectiveShortcut id="com.zeligsoft.domain.omg.ccm.ui.perspectives.CCMPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>      
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.omg.ccm.ui.perspectives.CCMPerspective">
         <actionSet id="org.eclipse.debug.ui.analysisActionSet"/>
      </perspectiveExtension>
   </extension> 
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.omg.ccm.ui.perspectives.CCMPerspective">
         <actionSet id="modelerSearchActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.omg.ccm.ui.perspectives.CCMPerspective">
         <actionSet id="com.ibm.xtools.publish.ui.internal.actions.PublishActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.omg.ccm.ui.perspectives.CCMPerspective">
         <newWizardShortcut id="com.zeligsoft.domain.omg.ccm.ui.wizards.NewCCMProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut id="com.zeligsoft.domain.omg.ccm.ui.wizards.NewCCMModelWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   -->
   <extension
            point="com.zeligsoft.cx.ui.portTypeWizard">
         <PortType
               allowInterfaceCreation="false"
               domain="CCM"
               enableMultiSelection="false"
               showUsesList="false">
         </PortType>
      </extension>
          <extension
         id="CCM DefaultViewProviders"
         name="CCM DefaultViewProviders"
         point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <viewProvider class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDefaultViewProvider">
         <Priority name="High"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node"/>         
      </viewProvider>
   </extension>  
   <!--
   	<extension
         id="CCM ElementTypes"
         name="CCM ElementTypes"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">    
         <metamodel
             nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
         	<adviceBinding
            	id="com.zeligsoft.domain.omg.ccm.ui.CCMComponent"
            	typeId="com.ibm.xtools.uml.component"            
            	class="com.zeligsoft.domain.omg.ccm.ui.edithelpers.CCMComponentEditHelperAdvice"
            	inheritance="all">
         	</adviceBinding>
      	</metamodel>    
    </extension>   
   
    <extension
         id="CCM ElementTypeBindings"
         name="CCM ElementTypeBindings"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding context="com.ibm.xtools.uml.type.context">
         <advice ref="com.zeligsoft.domain.omg.ccm.ui.CCMComponent"/>  
      </binding>
      <binding context="com.ibm.xtools.mmi.core.context">
         <advice ref="com.zeligsoft.domain.omg.ccm.ui.CCMComponent"/>                     
      </binding>
    </extension>     
    
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.ibm.xtools.modeler.ui.properties">
         <propertyTab
               afterTab="modeler.property.tab.GeneralPropertySection"
               category="Core"
               id="com.zeligsoft.propertyTab.CCMPropertyTab"
               label="CCM">
         </propertyTab>
      </propertyTabs>
   </extension>
       <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="com.ibm.xtools.modeler.ui.properties">
          <propertySection
                class="com.zeligsoft.cx.ui.properties.sections.DomainPropertySection"
                filter="com.zeligsoft.domain.omg.ccm.ui.filters.CCMDomainFilter"
                id="com.zeligsoft.propertyTab.CCMPropertySection"
                tab="com.zeligsoft.propertyTab.CCMPropertyTab">
          </propertySection>
       </propertySections>
    </extension>
       <extension
             point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
          <editpolicyProvider
                class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMPartEditPolicyProvider">
             <Priority
                   name="Highest">
             </Priority>
             <context
                   editparts="PrimaryPart">
             </context>
             <object
                   class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
                   id="PrimaryPart">
             </object>
          </editpolicyProvider>
          <editpolicyProvider
                class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMComponentEditPolicyProvider">
             <Priority
                   name="Highest">
             </Priority>
             <context
                   editparts="PrimaryPart">
             </context>
             <object
                   class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)"
                   id="PrimaryPart">
             </object>
          </editpolicyProvider>
       </extension>
    <extension
          point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
       <metamodel
             nsURI="http://www.eclipse.org/uml2/3.0.0/UML">
          <adviceBinding
                class="com.zeligsoft.domain.omg.ccm.ui.edithelpers.DeploymentPartEditHelperAdvice"
                id="com.zeligsoft.domain.omg.ccm.deploymentpart"
                inheritance="none"
                typeId="com.ibm.xtools.uml.property">
          </adviceBinding>
          <adviceBinding
                class="com.zeligsoft.domain.omg.ccm.ui.edithelpers.CCMUUIDEditHelperAdvice"
                id="com.zeligsoft.domain.omg.ccm.CCMUUID"
                inheritance="all"
                typeId="com.ibm.xtools.uml.element">
          </adviceBinding>
          <adviceBinding
                class="com.zeligsoft.domain.omg.ccm.ui.edithelpers.CCMDomainEditHelperAdvice"
                id="com.zeligsoft.domain.ccm.ui.DomainAdviceBinding"
                inheritance="all"
                typeId="com.ibm.xtools.uml.package">
          </adviceBinding>
          <adviceBinding
                class="com.zeligsoft.domain.omg.ccm.ui.edithelpers.CCMImplementationEditHelperAdvice"
                id="com.zeligsoft.domain.omg.ccm.ui.CCMImplementationAdviceBinding"
                inheritance="all"
                typeId="com.ibm.xtools.uml.component">
          </adviceBinding>
       </metamodel>
    </extension>
    <extension
          point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
       <binding
             context="com.ibm.xtools.uml.type.context">
          <advice
                ref="com.zeligsoft.domain.omg.ccm.deploymentpart">
          </advice>
          <advice
                ref="com.zeligsoft.domain.omg.ccm.CCMUUID">
          </advice>
          <advice
                ref="com.zeligsoft.domain.ccm.ui.DomainAdviceBinding">
          </advice>
          <advice
                ref="com.zeligsoft.domain.omg.ccm.ui.CCMImplementationAdviceBinding">
          </advice>
       </binding>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="cxModelingPreference"
            class="com.zeligsoft.domain.omg.ccm.ui.preferences.CCMModelingPreferencePage"
            id="cxCCMModelingPreference"
            name="%preference.modeling.name">
      </page>
   </extension>
   <extension
	      point="org.eclipse.ui.views.properties.tabbed.propertySections">
	   <propertySections
	         contributorId="com.ibm.xtools.modeler.ui.properties">
	      <propertySection
	            afterSection="modeler.property.section.AggregationPropertySection"
	            class="com.zeligsoft.cx.ui.properties.sections.CXPropertyTabControllerSection"
	            filter="com.zeligsoft.domain.omg.ccm.ui.internal.filters.GeneralSectionControllerFilter"
	            id="com.zeligsoft.domain.omg.ccm.ui.generalSectionController"
	            tab="modeler.property.tab.GeneralPropertySection">
	      </propertySection>
	      <propertySection
	            afterSection="com.ibm.xtools.modeler.ui.properties.internal.sections.AttributesPropertySection"
	            class="com.zeligsoft.cx.ui.properties.sections.CXPropertyTabControllerSection"
	            filter="com.zeligsoft.domain.omg.ccm.ui.internal.filters.AttributeSectionControllerFilter"
	            id="com.zeligsoft.domain.omg.ccm.ui.attributeSectionController"
	            tab="modeler.property.tab.AttributesPropertySection">
	      </propertySection>
	      <propertySection
	            afterSection="modeler.property.section.OperationsPropertySection"
	            class="com.zeligsoft.cx.ui.properties.sections.CXPropertyTabControllerSection"
	            filter="com.zeligsoft.domain.omg.ccm.ui.internal.filters.OperationSectionControllerFilter"
	            id="com.zeligsoft.domain.omg.ccm.ui.operationsSectionController"
	            tab="modeler.property.tab.OperationsPropertySection">
	      </propertySection>
	   </propertySections>
	</extension>
	-->
   <extension
         point="com.zeligsoft.cx.ui.properties.customPropertySection">
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Component::CCMComponent"
            property="generals">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Target::Node"
            property="resource">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Target::Bridge"
            property="resource">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Target::Interconnect"
            property="resource">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="ZMLMM::ZML_Deployments::DeploymentPart"
            domain="cxCCM"
            property="modelElement">
      </PropertySection>
      <PropertySection
            append="true"
            class="com.zeligsoft.domain.omg.ccm.ui.providers.CCMDeploymentPropertiesSection"
            concept="CCM::CCM_Deployment::ContainerProcess"
            property="name">
      </PropertySection>         
   </extension>
   
     <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="com.zeligsoft.domain.omg.ccm.ui.internal.providers.decorator.CCMPartDecoratorProvider">
         <Priority
               name="High">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart"
               id="com.zeligsoft.domain.omg.ccm.ui.ccmPartDecoratorProviderObject">
            <staticMethod
                  name="resolveSemanticElement().eClass().getName()"
                  value="Property">
            </staticMethod>
         </object>
      </decoratorProvider>
   </extension>
</plugin>
