<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/papyrus/uml/textedit/transition/xtext/UmlTransition" 
       class = "org.eclipse.papyrus.uml.textedit.transition.xtext.umlTransition.UmlTransitionPackage"
       genModel = "org/eclipse/papyrus/uml/textedit/transition/xtext/UmlTransition.genmodel" /> 
	
  </extension>





</plugin>
