<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2020 Northrop Grumman Systems Corporation.
   
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
    http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->

<plugin>



  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenEditorID"
        name = "%_UI_ZDLGenEditor_label"
        icon = "icons/full/obj16/ZDLGenModelFile.gif"
        extensions = "zdlgen"
        class = "com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenEditor" 
        contributorClass="com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenActionBarContributor" >
    </editor>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <viewerContribution
           id="com.zeligsoft.ddk.zdl.zdlgen.editor.ddkHelpers.viewerContribution"
           targetID="com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenEditorID">
        <menu
              id="com.zeligsoft.ddk.zdl.zdlgen.editor.ddk"
              label="%menu.label.ddk"
              path="additions">
           <separator
                 name="helpers">
           </separator>
        </menu>
        <action
              class="com.zeligsoft.ddk.zdl.zdlgen.presentation.actions.CreateActionFromConceptActionDelegate"
              id="com.zeligsoft.ddk.zdl.zdlgen.popup.createActionFromAction"
              label="%action.label.create_action_from_concept"
              menubarPath="com.zeligsoft.ddk.zdl.zdlgen.editor.ddk/helpers"
              tooltip="%action.tooltip.create_action_from_concept">
           <enablement>
              <objectClass
                    name="com.zeligsoft.ddk.zdl.zdlgen.GenDomainConcept">
              </objectClass>
           </enablement>
        </action>
     </viewerContribution>
  </extension>
  <extension
        point="org.eclipse.ui.editorActions">
     <editorContribution
           id="com.zeligsoft.ddk.zdl.zdlgen.editor.ddkHelpersContribution"
           targetID="com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenEditorID">
        <menu
              id="com.zeligsoft.ddk.zdl.zdlgen.editorMenu.ddk"
              label="%menu.label.ddk"
              path="com.zeligsoft.ddk.zdl.zdlgenMenuID/additions-end">
           <separator
                 name="helpers">
           </separator>
        </menu>
        <action
              class="com.zeligsoft.ddk.zdl.zdlgen.presentation.actions.CreateMenuForConceptActionDelegate"
              id="com.zeligsoft.ddk.zdl.zdlgen.editor.createMenuForConcept"
              label="Create Menu"
              menubarPath="com.zeligsoft.ddk.zdl.zdlgenMenuID/com.zeligsoft.ddk.zdl.zdlgen.editorMenu.ddk/helpers"
              style="push">
           <enablement>
              <objectClass
                    name="com.zeligsoft.ddk.zdl.zdlgen.GenDomainConcept">
              </objectClass>
           </enablement>
        </action>
        <action
              class="com.zeligsoft.ddk.zdl.zdlgen.presentation.actions.CreateActionFromConceptActionDelegate"
              id="com.zeligsoft.ddk.zdl.zdlgen.editor.createActionFromAction"
              label="%action.label.create_action_from_concept"
              menubarPath="com.zeligsoft.ddk.zdl.zdlgenMenuID/com.zeligsoft.ddk.zdl.zdlgen.editorMenu.ddk/helpers"
              style="push">
           <enablement>
              <objectClass
                    name="com.zeligsoft.ddk.zdl.zdlgen.GenDomainConcept">
              </objectClass>
           </enablement>
        </action>
     </editorContribution>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenEditorID?before=additions">
        <menu
              label="DDK">
           <dynamic
                 class="com.zeligsoft.ddk.zdl.zdlgen.presentation.internal.actions.DDKEditorPopupMenu"
                 id="com.zeligsoft.ddk.zdl.zdlgen.editor.dynamicDDK">
           </dynamic>
        </menu>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenEditorID?before=additions">
        <command
              commandId="com.zeligsoft.ddk.zdl.zdlgen.editor.validateCommand"
              label="Validate DDK"
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="com.zeligsoft.ddk.zdl.zdlgen.editor.commandCategory"
           defaultHandler="com.zeligsoft.ddk.zdl.zdlgen.presentation.commands.ZDLGenValidateHandler"
           id="com.zeligsoft.ddk.zdl.zdlgen.editor.validateCommand"
           name="Validate">
     </command>
     <category
           id="com.zeligsoft.ddk.zdl.zdlgen.editor.commandCategory"
           name="ZDLGen">
     </category>
  </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated zdlgen -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenModelWizardID"
            name="%_UI_ZDLGenModelWizard_label"
            class="com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ZDLGenModelFile.gif">
         <description>%_UI_ZDLGenModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated zdlgen -->
      <editor
            id="com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenEditorID"
            name="%_UI_ZDLGenEditor_label"
            icon="icons/full/obj16/ZDLGenModelFile.gif"
            extensions="zdlgen"
            class="com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenEditor"
            contributorClass="com.zeligsoft.ddk.zdl.zdlgen.presentation.ZDLGenActionBarContributor">
      </editor>
   </extension>
</plugin>
