/* zeligsoft HELP STYLE*/
/* MEDIA PRINT */

@media print {

/* HIDDEN */

div.hidden
{
visibility: hidden
}

body 		{font-size: 70%; font-family: Verdana, Arial, Sans-Serif;}
p		{ margin-top: .6em; margin-bottom: .6em	}

/* LINK TAGS */
a:link		{color: #0000CC;}
a:active	{color: #996699;} 
a:visited 	{color: #996699;}

/* LIST TAGS */


/* MONOSPACED TAGS */
code		{font-family: Courier;}
pre		{font-family: Courier;}

/* TABLES */
table		{width: auto; text-align: left; font-size: 100%;}
th		{text-align: left;}
td		{margin-right: 0em;}

/* HEADING TAGS */

h1		{font-size: 145%; margin-bottom: .5em;}
h2		{font-size: 125%; margin-top: 1.5em; margin-bottom: .5em;}
h3		{font-size: 105%; margin-top: 1.4em; margin-bottom: .5em;}
h4		{font-size: 90%; margin-top: 1.3em; margin-bottom: .5em;}
h5		{font-size: 80%; margin-top: 1.2em; margin-bottom: .5em;}
h6		{font-size: 70%; margin-top: 1.1em; margin-bottom: .5em;}	

/* SUBLIST */

ol li ol li	{list-style-type: lower-alpha}

/* SUB-SUBLIST*/

ol li ol li ol li	{list-style-type: lower-roman}

/* OTHER TAGS */

}

/* MEDIA SCREEN */
@media screen {

body 		{font-size: 70%; font-family: Verdana, Arial, Sans-Serif;}
p		{ margin-top: .6em; margin-bottom: .6em	}

/* LINK TAGS */
a:link		{color: #0000CC;}
a:active	{color: #996699;} 
a:visited 	{color: #996699;}

/* LIST TAGS */


/* MONOSPACED TAGS */
code		{font-family: Courier;}
pre		{font-family: Courier;}

/* TABLES */
table		{width: auto; text-align: left; font-size: 100%; border-collapse: collapse;}
th		{text-align: left; font-size: 125%; padding: 5px;}
td		{margin-right: 0em; padding: 5px;}


table, th, td {border: 1px solid black;}

/* HEADING TAGS */

h1		{font-size: 145%; color: #7B84C6; margin-bottom: .5em;}
h2		{font-size: 125%; color: #7B84C6; margin-top: 1.5em; margin-bottom: .5em;}
h3		{font-size: 105%; color: #7B84C6; margin-top: 1.4em; margin-bottom: .5em;}
h4		{font-size: 90%; color: #7B84C6; margin-top: 1.3em; margin-bottom: .5em;}
h5		{font-size: 80%; color: #7B84C6; margin-top: 1.2em; margin-bottom: .5em;}
h6		{font-size: 70%; color: #7B84C6; margin-top: 1.1em; margin-bottom: .5em;}

/* SUBLIST */

ol li ol li	{list-style-type: lower-alpha}

/* SUB-SUBLIST*/

ol li ol li ol li	{list-style-type: lower-roman}

/* SUB-SUBLIST*/

ol li ol li ul li	{list-style-type: disc}

/* SUB-SUB-SUBLIST*/

ol li ul li ol li ul li 	{list-style-type: disc}

/* SUB-SUB-SUBLIST*/

ol li ul li ul li ul li 	{list-style-type: disc}


/* OTHER TAGS */

}

