<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="test.EObjectTransformationArtifacts"
         point="com.zeligsoft.ce.codegeneration.ui.EObjectTransformationArtifacts">
      <entry
            type="org.eclipse.uml2.uml.Model">
         <artifact
               path="workflows/zeligsoft.oaw">
         </artifact>
      </entry>
   </extension>
  
</plugin>
