<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.actionFilterProviders">
      <ActionFilterProvider
            class="com.prismtech.domain.sca.ppls.ui.providers.PLMActionFilterProvider">
         <Priority
               name="Highest">
         </Priority>
         <Attribute
               name="isPLMProfile">
         </Attribute>
      </ActionFilterProvider>
   </extension>

	<extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PPLS_PROFILES/"
            target="platform:/plugin/com.prismtech.domain.sca.ppls/" />
   </extension>

	<extension
         point="com.zeligsoft.cx.codegen.ui.transformation">
      <concept
            type="SCA::SCA_PlatformModel::SCANode">
         <workflow
               id="com.prismtech.domain.sca.ppls"
               label="%generate.variation.point.model"
               licenser="com.prismtech.domain.sca.ppls.licensing.PLMLicenser"
               path="workflow/generateVPM.oaw"
               visibilityTest="com.prismtech.domain.sca.ppls.ui.filters.GenerateVPMActionFilter">
         </workflow>
      </concept>
      <concept
            type="SCA::SCA_ComponentModel::SCAApplication">
         <workflow
               id="com.prismtech.domain.sca.ppls"
               label="%generate.variation.point.model"
               licenser="com.prismtech.domain.sca.ppls.licensing.PLMLicenser"
               path="workflow/generateVPM.oaw"
               visibilityTest="com.prismtech.domain.sca.ppls.ui.filters.GenerateVPMActionFilter">
         </workflow>
      </concept>
      <concept
            umlType="com.ibm.xtools.uml.model">
         <workflow
               id="com.prismtech.domain.sca.ppls"
               label="%generate.variation.point.model"
               licenser="com.prismtech.domain.sca.ppls.licensing.PLMLicenser"
               path="workflow/generateVPM.oaw"
               visibilityTest="com.prismtech.domain.sca.ppls.ui.filters.GenerateVPMActionFilter">
         </workflow>
      </concept>
      <concept
            type="SCA::SCA_PlatformModel::SCAPlatform">
         <workflow
               id="com.prismtech.domain.sca.ppls"
               label="%generate.variation.point.model"
               licenser="com.prismtech.domain.sca.ppls.licensing.PLMLicenser"
               path="workflow/generateVPM.oaw"
               visibilityTest="com.prismtech.domain.sca.ppls.ui.filters.GenerateVPMActionFilter">
         </workflow>
      </concept>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.prismtech.com/2012/vpm"
            class="com.prismtech.domain.sca.ppls.vpm.VpmPackage"
            genModel="models/vpm.genmodel"/>
   </extension>
   
      <extension
         id="com.prismtech.domain.sca.ppls.profiles"
         name="Variation Point Profile"
         point="com.ibm.xtools.uml.msl.UMLProfiles">
      <UMLProfile
            id="com.prismtech.domain.sca.ppls.profiles.vpp"
            name="Variation Point Profile"
            path="pathmap://PPLS_PROFILES/VariationPointProfile.epx"
            required="false"
            visible="true">
      </UMLProfile>
   </extension>
      <extension point="org.eclipse.ui.popupMenus">
   	<objectContribution
   		id="com.prismtech.domain.sca.ppls.generateFinalModel"
   		objectClass="com.prismtech.domain.sca.ppls.vpm.Configuration">
   		<action
           class="com.prismtech.domain.sca.ppls.ui.actions.GenerateFinalModelAction"
           enablesFor="1"
           icon="icons/obj16/spectracxlogo16.png"
           id="com.prismtech.domain.sca.ppls.GenerateFinalModelAction"
           label="%generate.cx.model">
   		</action>
   	</objectContribution> 	
	</extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.prismtech.domain.sca.ppls.ui.menus.util.PLMMenuPropertyTester"
            id="com.prismtech.domain.sca.ppls.ui.menus.PLMMenuPropertyTester"
            namespace="com.prismtech.domain.sca.ppls.ui.menus"
            properties="isPLMMenuVisible"
            type="java.lang.Object">
      </propertyTester>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="true"
               locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.new">
            <menu
                  id="plm.pe.menu"
                  label="%add.plm.context.menu">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        forcePluginActivation="true"
                        property="com.prismtech.domain.sca.ppls.ui.menus.isPLMMenuVisible">
                  </test>
               </visibleWhen>
               <separator
                     name="plm.pe.add"
                     visible="false">
               </separator>
            </menu>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="true"
               locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu?after=umlAddGroup">
            <menu
                  id="plm.diagram.menu"
                  label="%add.plm.context.menu">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        forcePluginActivation="true"
                        property="com.prismtech.domain.sca.ppls.ui.menus.isPLMMenuVisible">
                  </test>
               </visibleWhen>
               <separator
                     name="plm.diagram.add"
                     visible="false">
               </separator>
            </menu>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.popupMenus">
         <objectContribution
               id="com.prismtech.domain.sca.ppls.addVariationPointToProjectExplorerObject"
               objectClass="com.ibm.xtools.uml.navigator.IBaseViewerElement">
            <action
                  class="com.prismtech.domain.sca.ppls.ui.actions.AddVariationPointAction"
                  enablesFor="1"
                  icon="icons/obj16/VariationPoint.gif"
                  id="addVariationPointActionToProjectExplorerObject"
                  label="%add.variation.point"
                  menubarPath="plm.pe.menu/plm.pe.add"
                  style="push">
            </action>
            <visibility>
               <or>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAPort">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAComponentPart">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_PlatformModel::SCANodePart">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAProcessorDependency">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAOperatingSystemDependency">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAConnector">
                  </objectState>
               </or>
            </visibility>
         </objectContribution>
         <objectContribution
               id="com.prismtech.domain.sca.ppls.addVariationPointToDiagramObject"
               objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
            <action
                  class="com.prismtech.domain.sca.ppls.ui.actions.AddVariationPointToDiagramAction"
                  enablesFor="1"
                  icon="icons/obj16/VariationPoint.gif"
                  id="addVariationPointActionToDiagramObject"
                  label="%add.variation.point"
                  menubarPath="plm.diagram.menu/plm.diagram.add"
                  style="push">
            </action>
            <visibility>
               <or>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAPort">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAComponentPart">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_PlatformModel::SCANodePart">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAProcessorDependency">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAOperatingSystemDependency">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAConnector">
                  </objectState>
               </or>
            </visibility>
         </objectContribution>
         <objectContribution
               id="com.prismtech.domain.sca.ppls.addVariationPointWithValueToProjectExplorerObject"
               objectClass="com.ibm.xtools.uml.navigator.IBaseViewerElement">
            <action
                  class="com.prismtech.domain.sca.ppls.ui.actions.AddVariationPointWithValueAction"
                  enablesFor="1"
                  icon="icons/obj16/VariationPointWithValue.gif"
                  id="addVariationPointActionWithValueToProjectExplorerObject"
                  label="%add.variation.point.with.value"
                  menubarPath="plm.pe.menu/plm.pe.add"
                  style="push">
            </action>
            <visibility>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_Property::SCAProperty">
                  </objectState>
            </visibility>
         </objectContribution>
         <objectContribution
               id="com.prismtech.domain.sca.ppls.addVariationPointWithValueToDiagramObject"
               objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
            <action
                  class="com.prismtech.domain.sca.ppls.ui.actions.AddVariationPointWithValueToDiagramAction"
                  enablesFor="1"
                  icon="icons/obj16/VariationPointWithValue.gif"
                  id="addVariationPointWithValueActionToDiagramObject"
                  label="%add.variation.point.with.value"
                  menubarPath="plm.diagram.menu/plm.diagram.add"
                  style="push">
            </action>
            <visibility>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_Property::SCAProperty">
                  </objectState>
             </visibility>
         </objectContribution>
         <objectContribution
               id="com.prismtech.domain.sca.ppls.addVariationPointWithSettingsToProjectExplorerObject"
               objectClass="com.ibm.xtools.uml.navigator.IBaseViewerElement">
            <action
                  class="com.prismtech.domain.sca.ppls.ui.actions.AddVariationPointWithSettingsAction"
                  enablesFor="1"
                  icon="icons/obj16/VariationPointWithSettings.gif"
                  id="addVariationPointWithSettingsActionToProjectExplorerObject"
                  label="%add.variation.point.with.settings"
                  menubarPath="plm.pe.menu/plm.pe.add"
                  style="push">
            </action>
            <visibility>
               <or>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_PlatformModel::SCAPlatformElementPart">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_Core::PropertyProvider">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAAssembly">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAFreeStandingPort">
                  </objectState>
               </or>
            </visibility>
         </objectContribution>
         <objectContribution
               id="com.prismtech.domain.sca.ppls.addVariationPointWithSettingsToDiagramObject"
               objectClass="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
            <action
                  class="com.prismtech.domain.sca.ppls.ui.actions.AddVariationPointWithSettingsToDiagramAction"
                  enablesFor="1"
                  icon="icons/obj16/VariationPointWithSettings.gif"
                  id="addVariationPointWithSettingsActionToDiagramObject"
                  label="%add.variation.point.with.settings"
                  menubarPath="plm.diagram.menu/plm.diagram.add"
                  style="push">
            </action>
            <visibility>
               <or>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_PlatformModel::SCAPlatformElementPart">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_Core::PropertyProvider">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAAssembly">
                  </objectState>
                  <objectState
                        name="isZDLConcept"
                        value="SCA::SCA_SoftwarePackage::SCAFreeStandingPort">
                  </objectState>
               </or>
            </visibility>
         </objectContribution>
      </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.prismtech.domain.sca.ppls.addPLMCapability"
            objectClass="com.ibm.xtools.uml.navigator.IBaseViewerElement">   
         <action
               class="com.prismtech.domain.sca.ppls.ui.actions.EnablePLMAction"
               icon="icons/obj16/PLMCapability.gif"
               id="com.prismtech.domain.sca.ppls.enablePLM.action"
               label="%add.plm.capability.action.label"
               menubarPath="plm.pe.menu/plm.pe.add"
               style="push"
               tooltip="%add.plm.capability.tooltip">
            <enablement>
               <not>
                  <objectState
                        name="isPLMProfile"
                        value="VariationPointProfile">
                  </objectState>
               </not>
            </enablement>
         </action>
         <visibility>
            <and>
               <objectState
                     name="isZDLProfile"
                     value="cxSCADomain">
               </objectState>
               <objectState
                     name="umlType"
                     value="Model">
               </objectState>
            </and>
         </visibility>
      </objectContribution> 
   	</extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="com.prismtech.domain.sca.ppls.constraintCategory"
            mandatory="true"
            name="%category.name.variation.points">
      </category>
      <constraintProvider
            cache="true"
            mode="Live">
         <package
               namespaceUri="http://www.eclipse.org/uml2/2.1.0/UML">
         </package>
         <constraints>
            <constraint
                  class="com.prismtech.domain.sca.ppls.constraints.java.ConstrainedElementsForVariationPoint"
                  id="com.prismtech.domain.sca.ppls.constraintVP"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="%constraint.name.variation.point"
                  severity="ERROR"
                  statusCode="1001">
               <message>
                  %constraint.message.variation.point
               </message>
               <target
                     class="NamedElement">
                  <event
                        name="Add">
                     <feature
                           name="constrainedElement">
                     </feature>
                  </event></target>
               <description>
                  %constraint.description.variation.point
               </description>
            </constraint>
            <constraint
                  class="com.prismtech.domain.sca.ppls.constraints.java.ConstrainedElementsForVariationPointWithValue"
                  id="com.prismtech.domain.sca.ppls.constraintVPW"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="%constraint.name.variation.point.with.value"
                  severity="ERROR"
                  statusCode="1001">
               <message>
                  %constraint.message.variation.point.with.value
               </message>
               <target
                     class="NamedElement">
                  <event
                        name="Add">
                     <feature
                           name="constrainedElement">
                     </feature>
                  </event>
               </target>
               <description>
                  %constraint.description.variation.point.with.value
               </description>
            </constraint>
            <constraint
                  class="com.prismtech.domain.sca.ppls.constraints.java.ConstrainedElementsForVariationPointWithSettings"
                  id="com.prismtech.domain.sca.ppls.constraintVPS"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="%constraint.name.variation.point.with.settings"
                  severity="ERROR"
                  statusCode="1001">
               <message>
                  %constraint.message.variation.point.with.settings
               </message>
               <target
                     class="NamedElement">
                  <event
                        name="Add">
                     <feature
                           name="constrainedElement">
                     </feature>
                  </event>
               </target>
               <description>
                  %constraint.description.variation.point.with.settings
               </description>
            </constraint>
            <constraint
                  class="com.prismtech.domain.sca.ppls.constraints.java.UUIDisValidVariationPointID"
                  id="com.prismtech.domain.sca.ppls.constraintVP.UUID"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="%constraint.name.uuid.valid.for.vp.id.validation"
                  severity="ERROR"
                  statusCode="1001">
               <message>
                  %constraint.message.uuid.valid.for.vp.id.validation
               </message>
               <target
                     class="VariationPoint">
                  <event
                        name="Add">
                     <feature
                           name="vp_id">
                     </feature>
                  </event>
               </target>
               <description>
                  %constraint.description.uuid.valid.for.vp.id.validation
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="com.prismtech.domain.sca.ppls.ui.decorators.SourceModelDecorator"
            id="com.prismtech.domain.sca.ppls.SourceModelDecorator"
            label="SourceModelDecorator"
            lightweight="false"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            class="com.prismtech.domain.sca.ppls.ui.decorators.GeneratedModelDecorator"
            id="com.prismtech.domain.sca.ppls.GeneratedModelDecorator"
            label="GeneratedModelDecorator"
            lightweight="false"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="com.zeligsoft.base.licensing.license_check">
      <license_check
            class="com.prismtech.domain.sca.ppls.licensing.LicenseListener">
      </license_check>
   </extension>
</plugin>
