<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="com.zeligsoft.cx.deployment.treeeditor.DeploymentEditorPopupMenu" name="Extension point to contribute pop-up action to the deployment editor" schema="schema/com.zeligsoft.cx.deployment.treeeditor.DeploymentEditorPopupMenu.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.zeligsoft.cx.deployment.treeeditor.ui.DeploymentTreeEditor"
            icon="icons/deployment.gif"
            id="DEPLOYMENT_TREE_EDITOR_ID"
            name="%editor.name.0">
      </editor>
   </extension>
   
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup?after=additions">
         <command
               commandId="com.zeligsoft.command.deployment.editor"
               label="Open Deployment Editor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <test
                        property="com.zeligsoft.zdl.tester.isZDLConcept"
                        value="ZMLMM::ZML_Deployments::Deployment">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.zeligsoft.cx.deployment.treeeditor.actions.OpenDeploymentEditorHandler"
            id="com.zeligsoft.command.deployment.editor"
            name="Open Deployment Editor">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.papyrus.infra.ui.papyrusDiagram">
      <editorDiagram
            factoryClass="com.zeligsoft.cx.deployment.treeeditor.providers.DeploymentEditorFactory">
      </editorDiagram>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
            class="com.zeligsoft.cx.deployment.treeeditor.providers.DeploymentTreeGlobalActionHandlerProvider"
            id="com.zeligsoft.cx.deployment.editor.GlobalActionHandlerProvider">
         <Priority
               name="Low">
         </Priority>
         <Policy class="com.zeligsoft.cx.deployment.treeeditor.policies.DeploymentTreeGlobalActionHandlerPolicy"/>
         <ViewId
               id="org.eclipse.papyrus.views.modelexplorer.modelexplorer">
            <ElementType
                  class="java.lang.Object">
               <GlobalActionId
                     actionId="open">
               </GlobalActionId>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="properties.DeploymentTreeEditor">
         <propertyCategory category="deployment"/>
      </propertyContributor>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="properties.DeploymentTreeEditor">
         <propertyTab
               category="deployment"
               id="propertyTab.general"
               label="%propertyTab.general.label"/>
      </propertyTabs>
    </extension>    
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="properties.DeploymentTreeEditor">
          <propertySection
                class="com.zeligsoft.cx.ui.properties.sections.DomainPropertySection"
                id="deployment.general.DomainPropertySection"
                tab="propertyTab.general">
             <input
                   type="org.eclipse.uml2.uml.Property">
             </input>            
          </propertySection>
       </propertySections>
    </extension>
    <extension
          point="org.eclipse.emf.validation.validationListeners">
       <listener
             class="com.zeligsoft.cx.deployment.treeeditor.providers.DeploymentPartValidationObserver">
       </listener>
    </extension>
    <extension
          point="org.eclipse.papyrus.infra.viewpoints.policy.viewType">
       <helper
             class="com.zeligsoft.cx.deployment.treeeditor.providers.DeploymentEditorViewTypeHelper"
             priority="1">
       </helper>
    </extension>     
   
</plugin>
