<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="com.ibm.xtools.uml.msl.UMLLibraries">
      <UMLLibrary
         name="eorb-integrity-multi-x86"
         path="pathmap://BUILD_CONFIG_EORB_INTEGRITY_MULTI_X86/eorb-integrity-multi-x86.library.uml">
      </UMLLibrary>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://BUILD_CONFIG_EORB_INTEGRITY_MULTI_X86/"
            target="platform:/plugin/com.prismtech.spectracx.target.eorb-integrity-multi-x86/models/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="docs_toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="com.zeligsoft.base.licensing.license_check">
      <license_check
            class="com.prismtech.spectracx.target.eorb_integrity_multi_x86.LicenseListener">
      </license_check>
   </extension>
</plugin>
