<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2018 ADLINK Technology Limited.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

-->

<plugin>

	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.zeligsoft.domain.sca.validate.Contribution"
            objectClass="org.eclipse.gmf.runtime.common.core.util.IAdaptableSelection">
         <action
               class="com.zeligsoft.domain.thalessdr.ui.actions.ThalesValidationAction"
               enablesFor="*"
               id="com.zeligsoft.thalessdr.validateAction"
               label="%thalessdr.validate.action.label"
               overrideActionId="com.ibm.xtools.modeler.ui.internal.ui.actions.ValidateActionDelegate_modeling">
         </action>         
         <visibility>
             <objectState
                 name="isZDLProfile"
                 value="ThalesSDR">
             </objectState>
         </visibility>            
      </objectContribution>
	</extension>
	
	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.zeligsoft.domain.thalessdr.ui.perspectives.ThalesPerspective"
            icon="icons/wizban/thales.jpg"
            id="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective">
         <showInPart id="org.eclipse.ui.navigator.ProjectExplorer">
         </showInPart>         
         <actionSet id="com.ibm.xtools.modeler.ui.actions.ModelingActionSet">
         </actionSet>
         <actionSet id="org.eclipse.gmf.runtime.diagram.ui.DiagramActionSet">
         </actionSet>
         <view ratio="0.26" relative="org.eclipse.ui.editorss" visible="true" relationship="left" id="org.eclipse.ui.navigator.ProjectExplorer" minimized="false">
         </view>
         <view ratio=".66" relative="org.eclipse.ui.navigator.ProjectExplorer" visible="true" relationship="bottom" id="org.eclipse.ui.views.ContentOutline" minimized="false">
         </view>         
         <view ratio=".66" relative="org.eclipse.ui.editorss" visible="true" relationship="bottom" id="org.eclipse.ui.views.PropertySheet" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.views.TaskList" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.console.ConsoleView" minimized="false">
         </view>
         <view relative="org.eclipse.ui.views.PropertySheet" visible="true" relationship="stack" id="org.eclipse.ui.views.BookmarkView" minimized="false">
         </view>
         <viewShortcut id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.PropertySheet">
         </viewShortcut> 
         <viewShortcut id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>                       
         <viewShortcut id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.BookmarkView">
         </viewShortcut>
         <viewShortcut id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut id="org.eclipse.gef.ui.palette_view">
         </viewShortcut>                
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <perspectiveShortcut id="org.eclipse.cdt.ui.CPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.cdt.ui.CPerspective">
         <perspectiveShortcut id="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>      
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective">
         <actionSet id="org.eclipse.debug.ui.analysisActionSet"/>
      </perspectiveExtension>
   </extension> 
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective">
         <actionSet id="modelerSearchActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective">
         <view relative="org.eclipse.ui.navigator.ProjectExplorer" visible="false" relationship="stack" id="com.ibm.xtools.patterns.ui.authoring.internal.views.PatternAuthoringView">
         </view>
         <viewShortcut id="com.ibm.xtools.patterns.ui.authoring.internal.views.PatternAuthoringView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective">
         <actionSet id="com.ibm.xtools.publish.ui.internal.actions.PublishActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.newWizards">       
      <wizard
            canFinishEarly="true"
            category="spectraCXID"
            class="com.zeligsoft.domain.thalessdr.ui.wizards.ThalesProjectWizard"
            finalPerspective="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective"
            hasPages="true"
            icon="icons/wizban/thales-16.jpg"
            id="com.zeligsoft.domain.thalessdr.ui.modelProjectWizard"
            name="%wizard.project.name"
            preferredPerspectives="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective"
            project="true">
         <description>
            %wizard.project.description
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="spectraCXID"
            class="com.zeligsoft.domain.thalessdr.ui.wizards.ThalesModelWizard"
            finalPerspective="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective"
            hasPages="true"
            icon="icons/wizban/thales-16.jpg"
            id="com.zeligsoft.domain.thalessdr.ui.modelWizard"
            name="%wizard.model.name"
            preferredPerspectives="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective"
            project="false">
         <description>
            %wizard.model.description
         </description>
      </wizard>      
   </extension>    
   <extension
        point="org.eclipse.ui.perspectiveExtensions">
 	 <perspectiveExtension
 		targetID="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective">
  		<newWizardShortcut id="com.zeligsoft.domain.thalessdr.ui.modelProjectWizard"/>
  		<newWizardShortcut id="com.zeligsoft.domain.thalessdr.ui.modelWizard"/>  
     </perspectiveExtension>
   </extension>     
   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard 
            type="new"
            wizardId="com.zeligsoft.domain.thalessdr.ui.modelWizard">
         <enablement>
			<and>
			   <or>
		          <instanceof value="org.eclipse.core.resources.IProject"/>
			   	  <instanceof value="org.eclipse.core.resources.IProjectNature"/>
			   </or>
			   <test property="com.ibm.xtools.modeler.ui.currentPerspective" value="com.zeligsoft.domain.thalessdr.ui.ThalesPerspective"/>
		    </and>            
         </enablement>
      </commonWizard>   
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.ibm.xtools.modeler.ui.properties">
         <propertyTab
               afterTab="modeler.property.tab.GeneralPropertySection"
               category="Core"
               id="com.zeligsoft.propertyTab.ThalesSDRPropertyTab"
               label="Thales">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.ibm.xtools.modeler.ui.properties">
         <propertySection
               class="com.zeligsoft.cx.ui.properties.sections.DomainPropertySection"
               filter="com.zeligsoft.domain.thalessdr.ui.filters.ThalesSDRDomainFilter"
               id="com.zeligsoft.domain.omg.thalessdr.ui.propertySection"
               tab="com.zeligsoft.propertyTab.ThalesSDRPropertyTab">
         </propertySection>
      </propertySections>
   </extension>  
   
   <extension
         id="Thales ElementTypes"
         name="Thales ElementTypes"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">    
         <metamodel
             nsURI="http://www.eclipse.org/uml2/2.1.0/UML">
         	<adviceBinding
            	id="com.zeligsoft.domain.thalessdr.ui.Component"
            	typeId="com.ibm.xtools.uml.component"            
            	class="com.zeligsoft.domain.thalessdr.ui.edithelpers.ThalesComponentEditHelperAdvice"
            	inheritance="all">
         	</adviceBinding>
      	</metamodel>    
    </extension>   
   
    <extension
         id="Thales ElementTypeBindings"
         name="Thales ElementTypeBindings"
         point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <binding context="com.ibm.xtools.uml.type.context">
         <advice ref="com.zeligsoft.domain.thalessdr.ui.Component"/>  
      </binding>
      <binding context="com.ibm.xtools.mmi.core.context">
         <advice ref="com.zeligsoft.domain.thalessdr.ui.Component"/>                     
      </binding>
    </extension>  
    
         <extension
            point="com.zeligsoft.cx.ui.portTypeWizard">
         <PortType
               allowInterfaceCreation="true"
               concept="CORBADomain::IDL::CORBAInterface"
               domain="ThalesSDR"
               enableMultiSelection="false"
               showUsesList="false">
         </PortType>
      </extension>
    
</plugin>
