name: linux_build

on:
  push:
    branches:
      - master
      - papyrus
    tags:
      - v*
  pull_request:
    branches:
      - master
      - papyrus
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin' # rebranded adopt OpenJDK.
          java-version: '11'
      - name: Install RPM
        run: |
          sudo apt-get update && sudo apt-get -y install rpm
      - name: Checkout source
        uses: actions/checkout@v2
      - name: RPM Variables
        id: variables
        uses: actions/github-script@v3
        with:
          script: |
            const sha_short = context.sha.substring(0, 7)
            const ref_parts = context.ref.split('/')
            let tag='%nil'
            if( ref_parts[1] === 'tags' ) {
               tag = ref_parts[-1]
            }
            core.exportVariable('RPM_TAG', tag)
            core.info('RPM_TAG='+tag)
            core.exportVariable('GITHUB_SHA_SHORT', sha_short)
            core.info('GITHUB_SHA_SHORT='+sha_short)
      - name: Build DDS4CBDDS
        run: |
          ./mvnw -D "dds4ccm.root=$GITHUB_WORKSPACE" clean verify
      - name: Located Built archives
        id: built_archives
        uses: actions/github-script@v3
        with:
          script: |
            const patterns = {
                'ATCD': '**/target/dds4ccm_atcd_*.zip',
                'AXIOMA': '**/target/dds4ccm_axioma_*.zip',
                'DDK': '**/target/ddk_*.zip'
            }
            const variable_defs = {}
            for (const [var_base, pat] of Object.entries(patterns)) {
                const globber = await glob.create(pat, {followSymbolicLinks: false})
                const files = await globber.glob()
                if (files.length === 1) {
                    variable_defs[var_base + '_PRESENT'] = 'true'
                    variable_defs[var_base + '_PATH'] = files[0]
                    const path_parts = files[0].segments[files[0].segments.length - 1]
                    variable_defs[var_base + '_FILE_NAME'] = path_parts[path_parts.length - 1]
                } else {
                    variable_defs[var_base + '_PRESENT'] = 'false'
                }
            }
            for (const [var_name, value] of Object.entries(patterns)) {
                core.exportVariable(var_name, value)
                core.info(var_name + '=' + value)
            }
      - name: Build ATCD RPM
        if: ${{ env.ATCD_PRESENT == 'true' }}
        run: |
          rpmbuild -ba --clean -vv --define "_projectdir $GITHUB_WORKSPACE/releng/com.zeligsoft.dds4ccm.update.axcioma" --define "_git_commit_id $GITHUB_SHA_SHORT" --define "_git_tag $RPM_TAG" releng/com.zeligsoft.dds4ccm.update.axcioma/rpm_build/zeligsoftCX_axcioma.spec
      - name: Build AXIOMA RPM
        if: ${{ env.AXIOMA_PRESENT == 'true' }}
        run: |
          rpmbuild -ba --clean -vv --define "_projectdir $GITHUB_WORKSPACE/releng/com.zeligsoft.dds4ccm.update.atcd" --define "_git_commit_id $GITHUB_SHA_SHORT" --define "_git_tag $RPM_TAG" releng/com.zeligsoft.dds4ccm.update.atcd/rpm_build/zeligsoftCX_atcd.spec
      - name: Preserve ATCD Archive
        if: ${{ env.ATCD_PRESENT == 'true' }}
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.ATCD_FILE_NAME }}
          path: ${{ env.ATCD_PATH }}
      - name: Preserve AXIOMA archive
        if: ${{ env.AXIOMA_PRESENT == 'true' }}
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.AXIOMA_FILE_NAME }}
          path: ${{ env.AXIOMA_PATH }}

